[2020-01-14 13:57] shaunc commented on #862
An additional "extension of extensions" would be the ability to extend the profile of a dependency (or other external). This would allow factoring out common patterns. Hmm... logically could even allow mixins (multiple inheritance). ... No need to let the great stand in the way of the good though: simple local extension/inheritance would be very useful just by itself.

[2020-01-15 10:30] #864 closed

[2020-01-15 10:31] FabianKramm commented on #863
Implemented with #868

[2020-01-15 10:31] #863 closed

[2020-01-15 10:31] FabianKramm commented on #849
Implemented with #868

[2020-01-15 10:31] #849 closed

[2020-01-16 13:48] JJSwanevelder opened #871 "Directional sync options between pods"
**Issue**
We currently have a server pod and code residing on our local that needs to be synced to the pod/container. Issue currently is that the sync is bi-directional only and we don't necessarily want the containers files to sync with the repository on our local.

**Proposed solution**
To include in the "devspace sync" directional flags on how the sync takes place:

1. One direction
2. Bidirect

[2020-01-16 15:07] FabianKramm commented on #871
@JJSwanevelder thanks for opening this issue! Sounds like a reasonable use case, I think we should implement this.

[2020-01-17 03:00] shaunc opened #873 "Variable in dependency causes error"
**What happened?**

I have a dependency with a variable; when I include it and try to build I get the error:
[code]
**What did you expect to happen instead?**

At the very least, if variables in dependencies are not supported, this should be documented and a better error thrown. However, I would expect that they should be supported.

**How can we reproduce the bug?** (as minimally and precisely as

[2020-01-17 09:28] JJSwanevelder commented on #871
@FabianKramm Thank you so much. Will keep an eye out for this.

[2020-01-17 10:12] xiujuan95 opened #882 "devspace sync failed use of closed network connection"
**What happened?**
I want to use `devspace sync` command to copy local files into a pod. I configure my pod like this:
[code]
And then use below command to copy files:
`devspace sync --pod copy-file --local-path=/path/to/localFiles --no-watch`
But it failed. It showed me the below error:
[code]
I don't know if my steps to run this command is wrong or not? if it's wrong, how should I do about copyi

[2020-01-17 10:17] FabianKramm commented on #873
@shaunc thanks for opening this issue! Yes this seems to be a bug, I'll add the fix for this to the new release that is scheduled for today

[2020-01-17 12:47] FabianKramm commented on #882
@xiujuan95 thanks for opening this issue! As discussed in Slack the image `k8s.gcr.io/busybox` seems to be the problem. We have to investigate this further to determine what the exact problem with this image is.

[2020-01-17 13:15] #873 closed

[2020-01-17 17:11] shaunc opened #884 "Feature request: add "ssh" config (and build secrets) to docker image build options"
**Is your feature request related to a problem?**

I would like to use an ssh key to access a private repo during image building. Building independently, I can pass via:
[code]
[from https://medium.com/@tonistiigi/build-secrets-and-ssh-forwarding-in-docker-18-09-ae8161d066](https://medium.com/@tonistiigi/build-secrets-and-ssh-forwarding-in-docker-18-09-ae8161d066)

Multistage builds allow mounting

[2020-01-19 07:55] dsebastien commented on #832
Hello @LukasGentele . I haven't suffered from it in the last few days but have been working on other things. Let's close this issue for now, I don't want to be distracting for nothing. I'll ask to reopen if I stumble upon it again.

Thanks!

[2020-01-19 07:55] #832 closed

[2020-01-19 07:59] dsebastien opened #885 "Sync crash when a targeted pod dies"
**What happened?**
I've configured devspace sync to sync to multiple pods based on labels.
The sync starts normally and files are synchronized.
After a while, one of the pod dies or is killed manually (whatever the reason).
At this point, devspace sync seems to die because it lost contact with one of the targeted pods.

**What did you expect to happen instead?**
I would've liked for sync to just k

[2020-01-19 16:50] wickedev commented on #882
I had the same problem, but after running brew upgrade and restarting docker, the problem was solved. I do not know why.

[2020-01-20 09:25] FlorianKutz opened #886 "Prevent multiple image definitions with the same image name"
**Is your feature request related to a problem?**
In the `devspace.yaml` it is currently possible to specify the same image repository (`images.*.image`)  for multiple image definitions. We should prevent this or atleast show a warning in the config validation, because this can lead to unexpected behavior during deployment.

**Which solution do you suggest?**
To avoid issues with this, add a check

[2020-01-20 09:25] FabianKramm commented on #884
@shaunc thanks for opening this issue! I think it would be better to make a new config option `build.docker.options.cliArgs` and if anything is specified there, DevSpace will use the cli to build (when `build.docker.options.useBuildKit` is enabled then with the DOCKER_BUILDKIT=1).

With this option you are able to specify every command parameter that you want and we don't have to make a config opt

[2020-01-20 09:42] FabianKramm commented on #885
@dsebastien thanks for opening this issue! Currently `devspace sync` is designed to only have one target pod & container to sync to/from. Multiple targets would add considerable complexity (especially if you not only want to upload files to multiple pods), but of course you could just run `devspace sync` multiple times (however downloading from multiple pods into the same folder should be avoided,

[2020-01-20 10:49] FabianKramm commented on #882
After some investigation seems that the pod is not supporting the `tar` flag `z`, so gzip compression doesn't work there.

[2020-01-20 13:52] FabianKramm commented on #885
Should be fixed in v4.4.0

[2020-01-20 13:52] #885 closed

[2020-01-20 13:52] FabianKramm commented on #871
Implemented in v4.4.0

[2020-01-20 13:52] #871 closed

[2020-01-20 15:08] shaunc commented on #884
Sounds good! Fine for me.

For you the theoretical tradeoff would be if there were one way to get, say, build secret into docker and another into Kaniko, and you wanted to abstract from this. I haven't used Kaniko -- but a quick glance made it seem that they don't support build secrets yet, but that, when they do, they may also have general support for various options.

Thus IMO you are fine doing

[2020-01-21 02:30] xiujuan95 commented on #882
@FabianKramm Thanks for your kind reply! I have changed my image. Now it works, I think I can close this issue.

[2020-01-21 02:30] #882 closed

[2020-01-21 03:56] jmarbach opened #888 "DevSpace should print an error if profile configuration is invalid"
I am trying to configure my Rails application for deployment in both the development and production environments, however, I am not able to successfully deploy Rails in production.

**What happened?**

I configured a profile patch to replace the env variable `RAILS_ENV`:

[code]

I then ran `devspace dev -b -p production`

Requests to the root, `localhost:3000` returned an error:

[code]

When I r

[2020-01-21 09:12] FabianKramm commented on #888
@jmarbach thanks for opening this issue! There is a problem in the configuration at

[code]

this should look like

[code]

then it will work. So it is actually not really a bug, however we should improve the profile validation, because DevSpace should print an error in this case that the configuration is invalid.

[2020-01-21 12:13] FabianKramm opened #889 "Use charts.devspace.sh for component chart"
Since we want to make the separation between devspace and devspace-cloud more clear, it makes sense to move the devspace component chart repository from charts.devspace.cloud to charts.devspace.sh.

However, we still have to test if this would cause issues with helm deployments, since the repository of the chart is now essentially different.

[2020-01-21 12:20] FabianKramm commented on #884
@shaunc yes you are correct, however I think for now it makes more sense for us to allow some very common building config options for both docker and kaniko and some selected options for only docker and only kaniko (kaniko also supports custom args already), since this increases the overall building flexibility, because the custom build itself is not as easy to use.

Yes I think for your use case

[2020-01-21 16:30] shaunc opened #890 "Community devspace repo/registry/webpage"
**Is your feature request related to a problem?**

Just created [FactFiber/devspace-nginx-s3](https://github.com/FactFiber/devspace-nginx-s3),
which is simple service to serve files from a private s3 repository, together with a devspace.yaml to allow it to be used as a dependency.

This is a humble enough offering, but might be useful to someone else. Having other projects "prewrapped" in devspace

[2020-01-21 20:09] LukasGentele commented on #890
Thanks for this suggestion, @shaunc! I really like the idea of collecting links to repositories which contain a devspace.yaml and could serve as a dependency for others.

I will add a docs page for this list and an issue/PR template within the next few days. Great suggestion!

[2020-01-21 20:12] shaunc commented on #890
Great --- it would be nice if the template could collect metadata as well if necessary (e.g. especially subpath).

[2020-01-22 04:29] jmarbach commented on #888
@FabianKramm That worked, thank you!

[2020-01-22 18:19] jessebye opened #892 "Sync Error - upload archive: upload send: EOF"
**What happened?**
`devspace sync` fails with `Sync Error on /path/to/files: upstream: apply changes: apply creates: upload archive: upload send: EOF`.

Log showing the upload failures and then the Sync Error:
[code]

**What did you expect to happen instead?**
Local changes should have been uploaded with no error.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Using de

[2020-01-23 03:30] shaunc opened #893 "Add `devspace print` to debug patches"
**Is your feature request related to a problem?**

Debugging a series of patches seems unnecessarily cumbersome.

**Which solution do you suggest?**

A new cli command, `devspace print`, which prints the configuration for the current or given profile after all patching and variable substitution. Optionally, could merge configuration from dependencies.

**Which alternative solutions exist?**

Figur

[2020-01-23 03:41] jmarbach opened #894 "DevSpace should quit and display error message if it can't open ingress"
**What happened?**

For my production deployment I added a custom host to the ingress with the option `tls: true`:
[code]

I deployed my application and then ran `devspace open`. DevSpace continued to wait to open the ingress after it was not able to initially open the application at the ingress.

The command `devspace analyze` command indicated that nothing was wrong with the application's config

[2020-01-23 09:29] FabianKramm commented on #892
@jessebye thanks for opening this issue! The EOF error usually occurs when devspace tries to upload a file that changes the size while it is being tared. Is a program operating on these files while you try to upload them? Could you try to sync these files without any potential program modifying these files? Usually this can happen (although it shouldn't happen often), however devspace will just tr

[2020-01-23 09:30] FabianKramm commented on #893
@shaunc you can see the patched configuration in the UI under config, but we could also think about an additional command that just prints the loaded configuration.

[2020-01-23 12:42] jerlam06 opened #895 "Wrong documentation content for profiles.replace"
Documentation for profiles.matches and profiles.replace must be different:
https://devspace.cloud/docs/cli/configuration/profiles-patches#profiles-replace

[2020-01-23 13:38] shaunc commented on #893
Ah -- forgot about it in the UI. I found this feature helpful in serverless. I don't know if the UI even comes up if you have made a big enough blunder? :) But `print` could just deal with substitution so could be quite robust even if you aren't making sense.

[2020-01-23 13:39] shaunc commented on #893
(Could eventually be combine with other config management... lint? diff?)

[2020-01-23 15:07] #821 closed

[2020-01-23 15:08] #886 closed

[2020-01-23 15:09] #154 closed

[2020-01-23 18:13] jessebye commented on #892
@FabianKramm thanks for the context on why this usually happens! I'll try closing out anything that could be modifying files and see if it keeps happening.

[2020-01-23 22:38] LukasGentele commented on #894
@jmarbach Thanks for opening this issue and for the screen cast (that was really helpful!).

Generally this what happens: `devspace open` tries to connect to the custom domain via HTTPS (because it detects that the ingress is configured to use TLS as defined via `tls: true`). However, in order for HTTPS to actually work for the ingress, your cluster needs to provision a valid SSL certificate for t

[2020-01-24 03:06] irfani commented on #885
@FabianKramm I have the same sync problem after upgrading to v4.4. The issue was solved when I switch it back to v4.3.5

log message :
{"level":"error","msg":"Sync Error on D:\\Dev\\framework: Sync - connection lost to pod dev/app-0:  command terminated with exit code 139","time":"2020-01-24T09:43:55+07:00"}
{"level":"info","msg":"Sync stopped","time":"2020-01-24T09:43:55+07:00"}

[2020-01-24 06:34] irfani opened #897 "Sync problem connection lost to pod with exit code 139"
**What happened?**
Just upgraded to devspace v4.4.0 and then I have the sync problem.

sync.log :
[code]

**What did you expect to happen instead?**
Sync my local files to pod successfully

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- Operating System: windows
- Deployment method:kubectl apply

**Kubernetes Cluster:**
- Cloud Provider: google

[2020-01-24 08:53] #652 closed

[2020-01-24 09:14] FabianKramm commented on #897
@irfani thanks for opening this issue! Is there any way that we can reproduce this issue? Is it only not working for a certain image or for every image? Is it working with a local cluster? Any configuration I could test with?

[2020-01-24 10:46] FabianKramm commented on #893
Yes sounds good, I think we can do this

[2020-01-24 19:26] jmarbach commented on #894
Hey @LukasGentele,

Thanks for looking into this. In this case the DO cluster is connected to DevSpace cloud and I had already installed the certificate by following the same path you indicated. I also installed a SSL certificate on my DO load balancer. Maybe I have to use the SSL cert from the load balancer as a string instead of the boolean `true` which generates an SSL cert automatically? I don

[2020-01-24 20:13] LukasGentele commented on #894
@jmarbach Yes, you should be able to set `ingress.tls: [SECRET_NAME]` in devspace.yaml so that it matches the name of the secret for your SSL certificate in the same namespace. You can always check with `kubectl get ing -o yaml` what the `tls[*].secretName` says and check with `kubectl get secrets` if this secret actually exists and contains your SSL cert. Let me know if that is matching but you'r

[2020-01-27 08:15] wickedev opened #898 "dependencies profile is wrong indentation in document"
**What happened?**

dependencies profile is wrong indentation in document
https://devspace.cloud/docs/cli/deployment/advanced/dependencies

https://github.com/devspace-cloud/devspace/blob/master/pkg/devspace/config/versions/latest/schema.go

**What did you expect to happen instead?**
should change as follows:

[code]

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Lo

[2020-01-27 09:22] FabianKramm commented on #898
@wickedev thanks for opening this issue! We will fix this ASAP!

[2020-01-27 17:02] shaunc opened #900 ""serviceName" parameter in ingress specification not respected"
**What happened?**

I am creating an ingress as follows:
[code]
However, the generated ingress looks as follows (abridged):
[code]

**What did you expect to happen instead?**

Note that the deployed ingress has `serviceName: nginx-s3-ingress`, but the spec calls for `serviceName: nginx-s3`.

**How can we reproduce the bug?** (as minimally and precisely as possible)

The above snippet should give y

[2020-01-28 02:01] irfani commented on #897
I am using alpine based image. Just tried using another image php:7.1-apache-stretch, and I still got the same sync problem.

[2020-01-28 09:28] FabianKramm commented on #900
@shaunc thanks for reporting! @LukasGentele will fix this as soon as possible!

[2020-01-28 09:29] FabianKramm commented on #897
@irfani thanks for the additional information! It works for me with both images, so I think this might be cluster related. You mentioned you are using google cloud provider, could you tell us which GKE Kubernetes version you are using?

[2020-01-28 15:17] Lennix commented on #897
I'm having the same issue since 4.4.0. I'm running my own cluster with k8s version 1.13.12.

This is my devspace.yaml:

`version: v1beta6
images:
  default:
    image: myregistry/image
    createPullSecret: false
deployments:
  - name: ballance
    helm:
      componentChart: true
      values:
        containers:
          - image: myregistry/image
            name: default
        ingress:

[2020-01-29 01:49] irfani commented on #897
Hi Fabian, I am using K8s 1.14.8-gke.12.
Here is my devspace.yml
version: v1beta6
images:
  default:
    image: dscr.io/${DEVSPACE_USERNAME}/app
deployments:
- name: database
  helm:
    componentChart: true
    values:
      containers:
      - env:
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        - name: POSTGRES_USER
          value: postgres
        - name: POSTG

[2020-01-29 09:56] FabianKramm commented on #897
@irfani @Lennix thanks for the information! I just tested and it works for me with gke1.14.8 and gke1.13, the only error that looked somewhat similar that I encountered was a `Sync - connection lost to pod test2/test:  command terminated with exit code 137` when I tried to synchronize the root folder `/`. However, you are probably not trying to sync the root directory are you? Is the `devspace syn

[2020-01-30 08:44] jerlam06 commented on #893
The print command was implemented!

[2020-01-30 08:44] #893 closed

[2020-01-30 15:30] shaunc commented on #893
Thanks!

[2020-01-31 01:47] irfani commented on #897
Hi @FabianKramm  Now it works after upgrade to v 4.5. Thanks.

[2020-01-31 01:47] #897 closed

[2020-01-31 12:02] dsebastien commented on #885
I understand the current design of devspace sync, but I think that it would be nice for it to also support a one-way sync towards multiple pods.

In my case I have the following situation: two different pods run the same base image, which is basically the dev stage of my app's image. That image includes all the shared development dependencies and allows to run either the back-end or the front-end.

[2020-01-31 14:04] FabianKramm commented on #885
@dsebastien I understand your use case, however what does prevent you to add a different label to one of these base image pods?

[2020-02-04 21:52] chasebolt opened #903 "Sync not deleting local files"
**What happened?**
I removed the composer package `phpunit` from the `composer.json`.

**What did you expect to happen instead?**
I expected the local synced copy of `/vendor` to no longer contain `/vendor/phpunit` after redeploying. `composer install` is part of the `Dockerfile`. The file does not exist in the container (as expected), but it remains in my local environment.

**How can we reproduc

[2020-02-05 08:56] FabianKramm commented on #903
@chasebolt thanks for opening this issue! Does it work when you change the `uploadExcludePaths` to `excludePaths`?

[2020-02-05 14:40] shaunc commented on #730
As a variant of what @LukasGentele suggests, it could be done using docker's convention: if command is a list, then interpret as binary w/ arguments; if it is a string, then treat it as something to be run in a shell.

[2020-02-05 15:04] chasebolt commented on #903
i do not have a vendor folder locally so it will delete the remote vendor folder if i remove uploadExcludePaths.

[2020-02-05 15:09] chasebolt commented on #903
the vendor folder is created by composer install during the docker build. my users don't have composer installed on their workstation, but they do need this vendor folder synced locally for their IDE.

ideally it would be nice if we could have a flag for sync (if this isn't implemented in a way already) to say which side (local/remote) is preferred. i would flag the remote vendor directory is pref

[2020-02-05 17:36] shaunc opened #904 "patch vars fails"
**What happened?**

I would like to set a variable value depending on profile. However, patching fails; for example, the configuration:
[code]
Produces:
[code]

**What did you expect to happen instead?**

For the configuration to be printed, displaying the variable 'foo' set to value 'baz' at the top.

**How can we reproduce the bug?** (as minimally and precisely as possible)

The configuration ab

[2020-02-05 19:09] chasebolt commented on #903
ive also tried it with just

[code]

and it does not remove local files that do not exist on the remote. it will end up syncing the local files up to the remote.

[2020-02-05 20:19] shaunc opened #905 "problem with variables?"
**What happened?**

Trying to understand what was happening with variables, wrt to https://github.com/devspace-cloud/devspace/issues/904, I created a new configuration:
[code]
And tried to test:
[code]

**What did you expect to happen instead?**

I expected the variable FOO to be listed & substituted into hook ... also expected to be asked a value for it as I have a question defined.

**How can we

[2020-02-05 21:27] LukasGentele commented on #905
@shaunc Thanks for reporting this. One questions to better reproduce this: Did you set $FOO as environment variable in your terminal before running devspace or not?

If `source: env`, DevSpace should use either the environment variable or the value of `default` without asking a question if the environment variable is not defined.

However, as you defined `source: all` (which is also the default op

[2020-02-06 04:23] shaunc commented on #905
Introducing in the environment makes no difference.
[code]
In fact even an explicit set seems to make no difference:
[code]
Though it does have some effect:
[code]
I would suspect that something has been recently broken... I think variables were better-working previously. If you can't reproduce I'll reinstall and try again....

[2020-02-06 09:51] FabianKramm commented on #903
@chasebolt thanks for the information! The option `downloadOnInitialSync` means that initially files are downloaded. So I tried this with the quickstart example and it works for me as expected with the following configuration in local docker kubernetes / gke:

[code]

Then I run `devspace dev` and after everything is synced I delete a folder in the `node_modules` and the folder is also deleted loc

[2020-02-06 09:57] FabianKramm commented on #904
@shaunc thanks for opening this issue! Yes you are correct, it is currently not possible to patch variables as well as commands, because these parts are stripped out during the actual config loading process. We can think about supporting this, I actually think this is not very hard to implement.

[2020-02-06 09:59] FabianKramm commented on #905
@shaunc the syntax for variables is `${FOO}` not `$FOO`, I guess this is the problem

[2020-02-06 10:05] #905 closed

[2020-02-06 14:00] shaunc commented on #905
Ah -- sorry about that. :( ... I guess I was led into complacency by the report of "no vars" at top of print: I didn't know it was dependent on actual use of variable.

[2020-02-06 15:02] shaunc opened #906 "Cannot manage dependent deployments"
**What happened?**

Deployments of dependencies do deploy, but cannot be listed or purged from main project that deployed them.

**What did you expect to happen instead?**

I should be able to manage deployments (& images, etc) of dependencies as well as those declared directly in devspace.yaml

**How can we reproduce the bug?** (as minimally and precisely as possible)

In ./foo/devspace.yaml:
[co

[2020-02-06 19:03] BLoeT opened #907 "Skip init question for registry if current-context is docker-desktop"
**What happened?**
devspace init ask for registry to push for local context

**What did you expect to happen instead?**
skip question

**How can we reproduce the bug?** (as minimally and precisely as possible)
devspace init with docker-desktop context in project path on mac

**Local Environment:**
- Operating System: mac

**Kubernetes Cluster:**
- Cloud Provider: docker-desktop
- Kubernetes Versio

[2020-02-06 19:26] LukasGentele commented on #907
@BLoeT Thanks for opening this issue. I think that is a smart idea to make init better for local clusters. I still think we should ask the question in case users want to make their image accessible. I think it could be odd if the question does not come up depending on the context. I still think you have a valid point. I think a solution would be to add an option "Skip image push (for local cluster

[2020-02-06 19:28] BLoeT commented on #907
wow thanks for fast reply.

yeah i think this option would be perfekt and very useful :)

[2020-02-06 21:57] chasebolt commented on #903
the issue comes up when you stop `devspace dev`, remove a package from composer.json, and then run `devspace dev` again. the package that was removed wont exist on the remote, wont be deleted locally, and then the sync will sync the local package to the remote.

[2020-02-07 05:53] BLoeT opened #909 "deployment to given namespace in resource file yaml"
**What happened?**
**devspace.yaml:**
...
deployments:

* name: coredns
  kubectl:
  manifests:
  * coredns/coredns-cm.yaml
    flags:
    * "--namespace"
    * "kube-system"
      ...

**coredns-cm.yaml:**
apiVersion: v1
data:
Corefile: |
.:53 {
..........
}
kind: ConfigMap
metadata:
name: coredns
namespace: kube-system

Terminal command:
devspace deploy --skip-build

Error Message:
the namespace

[2020-02-07 08:53] benjamin658 commented on #909
I have the same issue here, currently I used commands as workaround:

[code]

[2020-02-07 09:31] benjamin658 commented on #909
Just append a namespace under coredns deployment.

[code]

[2020-02-07 09:31] FabianKramm commented on #909
@BLoeT thanks for opening this issue! DevSpace already uses the `--namespace` flag, so it will have no effect. You have to specify the namespace in the deployment as @benjamin658 pointed out.

[2020-02-07 09:35] FabianKramm commented on #903
@chasebolt yes you are correct, the documentation states that this is possible, however currently it isn't. The only workaround I currently see is deleting the folder on every `devspace dev` via a hook. However, we will definitively fix this in the next version.

[2020-02-07 09:38] BLoeT commented on #909
I thought this is like in the docs described:

so metadata.namespace would be enough.

Thank you very much for pointing this out @benjamin658 and @FabianKramm.

Maybe this should be in the docs.

[2020-02-07 09:39] FabianKramm commented on #906
@shaunc thanks for opening this issue! Yes you are correct, dependencies can currently only be deleted via `devspace purge --dependencies`, however not individually. We could add a flag for deleting them individually and also listing them, but if we dot that we should also add a flag to deploy them individually as well.

[2020-02-07 09:41] FabianKramm commented on #909
@BLoeT no currently we always add the `--namespace`, but we could think about skipping that if no namespace is defined via `devspace dev --namespace` or in the `deployment[*].namespace`

[2020-02-07 12:15] shaunc commented on #906
For the moment, I am managing dependencies by deploying them separately using a separate bash shell and fiddling with them there :( ... so yes: the current setup seems ok for integrating relatively static dependencies. It doesn't seemed well designed if you are "co-developing" various parts together.

Support for purging, listing, deploying would be great.

Perhaps further down the line you could

[2020-02-07 19:00] chasebolt commented on #903
Thanks for the suggested workaround!

[2020-02-07 19:15] LukasGentele commented on #900
This is fixed via: https://github.com/devspace-sh/component-chart/releases/tag/v0.1.1

Should be shipped with the next DevSpace release. If you don't want to wait, you can also replace `componentChart: true` with:
[code]
That will get you the newest version of the chart. However, using the `componentChart: true` option is recommended because DevSpace will validate the values as part of the config

[2020-02-07 20:18] shaunc commented on #900
Excellent ... saves annoying `kubectl edit`. :)

[2020-02-07 20:18] #900 closed

[2020-02-07 22:30] chasebolt opened #910 "pipelineerr: sync high cpu usage"
**What happened?**
sync, inside of the container, consistently shows high cpu usage (30-50%) in both minikube and managed DOKS. `.devspace/logs/sync.log` shows no file activity.

**What did you expect to happen instead?**
low cpu usage with no file activity

**How can we reproduce the bug?** (as minimally and precisely as possible)
laravel php project with \~10k files.

**Local Environment:**

* O

[2020-02-09 06:40] afmsavage opened #911 "Devspace CLI doesn't work on Windows when installed via npm"
**What happened?**
Installed devspace via `npm i -g devspace` but when I try to run it in my Powershell prompt, I get this error

[code]

**Local Environment:**
- Operating System: Win10 Pro, PScore ver 6.2.3
- node: v10.18.1 managed with nvm which is installed with scoop hence the weird paths in my error
- npm: 6.13.4

**Anything else we need to know?**
I attempted to hardcode the directory into

[2020-02-09 23:21] shaunc opened #912 "ingress creation: tls "true" is used as secret name"
**What happened?**

The documentation says that `tls: true` will use an auto-generated secret name. However, it actually generates an ingress with secret named "true". For example:
[code]
generates an ingress:
[code]

**What did you expect to happen instead?**

The "secretName" field should reference a more-appropriately-named autogenerated secret.

**How can we reproduce the bug?** (as minimally

[2020-02-10 00:04] LukasGentele commented on #912
Thanks for reporting this @shaunc. Should be fixed with v0.1.1: https://github.com/devspace-cloud/devspace/issues/900#issuecomment-583561471

Will be fixed for componentChart:true with the next DevSpace release as well.

[2020-02-10 00:05] shaunc commented on #912
Excellent! :)

[2020-02-10 00:05] #912 closed

[2020-02-10 02:41] shaunc opened #913 "Ingress w/ tls creation triggers erroneous certificate creation"
**What happened?**

When creating an ingress with `cert-manager.io/cluster-issuer: "letsencrypt-dev"` annotation, a Certificate is added to the manifest, which then gives the error on deploy:
[code]

The config is:
[code]
The output of `devspace render`:
[code]

**What did you expect to happen instead?**

I am using cert-manager-v0.12.0 which requires `apiVersion: cert-manager.io/v1alpha2`. But be

[2020-02-10 03:06] shaunc commented on #873
@FabianKramm -- this still seems to be happening in `devspace render`?

[2020-02-10 09:37] FabianKramm commented on #910
@chasebolt thanks for opening this issue! The sync in the container currently uses a polling technique to watch for file changes remotely (to support as many filesystems as possible), which can lead to increased cpu usage within a container if a lot of files have to be watched constantly. We could introduce an option where you can specify the poll interval or we could increase it automatically, if

[2020-02-10 13:01] LukasGentele commented on #911
@afmsavage Thanks for reporting this! It seems that npm is creating a .ps1 wrapper file which is broken. I will add a fix for this. In the meantime, just delete the file `C:\Users\afmsa\scoop\apps\nvm\current\nodejs\nodejs\devspace.ps1`. There should be another file just called `C:\Users\afmsa\scoop\apps\nvm\current\nodejs\nodejs\devspace.exe` which is the actual DevSpace binary. If you delete the

[2020-02-10 13:08] jenisov opened #914 "devspace deploy failes on Windows"
**What happened?**
quickstart-nodejs failes to deploy from windows:

`devspace deploy` reports `Unable to deploy helm chart` either because `not a valid chart repository` or `failed to download`

Note: local devspace installation (Ubuntu 18.04) works well.

**How can we reproduce the bug?** (as minimally and precisely as possible)
[code]

**Local Environment:**
- Operating System: windows
[code]

[2020-02-10 13:21] LukasGentele commented on #914
@jenisov Thanks for reporting this. It looks like your machine cannot download `https://charts.devspace.cloud/component-chart-v0.0.8.tgz`. Can you retry and if it still fails, can you see if it is possible to download the file via browser or wget?

[2020-02-10 13:23] ravening opened #915 "devspace sync throws connection lost error"
**What happened?**
Running `devspace sync` command throws connection lost error and repeats the same error forever

**What did you expect to happen instead?**
Expected devspace to sync the files between local path and the container running in the space

**How can we reproduce the bug?** (as minimally and precisely as possible)
create a deployment using `devspace deploy`
Now start the development m

[2020-02-10 13:28] FabianKramm commented on #915
@ravening thanks for opening this issue! This is actually expected behaviour, since you are trying to sync the complete remote root path `/` with your local folder. If this is desired, you can add a `--container-path /` flag, if not add the correct container path you want to synchronize to.

[2020-02-10 13:28] #915 closed

[2020-02-10 13:34] jenisov commented on #914
This is what I checked first, browser and wget can download https://charts.devspace.cloud/component-chart-v0.0.8.tgz

[2020-02-10 13:40] LukasGentele commented on #914
@jenisov Thanks! Can you also try to run `helm repo update` ? Another option would be to delete `$HOME/.helm/repository/cache` and `$HOME/.helm/cache`. Does that change anything?

[2020-02-10 13:42] LukasGentele commented on #911
Will be fixed with the next release of DevSpace. Thanks for reporting this!

[2020-02-10 13:49] jenisov commented on #914
I tried before `heml repo update`, it doesn't help. Clearing caches also changes nothing. `deploy` reports fatal either because ` Unable to deploy helm chart: looks like "https://charts.devspace.cloud" is not a valid chart repository` or because `Unable to deploy helm chart: failed to download "https://charts.devspace.cloud/component-chart-v0.0.8.tgz"` (I cannot catch the reason).

[2020-02-10 13:54] LukasGentele commented on #914
Are you using `componentChart: true` in your devspace.yaml? If yes, you could try to replace it with:
[code]
charts.devspace.sh is the new helm repository. We will switch to this one soon.

[2020-02-10 14:05] jenisov commented on #914
I'm not sure I put it in a right place, but setting chart's repo still gets fatal for "https://charts.devspace.cloud": `No connection could be made because the target machine actively refused it`

[code]

One thing: charts.devspace.cloud resoves to 157.230.120.63 and ping is ok, but `devspace` reports:

[code]

couldn't it be DigitalOcean problem?

[2020-02-10 14:21] ravening opened #919 "Create spring boot example"
**Is your feature request related to a problem?**
I have a simple Java Spring boot application which displays greeting message on navigating to localhost:8080/hello but devspace is unable to serve the port forward nor able to reload the code changed dynamically

**Which solution do you suggest?**
When I change the Java code, `devspace dev` should automatically reload the code and build the changes

[2020-02-10 14:22] LukasGentele commented on #914
You need to remove `componentChart: true`, otherwise the `chart` section will not have any effect.

[2020-02-10 14:25] jenisov commented on #914
Found a workaround:

Just download `component-chart` locally (`wget https://charts.devspace.sh/charts/component-chart-v0.1.1.tgz`), extract it and replace `componentChart: true` with
[code]

Look like `devspace` doesn't resolve `charts.devspace.cloud` and `charts.devspace.sh` correctly

[2020-02-10 14:42] FabianKramm commented on #919
@ravening thanks for opening this issue! Yes currently we are missing an example for spring boot, I think we should create one! However, generally speaking its just a matter of the right DevSpace configuration, I don't see any problem why DevSpace shouldn't work with spring boot applications.

[2020-02-10 15:07] chasebolt commented on #910
ok this makes perfect sense then. i assumed it used inotify with polling as a fallback. thanks.

[2020-02-10 15:12] chasebolt commented on #910
for the developer experience i wouldn't want to increase the sync time and will just bear down with the cpu usage until an inotify implementation is available. 👍

[2020-02-10 17:10] shaunc commented on #904
Thanks for the fix!

[2020-02-10 17:10] #904 closed

[2020-02-10 17:43] shaunc commented on #913
NB this seems to happen only with the new chart. If I put `componentChart: true` back in and take out reference to the `0.1.1` chart, the Certificate records go away.

[2020-02-10 22:51] kokoc opened #921 "status sync command fails on Mac"
**What happened?**
`devspace status sync` command is not able to parse content from `sync.log` on mac. Here is the exception(please use horizontal scroll to find the exception message):
[code]

Json from exception message looks wellformed and other json parsers are able to deserialize it.

**What did you expect to happen instead?**
`devspace status sync` command output contains parsed json content

[2020-02-11 01:38] afmsavage commented on #911
No worries.  I saw the devspace.exe.  I knew it was there yet it didn't click in my head to use it.  Thanks for the quick response and fix.

[2020-02-11 09:22] FabianKramm commented on #921
@kokoc thanks for reporting this issue! I'll investigate this and push a fix for the next version!

[2020-02-11 14:04] #921 closed

[2020-02-11 22:56] chasebolt opened #927 "devspace render runtime error"
**What happened?**
I ran `devspace render` with a config that includes dependencies

**What did you expect to happen instead?**
The rendered output

**How can we reproduce the bug?** (as minimally and precisely as possible)
My current `devspace.yaml` contains
[code]

**Local Environment:**
- Operating System: linux
- Deployment method: helm

**Kubernetes Cluster:**
- Cloud Provider: minikube
- Kub

[2020-02-12 00:56] LukasGentele commented on #913
Thanks for reporting this @shaunc. I took a closer look at this today.

You are right. The issue is that we currently ship v0.10 of cert-manager in DevSpace Cloud (that's what I tested with) and you seem to use v0.11+ which requires the new extensions/v1beta1 CRD version. Generally, it is okay to create the certificate resource instead of using the annotations. I decided for this option because it

[2020-02-12 02:04] #895 closed

[2020-02-12 02:04] #898 closed

[2020-02-12 09:35] FabianKramm commented on #927
@chasebolt thanks for reporting this! I'll fix this in the next version (which will come out the next days), currently this will only occur if you specify the namespace in the dependency and it should still work with namespace in `devspace dev` & `devspace deploy`.

[2020-02-12 10:52] ravening commented on #919
@FabianKramm Even I was thinking the same.. its just a plain hello world java application which should be same as other projects but didnt find any errors in the logs as well.

I did `devspace deploy` to deploy on the cluster and then `devspace dev` to start working on it.
If I make any changes to source code, I didnt see the package being compiled automatically.
The end point returned the same me

[2020-02-12 13:24] igoooor opened #933 "localSubPath is ignored by devspace sync"
**What happened?**
First of all, it all works correctly when running `devspace dev`
But if I run it with `devspace dev --exit-after-deploy`, and then run `devspace sync --config=devspace.yaml`, the sync does not work properly.
Here is the sync defined in **devspace.yaml**:
[code]

So when using `devspace dev`, the output of the sync is with the correct mapping of folders:
`[done] √ Sync started on

[2020-02-12 13:55] FabianKramm commented on #933
@igoooor thanks for opening this issue! Yes you are correct, seems like the config localSubPath is not correctly applied when loading the sync config from file.

[2020-02-12 14:03] #889 closed

[2020-02-12 14:03] #913 closed

[2020-02-12 14:19] #933 closed

[2020-02-12 15:47] igoooor opened #935 "UI couldn't start with --config file"
**What happened?**
When running `devspace dev --config=some-path/devspace.yaml` the UI fails to start with this output
[code]
It seems that the UI ignore the config file given as argument

**Local Environment:**
- Operating System: mac
- Deployment method: helm
- devspace version 4.5.0

**Kubernetes Cluster:**
- Cloud Provider: local with docker for mac
- Kubernetes Version: 1.16

/kind bug

[2020-02-12 16:59] igoooor opened #936 "devspace sync --all option"
**Is your feature request related to a problem?**
Not related to a problem

**Which solution do you suggest?**
When using `devspace sync --config some/devspace.yml` if you have multiple sync defined in your file, `devspace sync` will ask you which sync you want to start.
Having an option `--all` to start all sync at the same time with the same one command would be great :)
It would start all syncs

[2020-02-12 17:02] igoooor opened #937 "devspace sync --config in subdirectory fails"
**What happened?**
I ran `devspace sync --config ops/devspace/devspace.yaml` and the output is
[code]
If I copy my `ops/devspace/devspace.yaml` in my current directory and run `devspace sync --config devspace.yaml` it works properly

**Local Environment:**
- Operating System: mac
- Deployment method: helm
- devspace version 4.5.0

**Kubernetes Cluster:**
- Cloud Provider: local with docker for mac

[2020-02-12 17:14] igoooor commented on #910
Indeed if we could have an option to define the interval for local to container and one for container to local, I think that would be the best.
In my case, syncing back from the container to the local machine could be largely spaced out.

[2020-02-12 17:28] LukasGentele commented on #910
@igoooor a config option for the polling time interval for within the container is a good suggestion, I think. For local changes, we use file watchers anyways, so a polling interval is not required.

[2020-02-13 10:17] FabianKramm commented on #935
@igoooor thanks for reporting! Yes you are correct, seems like the ui server is ignoring this flag, I'll fix this.

[2020-02-13 10:23] FabianKramm commented on #937
@igoooor thanks for opening this issue! Yes you are also correct with this one, I'll fix this aswell

[2020-02-13 12:45] #935 closed

[2020-02-13 12:45] #937 closed

[2020-02-13 12:52] igoooor opened #939 "Support helm secrets plugin"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
Support for the plugin helm secrets [https://github.com/futuresimple/helm-secrets](https://github.com/futuresimple/helm-secrets)
helm secrets is a wrapper for the helm commands, allowing to use encrypted values files, using sops, and decrypting the files on the fly.

/kind feature

[2020-02-13 13:24] igoooor opened #940 "devspace run does not support --config"
**What happened?**
When running `devspace run my-command --config=some-path/devspace.yaml` it fails with this output

[code]

It seems that the `run` commands ignores the config file given as argument

**Local Environment:**

* Operating System: mac
* Deployment method: helm
* devspace version 4.5.0

**Kubernetes Cluster:**

* Cloud Provider: local with docker for mac
* Kubernetes Version: 1.16

/

[2020-02-13 13:33] LukasGentele commented on #940
@igoooor Have you tried `devspace --config=some-path/devspace.yaml run my-commanf`?

[2020-02-13 13:40] igoooor commented on #940
I just did, same result here:
[code]

[2020-02-13 16:51] igoooor opened #941 "Skipped building image when docker image is missing"
**What happened?**
I started my local config with `devspace dev --config=some-path/devspace.yaml` and it build and deployed everything successfully.
I then stopped my deployment `devspace purge --config=some-path/devspace.yaml`, I manually deleted the created docker images `docker image rm ...`.
Then I wanted to restart my application with `devspace dev --config=some-path/devspace.yaml` and this t

[2020-02-13 17:00] igoooor commented on #941
For some reasons, one of my container runs successfully (nginx) even though the image was missing before the `devspace dev`, it said "Skip building image" but then the image appears again in my `docker images`.
But the php image is still missing, and the container is indeed in ** ImagePullBackOff**

[2020-02-13 17:16] igoooor opened #942 "docs: add note about getting build output for multiple builds via --build-sequential flag"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
Related commands: `devspace dev` `devspace build`
Would be nice to have a flag to see the output of the `docker build` when building the image because at the moment we only see `[wait] ⠼ Building 1 image... (0s)`
some kind of `--verbose-build` or something

EDIT:
The goal of such option is to be able to debug

[2020-02-13 17:32] igoooor commented on #941
Actually another way to force the rebuild (when it should have happened already since the docker image is missing) is to delete the `./.devspace/` folder

[2020-02-14 02:26] shaunc opened #943 "devspace render: "\n" missing between documents in manifest"
**What happened?**

With 2 deployments, the resulting combined manifest produced contains no "\n" before document separator.

For example. In otherwise empty directory:
[code]
Then in ./devspace.yaml, add:
[code]
The result of `devspace render` is below. Note there is no newline at end. But in particular, look at line 82 -- spippet:
[code]
Full render output:
[code]

**What did you expect to happe

[2020-02-14 08:48] FabianKramm commented on #941
@igoooor thanks for opening this issue! A workaround would be to use `devspace dev -b` or delete the `.devspace/generated.yaml`, currently devspace does not check if the last built image is actually still available in the remote registry (or in the local case in docker itself, maybe we should do that?) and hence your described problem can happen. Usually this can be easily resolved if you just add

[2020-02-14 08:52] FabianKramm commented on #940
@igoooor currently devspace is ignoring flags for the `devspace run` command and passing all specified flags to the defined command, wether the flag was defined before the `run` or after doesn't matter currently. This has mostly technical reasons, because we use cobra internally and the `DisableFlagParsing` option there. We could think about parsing flags that were specified before the `run` comma

[2020-02-14 08:55] FabianKramm commented on #936
@igoooor yes I think that is a good idea. Implementation shouldn't be too hard since the functionality is basically already there.

[2020-02-14 09:02] FabianKramm commented on #939
@igoooor thanks for opening this issue! We usually try to avoid implementing support for specific plugins, however I definitively see the use case and think we could add a more general solution for use cases like this:
[code]

This would allow you to use any helm wrapper and custom flags for deployment, purge and template. What do you think about this?

[2020-02-14 09:04] FabianKramm commented on #942
@igoooor thanks for opening this issue! This actually already exists with the `--build-sequential` flag, where the output of docker will be shown.

[2020-02-14 09:06] FabianKramm commented on #943
@shaunc thanks for opening this issue! Yes you are correct, this should be easily fixed and we'll add this to the release today!

[2020-02-14 09:06] igoooor commented on #939
That sounds really great!
A workaround I've used meanwhile is to use a hook and manually decrypt the secret file, and use the decrypted file as **valuesFiles: []**

[2020-02-14 09:08] igoooor commented on #942
Maybe somewhere in the doc or cli help that information could be added :)
Thanks! 👍

[2020-02-14 09:09] FabianKramm commented on #939
@igoooor yes that is also possible! I will add this to the todo list!

[2020-02-14 09:13] FabianKramm commented on #942
@igoooor yes that is true! @LukasGentele can you add this to the documentation?

[2020-02-14 09:14] FabianKramm commented on #907
This is fixed and will be released today

[2020-02-14 09:14] #907 closed

[2020-02-14 09:46] FabianKramm commented on #943
Should be fixed in v4.5.1

[2020-02-14 09:46] #943 closed

[2020-02-14 09:46] FabianKramm commented on #927
Should be fixed in v4.5.1

[2020-02-14 09:46] #927 closed

[2020-02-14 09:48] FabianKramm commented on #906
@shaunc devspace v4.5.1 adds support to individually deploy, render & delete dependencies via the new `--dependency` flag

[2020-02-14 09:49] FabianKramm commented on #884
Implemented with v4.5.1

[2020-02-14 15:38] igoooor commented on #936
Cool! can't wait for it :D

[2020-02-14 19:39] LukasGentele commented on #919
@ravening I will take a look at this and write a blog post about how to configure DevSpace for spring boot with hot reloading. We might add that as a java quick start guide as well.

[2020-02-14 19:47] LukasGentele commented on #914
We are not able reproduce this issue so far. I'm working on Windows 10 myself using DevSpace and cannot reproduce this. To me it seems like a network issue which cannot be addressed by DevSpace.  Does it still exist with today's release?

If the issue still exists, the following things would be worth testing:
- Are you able to reproduce this on another machine (e.g. one of your colleagues or frien

[2020-02-16 20:22] jenisov commented on #914
I've updated to 4.5.2 and now I cannot reproduce the issue.

[2020-02-17 18:44] LukasGentele commented on #914
Thanks for checking this again. Great that the issue seems resolved. Closing this for now. Feel free to reopen this issue if the problem occurs again.

[2020-02-17 18:44] #914 closed

[2020-02-17 23:30] chasebolt opened #946 "dependency of a dependency does not deploy in correct order"
**What happened?**
Dependencies failed to deploy in order I expected. Project A depends on B which depends on C. Project B was deployed before C which failed the deployment.

**What did you expect to happen instead?**
Project A depends on B which depends on C. I expected C to be deploy, then B, and then finally A.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Project

[2020-02-18 02:58] shaunc commented on #906
Thank you for that. I don't know if you're interested in dependencies that merge devspace.yaml ("first class dependency integration"), and if so, whether you want another issue to track it? (Otherwise, can close.)

[2020-02-18 03:02] shaunc opened #947 "Can't build dependency with image tag including DEVSPACE_GIT_COMMIT"
**What happened?**

I have included a dependency:
[code]
Which configures tags as:
[code]
When I try to deploy, I get the message:
[code]

**What did you expect to happen instead?**

I expect that, since devspace is loading the dependency from a git repo, it should be able to figure out the commit.

**How can we reproduce the bug?** (as minimally and precisely as possible)

I believe that the abov

[2020-02-18 09:43] FabianKramm commented on #946
@chasebolt thanks for opening this issue! Yes you are correct, this is a bug, currently the order is reversed, I'll create a fix today.

[2020-02-18 13:41] FabianKramm commented on #906
@shaunc yes I think a separate issue would be good for this. However, I'm not completely sure if I understand the "first class dependency integration" correctly: you basically want to merge the dependent configs into the current one?

While I think this would open up new possibilities in terms of flexibility this could make the relationship between them also more brittle, especially with patches t

[2020-02-18 13:42] #906 closed

[2020-02-18 13:42] FabianKramm commented on #947
@shaunc thanks for opening this issue! This should be fixed with #948

[2020-02-18 13:43] #947 closed

[2020-02-18 13:43] FabianKramm commented on #946
Should be fixed with #948

[2020-02-18 13:43] #946 closed

[2020-02-18 14:47] jenisov commented on #914
Unfortunately last hour the problem is risen again. Updating devspace to 4.5.3 did not help.
Will check on other network later.

[2020-02-18 15:23] LukasGentele commented on #914
Yes. If it happens irregularly, it is even more reason to believe that this is a network issue. FYI: the chart registry is currently hosted on GCP.

[2020-02-18 16:25] chasebolt commented on #946
thank you

[2020-02-19 16:19] igoooor opened #949 "docker image not being built (Skip building image)"
**What happened?**
I have one project with two images (named **app-php** and **app-nginx**)
While running `devspace dev` I noticed one of my image (**app-php**) not being built when it should have been.
So to be sure, I did the following:
[code]
Then I ran `devspace dev` again, and the same image was skipped again.
This only happened recently, and I have not clue why.
I took that same project, ins

[2020-02-19 16:22] igoooor commented on #949
Here is the devspace.yaml
[code]

[2020-02-19 17:05] igoooor commented on #949
Here is a simple project example: https://github.com/igoooor/test-devspace-build
For me, simply cloning it and then running `devspace dev` ends in the problem above.

[2020-02-19 17:25] igoooor commented on #949
So, since I have no idea what's going on, I completely delete my docker cache (deletes all images locally), and I reseted my kubernetes cluster (docker for mac reset)
I then ran `devspace dev` and I end up in the same situation again... my first image (php) won't build.
Here is the output:

[code]

The nginx docker image is showing in `docker images` as expected, but not the php image.
My php cont

[2020-02-19 17:26] LukasGentele commented on #949
@igoooor Thanks for the detailed bug report. We will fix this very quickly and then ship a new release with a patch tomorrow.

[2020-02-19 19:10] chasebolt opened #950 "vars asks question if source: env and not found"
**What happened?**
devspace keeps asking to define a var and does not use `default`.
[code]

**What did you expect to happen instead?**
If the var is not found in the env, then fallback to using `default` with no additional intervention.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Do not set an env for DEVSPACE_APP_NAME

[code]

**Local Environment:**
- Operating Sy

[2020-02-19 19:15] chasebolt opened #951 "ability to define vars without being overridden"
**Is your feature request related to a problem?**
I would like to define vars without the user being able to override them via env variables.

**Which solution do you suggest?**
adding a `source: none` which relies only on `default:` for its value.

**Which alternative solutions exist?**
This sorta works but it allows the user the ability to override the var with an env variable.

[code]

**Additi

[2020-02-19 23:56] chasebolt opened #952 "dev.open opens last url multiple times"
**What happened?**
I have multiple urls defined for `dev.open` and when running `devspace dev` it opens the last url defined N times (N being the amount of urls defined)

**What did you expect to happen instead?**
To open all urls defined

**How can we reproduce the bug?** (as minimally and precisely as possible)
Define two urls urls and it will open the last one twice.
[code]

**Local Environment

[2020-02-20 01:44] shaunc commented on #884
Hmm... args still need DOCKER_BUILDKIT=1 -- doesn't seem to be picking up from env?

Do you want another issue for that?

[2020-02-20 06:29] zadigus opened #954 "A way to get deployment feedback"
**Is your feature request related to a problem?**
In my CI / CD pipeline, I would like an easy way to get feedback on how my deployment is doing. Indeed, in such a pipeline, I want e.g. to build, unit test, deploy to staging, test my staging environment, deploy to production. To do so, I need a way to know when I can start my staging tests, i.e. I need the guarantee that the relevant services are

[2020-02-20 07:48] FabianKramm commented on #951
@chasebolt thanks for opening this issue! This sounds useful, we should do that!

[2020-02-20 07:52] FabianKramm commented on #952
@chasebolt thanks for reporting! Yes that is true, I'll fix this.

[2020-02-20 07:55] FabianKramm commented on #954
@zadigus thanks for opening this issue! Have you tried `devspace analyze` and `devspace list deployments`? Devspace analyze will check for problems in the namespace and also verify the pods are running and not in a failure state.

[2020-02-20 08:00] FabianKramm commented on #950
@chasebolt thanks for opening this issue! This is working for me like it should with:

[code]

No question is asked and devspace deploys the chart without asking with the value `fabian`. Could you provide a `devspace.yaml` which causes this issue?

[2020-02-20 08:34] #949 closed

[2020-02-20 08:34] #952 closed

[2020-02-20 15:36] zadigus commented on #954
No, I haven't. I'll try that out and come back to you. Thanks for the advice!

[2020-02-20 16:30] shaunc opened #956 "`devspace use context` not effective"
**What happened?**

[code]

**What did you expect to happen instead?**

After using "use context" it shouldn't warn me about the obsolete last context.

**How can we reproduce the bug?** (as minimally and precisely as possible)

Presumably the above will let you recreate. NB that I have already separately switched contexts in kubectl.

**Local Environment:**
- DevSpace Version: [use `devspace --ve

[2020-02-20 17:19] chasebolt commented on #950
it could be that `DEVSPACE_APP_NAME` is used in a dependency and not in the main `devspace.yaml`. try this out:

main/devspace.yaml
[code]
dep/devspace.yaml
[code]

`devspace print` will output
[code]

and if you run `devspace dev` it will ask the question
[code]

[2020-02-20 18:25] FabianKramm commented on #950
@chasebolt thanks for providing the example. You'll have to define the variable (source + default) in the dependency config to make this work, currently only the variable values are reapplied to the dependency, but not the variable definition, since we haven't defined what would happen if you have a variable definition in the parent config and a different definition in the dependency config, hence

[2020-02-20 19:00] chasebolt commented on #950
ok that makes sense on the current issue.

my use case, i need the variable to bubble up to dependencies. i have a dependency for mysql which i need to deploy multiple times. here is an example of my mysql dependency where you will see the deployment name uses a variable so it can be deployed multiple times on the same cluster with different names. i have this single mysql dependency in multiple p

[2020-02-21 07:53] LukasGentele opened #957 "docs: upgrade and restructure docs"

[2020-02-21 09:51] FabianKramm commented on #956
@shaunc thanks for opening this issue! `devspace use context` is a project independent command and does not switch the projects context, thats why you get the warning. However, I understand that its a problem to switch a projects current context/namespace, because currently that is not really possible without executing `devspace dev/deploy --no-warn` once. Maybe we could add a flag to the `devspac

[2020-02-21 13:25] shaunc commented on #956
Yes -- flag is a good idea. (I would sort of expect it as default, as I can always type `kubectl config use-context`), but either way. Thanks!

[2020-02-21 13:38] shaunc commented on #956
Maybe it would also be appropriate to tweak the "--no-warn" message to say "... and switch the project context" (or something similar).

[2020-02-21 14:09] LukasGentele commented on #956
Not sure if a flag is doing anything good here. What @shaunc describes is an expectation issue of the user. An optional flag is not going to change that because then the flag should be default true/enabled. A flag which is default true however is not possible because the command should work project independent as @FabianKramm said.

Additionally an optional flag is unnecessary as it does not matte

[2020-02-21 14:58] shaunc commented on #956
`"Switching kube-context for project as well"` ... I would like that. Other `devspace use` commands are not project independent (e.g. `devspace use profile`). If it switches contexts in a project it still switches the global context as well, so presumably the "project independent" use case is still satisfied, except for the small sliver of users who are in a project, and want to switch the global

[2020-02-24 17:54] LukasGentele commented on #894
The issue with this was a missing annotation in the ingress. It should be fixed in the newest release. However, `ingress.rules[].tls` has been replaced with `ingress.tls`. Setting this option to true will actually lead to cert-manager provision the certificate and storing it in the appropriate secret. Please feel free to reopen if there are further issues related to the tls settings of components.

[2020-02-24 17:54] #894 closed

[2020-02-25 18:23] shaunc opened #958 "make deploy and purge options consistent"
**Is your feature request related to a problem?**

Short option "-d" means different things for purge and deploy.

Currently for deploy:
[code]
But for purge
[code]

**Which solution do you suggest?**

Use '-d' for short option for deployments for both; for `--force-deploy` short option should be `-f`.

**Which alternative solutions exist?**

Getting used to the inconsistency? Always using the lon

[2020-02-26 07:40] zadigus opened #960 "Cannot deploy bitnami helm chart"
**What happened?**
I am working with the kubernetes cluster available through Docker for desktop under windows. I am using helm v2, as I am currently evaluating devspace and my current deployment tool is skaffold, which does not cope well with helm v3. Therefore, I performed the following actions:
[code]
Then, I created a special namespace for my deployments with devspace:
[code]
After that, I wro

[2020-02-26 09:33] FabianKramm commented on #960
@zadigus thanks for reporting this issue! I suspect this is caused by the helm repo caching between versions (there are sometimes issues when using v2 and v3 together) and should be fixed by deleting the `~/.helm` folder, alternatively you can tell devspace to just use helm v2. The config you provided will use helm v3, so if you want to test devspace with helm v2 you can enable that via the v2 pro

[2020-02-26 09:40] FabianKramm commented on #958
@shaunc thanks for opening this issue! Yes that is true the `devspace purge` command is a little special in this regard and differs from the `devspace dev` and `devspace deploy` commands. I'd rather suggest to rename the `-d` shortcut from the `devspace purge` command or even delete it completely for `devspace purge`, since `-f` for `devspace deploy --force-deploy` could be confusing with `--force

[2020-02-26 10:11] zadigus commented on #960
It works fine if I use
[code]
Thanks for the hint.

[2020-02-26 10:11] #960 closed

[2020-02-26 11:52] zadigus commented on #954
So, first attempt. I am deploying a `bitnami/postgresql-ha`. After the call
[code]
I run
[code]
with the result
[code]
However, this is non-blocking. I need to have a command that really waits for the deployment to be done on my ci / cd. Otherwise, how does my pipeline know that it can start with the tests on the deployed services? I could write a loop running that `devspace analyze` command, but

[2020-02-26 14:49] shaunc commented on #958
hmm... how about `-i --include-dependencies` for all? (can keep long form `--dependencies` for backward compatibility)?

[2020-02-26 15:42] FabianKramm commented on #958
@shaunc I'm not exactly sure what you mean with the flag `--include-dependencies`, is it running `--force-deploy`, `--force-build` and `--force-dependencies` together?

[2020-02-26 15:49] FabianKramm commented on #954
@zadigus I see, so essentially you want to deploy everything in the beginning (thats why you cannot use `deployments.*.helm.wait` and then wait for a certain timeout till all the deployments become eventually ready, is that correct?

[2020-02-26 15:49] shaunc commented on #958
What I mean is to have `--include-dependencies` include a specifically specified set of dependencies, rather than all of them, which is the default. (For symmetry one could also add `--exclude-dependencies` to include all but a given list of dependencies. However, that isn't actually going to be useful that often presumably.) Include/exclude specifications for lists are a convention users are prob

[2020-02-26 15:51] Ucandoit opened #961 "panic: runtime error: invalid memory address or nil pointer dereference"
When I use the commande `devspace use namespace`, I got the following error:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x88 pc=0x1d4cd47]

goroutine 1 [running]:
github.com/devspace-cloud/devspace/cmd/use.(*namespaceCmd).RunUseNamespace(0xc00135235b, 0x2a127a0, 0x412f590, 0xc001367b80, 0x412f590, 0x0, 0x0, 0x0, 0x

[2020-02-26 16:01] FabianKramm commented on #958
@shaunc Okay, maybe I'm getting something wrong here, but I thought this is about the `--deployments` flag?  You can specify individual dependencies via the `--dependency` flag for `devspace deploy` and `devspace purge`. The process how devspace is deploying things is basically like this:
1. For all dependencies (or only the dependencies that are defined via `--dependency`)
  1a. Check if a depend

[2020-02-26 16:05] shaunc commented on #958
ach -- sorry; yes -- take all my comments above and change `dependency` to `deployment` -- will change for legibility!

[2020-02-26 17:28] FabianKramm commented on #961
@Ucandoit thanks for opening this issue! I'll fix this tomorrow, but this panic only occurs if the kube config cannot be loaded, so please make sure you have a valid kube config and `kubectl` works for you.

[2020-02-26 17:52] FabianKramm commented on #884
@shaunc yes please create another issue for this!

[2020-02-26 17:52] #884 closed

[2020-02-26 18:07] shaunc opened #962 "docs: document args and useBuildKit for docker builds"
**Is your feature request related to a problem?**

The fix for https://github.com/devspace-cloud/devspace/issues/884 in https://github.com/devspace-cloud/devspace/commit/8e600df08f57cd3b163113bc2c7125f92681e6eb allows command-line arguments to be passed to docker. However, it was not evident or mentioned in PR or documentation that there was an option to turn on buildkit for docker. Inspecting the

[2020-02-26 21:59] tomasc opened #963 "feature: profile preview"
**Is your feature request related to a problem?**
no

**Which solution do you suggest?**
Functionality to the CLI command that prints out the config file for a specified profile. It would help to make sure the patch/replace instructions I write in the profile have the desired effect.

**Which alternative solutions exist?**
Perhaps looking into the applied config through the UI?

**Additional conte

[2020-02-26 22:16] LukasGentele commented on #963
We actually added the command `devspace print` recently which prints the config after profiles are applied and config vars are filled in. You can specify the global flag `-p / --profile` to print the config using a certain profile: `devspace print -p my-profile`

Does that solve your feature request or is there anything else missing?

https://github.com/devspace-cloud/devspace/releases/tag/v4.5.0

[2020-02-26 22:21] tomasc commented on #963
Oh fantastic, I must have missed it.
Thanks for such a prompt response, and for devspace itself — I am new to it and so far really enjoy using it.

[2020-02-26 22:21] #963 closed

[2020-02-26 23:28] LukasGentele commented on #958
I don't think we can change the `-d` flag for `devspace deploy` because it is also in `devspace dev` and it is one of the most important flags for many users. A breaking change like this would not be easy.

I agree that it is inconsistent with `devspace purge` but expecting `-d` as `--force-deploy` for purge makes no sense, so I believe it is not really a danger of getting mixed up. The only optio

[2020-02-26 23:55] shaunc commented on #958
Hmm.. how about adding the `-I`/`--include-deployments` as an alias? It came up for me because when working on the config of a particular deployment I often type `devspace purge -d foo && devspace deploy` ... and when there was another deployment that was in an odd state I didn't want to think about at the moment, I automatically added `devspace purge -d foo && devspace deploy -d foo`, which, it t

[2020-02-27 01:13] LukasGentele commented on #890
@shaunc I am adding this to the new docs right now. Would you mind adding a LICENSE file to your project that is either MIT or Apache-2.0. That would make it easier to endorse it in the docs.

[2020-02-27 01:23] shaunc commented on #890
ok -- latest release adds License. Also have adapted https://github.com/FactFiber/devspace-nginx-auth-jwt for devspace

[2020-02-27 04:59] shaunc opened #964 "devspace purge --dependency hangs"
**What happened?**

with config:
[code]
On command:
[code]
devspace hangs

**What did you expect to happen instead?**

To give an error. Also if I somehow refer to the dependency, I should be able to purge its deployments. Only, how to refer to it? Can I refer to specific deployment in a dependency? (`foo.bar`? `foo/bar`?)

**How can we reproduce the bug?** (as minimally and precisely as possible)

[2020-02-27 05:02] shaunc commented on #964
NB -- how about that -- seems that devspace dependency takes `name` field. It is not in the docs. However, if you do put it in then you can purge it. On the other hand, if you try to purge something else, still will hang, so the bug is still a bug. (Also `name` should be documented.)

[2020-02-27 06:43] zadigus commented on #954
@FabianKramm yes, it is. After some discussions with you or your colleague on the support chat, I came up with the following (yet not perfect) script that I can call in the devspace hooks, after all deployments:
[code]
That script's outputs are definitely less user-friendly than the devspace outputs. It should also, in my personal case, wait until all jobs are done, which is a pretty easy thing to

[2020-02-27 07:34] zadigus commented on #954
I just have one issue with the above script. I've stored it under `scripts/wait_for_deployments.sh`. I am working with git bash in my dev environment. Defining the hook like this doesn't work:
[code]
I get the following error:
[code]
How do I make it work in git bash and in any linux terminal?

[2020-02-27 08:06] #890 closed

[2020-02-27 08:06] #942 closed

[2020-02-27 08:06] #957 closed

[2020-02-27 08:06] #962 closed

[2020-02-27 08:21] FabianKramm commented on #954
@zadigus thanks for the additional information. After some consideration, I think we will add a new `--wait` flag to `devspace deploy` that is basically doing what you want in that it waits for a certain timeout (specified via `--timeout`) for all the deployments / replicasets in a given namespace and we also add a `devspace analyze --patient` flag that ignores any error until the given timeout, w

[2020-02-27 08:29] FabianKramm commented on #903
@chasebolt After some discussion, we came up with the following format: we will introduce a new sync property called `initialSync` that specifies the initial sync strategy devspace will do. There are 4 different options:
- mirrorLocal: basically mirrors the local state onto the remote state (overrides outdated files and deletes files remotely that are not there locally, the current default)
- mirr

[2020-02-27 08:45] FabianKramm opened #971 "remove helm v2 as dependency"
Helm v2 is not updated in the same pace as helm v3 and hence has outdated dependencies such as kubernetes (still 1.16.2). Since we have helm v2 and v3 as a dependency we are tied to their dependency versions aswell, which means we cannot update any dependencies that are also not updated in helm v2. In order to remove this direct dependency, we have to remove helm v2 as an internal dependency and s

[2020-02-27 08:47] FabianKramm commented on #862
Since this comes up a lot lately, we should implement it!

[2020-02-27 14:22] zadigus opened #972 "Tag the built docker images with both the configured tag and "latest""
**Is your feature request related to a problem?**
In my case, it's not a big issue, I have a work-around. I would like to use in the devspace commands some of the docker images I've built because they run k8s jobs that base on built images. Because I use the random tag in development, it's pretty difficult to provide the corresponding k8s manifests with the relevant docker image tags in that comma

[2020-02-27 15:10] igoooor commented on #972
I had the same issue as well, would be good to have indeed.

[2020-02-27 15:49] shaunc opened #974 "docs: new doc website lacks documentation of service and ingress"
**What happened?**

Wanted to review "ingress" configuration info, but seems to be missing.

**What did you expect to happen instead?**

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- Operating System: windows | linux | mac
- Deployment method: helm | kubectl apply

**Kubernetes Cluster:**
- Cloud

[2020-02-27 15:51] shaunc opened #975 "devspace render: still can't read variables"
**What happened?**

After adding a variable to the configuration:
[code]

**What did you expect to happen instead?**

Question for new variable value.

**How can we reproduce the bug?** (as minimally and precisely as possible)

Should be simple -- will post example if you want.

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- Operating System: windows | linux | mac
- Deploy

[2020-02-27 15:56] FabianKramm commented on #975
@shaunc thanks for opening this issue! It should work if you set the `--show-logs` flag, otherwise we prevent devspace from writing anything other than the rendered manifests to stdout.

[2020-02-27 15:57] FabianKramm commented on #972
@zadigus thanks for opening this issue! Yes we should do that

[2020-02-27 16:08] shaunc opened #976 "ingress w/ tls secret doesn't render tls specification"
**What happened?**

I am trying to create an ingress with a "tls" section by specifying `tls: secretName`. However, this doesn't work. For example,
[code]
Results in the following ingress specification:
[code]
[code]

**What did you expect to happen instead?**

I expect, under `spec` there will be a tls section as follows:
[code]

**How can we reproduce the bug?** (as minimally and precisely as po

[2020-02-27 16:20] shaunc commented on #975
Thats fair -- but how about a better error? :)

[2020-02-27 16:21] shaunc commented on #975
(Also, couldn't it ask the question on stderr?)

[2020-02-27 19:05] chasebolt commented on #903
Thank you, that sounds like an elegant solution to this issue. 👍

On Thu, Feb 27, 2020 at 02:29 Fabian Kramm <notifications@github.com> wrote:

[2020-02-27 19:45] shaunc opened #977 ".env file for changing defaults of flags for CLI commands"
**Is your feature request related to a problem?**

In one project, I build two images, one that depends on the 2nd. For this to work, I need to specify `--build-sequential` every time I build. Occasionally I forget and wait through a build only to have it fail.

**Which solution do you suggest?**

In the configuration, there could be an `options` section, in which you could specify default options

[2020-02-27 20:17] LukasGentele commented on #977
That is a pretty smart idea, I think. I would name the config section more specific, e.g. `defaultFlags`, `cliDefaults`, `commandDefaults` or something like that. In general, I think this is cool because users can customize the defaults for all relevant commands on a per-project basis.

For teams, this would let config maintainers adjust the behavior of DevSpace to the needs of their developers wi

[2020-02-27 20:58] LukasGentele commented on #972
Instead of `images.[name].tag`, we could add `images.[name].tags` which could be an array of tag schemata. That would be most flexible and very easy to automatically migrate existing configs.

[2020-02-27 21:02] LukasGentele commented on #974
There is actually a separate documentation site for this now: https://devspace.sh/component-chart/docs/introduction

The reason for this is that the component-chart is independent of DevSpace, i.e. it can be used with helm directly, and it also has an independent release cycle, i.e. the versions are not the same and the code is also in a different GitHub repository. There are a couple of links in

[2020-02-27 21:03] LukasGentele commented on #976
@shaunc Are you setting `ingress.tls = secret-name` or `ingress.rules[].tls = secret-name`?

[2020-02-27 21:45] shaunc commented on #974
Ok -- great. Yes ... a couple more links please! :)

[2020-02-27 21:45] #974 closed

[2020-02-27 21:58] shaunc commented on #976
Ah -- your right! Does work in ingress.tls. (Indeed this was what I was looking in the ingress documentation for, which I couldn't find on new site.) Sorry about that!

[2020-02-27 21:58] #976 closed

[2020-02-28 01:35] shaunc commented on #977
Making them patchable by profile would also be nice -- e.g. to put in `--skip-push` for dev profile you use on local cluster.

[2020-02-28 09:11] FabianKramm commented on #975
@shaunc yes I agree the error message is not optimal, we should enhance this.

[2020-02-28 10:10] #961 closed

[2020-02-28 10:20] alexandrefilgueira opened #982 "Kaniko builds do not respect "chown" commands"
**What happened?**
I'm building a non-root container and one of the steps of my Dockerfile is to change the ownership where my app is placed within the container. For that, I'm using the "chown" command

`RUN chown 1000:1000 -R ${APP_DIR}`

When checking the logs from kaniko and if I even do a "ls" before and after this "chown" command, I see the change is there, but when the image runs, the owner

[2020-02-28 14:58] FabianKramm commented on #982
@alexandrefilgueira thanks for opening this issue! I'll take a look into this

[2020-02-28 16:15] FabianKramm commented on #982
@alexandrefilgueira after some investigation this might be caused by the `--snapshotMode=time` flag we set by default (because it speeds up the kaniko build by large factors). Could you try to disable it via `images.*.build.kaniko.snapshotMode` to `full` (which is the kaniko default) and see if the problem persists?

[2020-02-28 17:13] #971 closed

[2020-02-28 17:13] FabianKramm commented on #954
Implemented in #973

[2020-02-28 17:13] #954 closed

[2020-02-28 17:14] FabianKramm commented on #972
Implemented with #983

[2020-02-28 17:14] #972 closed

[2020-02-28 17:14] FabianKramm commented on #951
Implemented with #973

[2020-02-28 17:14] #951 closed

[2020-02-28 17:15] FabianKramm commented on #903
Implemented with #983

[2020-02-28 17:15] #903 closed

[2020-02-28 17:33] FabianKramm commented on #862
Implemented with #984

[2020-02-28 17:33] #862 closed

[2020-02-28 17:41] shaunc commented on #975
Hmm... well I guess just failing with a better error (that mentions `--show-logs`) would be ok. If you were to implement questions via stderr (which for interactive use is still fine, IMO), then for scripting purposes you would need a `--non-interactive` option or similar... which wouldn't be such a bad idea in general, but might understandably seem like overkill for this particular problem.

[2020-02-29 04:09] adibrastegarnia opened #986 "Programming API to integrate with a k8s client"
Hi
I have a quick question. I am wondering if there is a programming API that can be used to integate devspace with a golang k8s client?

[2020-02-29 09:08] LukasGentele commented on #986
Hi @adibrastegarnia! We're shipping the golang client as part of DevSpace, so it's a dependency at the moment. What are you trying to achieve? Trying to understand better what exactly your question and your use case is.

[2020-02-29 14:24] adibrastegarnia commented on #986
@LukasGentele
Thanks for your quick response. We have a test framework that uses k8s golang client API to deploy our systems, add applications, simulators, etc. We provide a command line interface that developers use to add, remove k8s resources and interact with our cluster. The problem we are trying to solve is hot reloading. We would like add a set of commands to our framework to perform hot re

[2020-03-02 03:00] shaunc opened #987 "cluster-issuer annotation created even though issuer annotation is passed"
**What happened?**

I have an issuer referred to in ingress as:
[code]
When I add a tls secret name, I get the final annotations:
[code]

**What did you expect to happen instead?**

Just the annotation:
[code]
should be created.

**How can we reproduce the bug?** (as minimally and precisely as possible)

Is straightforward.

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- O

[2020-03-02 09:24] alexandrefilgueira commented on #982
@FabianKramm Yep, that was it, I though it was running as full by default. If it is running with time as default the documentation has a typo.
Thanks for the help

[2020-03-02 09:24] #982 closed

[2020-03-02 09:27] FabianKramm commented on #986
@adibrastegarnia you can just import the relevant DevSpace packages into your testframework like you would do with any other golang libraries, like we do with client-go etc. The hot reloading functionality lies in the `https://github.com/devspace-cloud/devspace/tree/master/pkg/devspace/sync` package so you'll need definitely this and probably also the `https://github.com/devspace-cloud/devspace/tr

[2020-03-02 15:32] adibrastegarnia commented on #986
@FabianKramm
Thanks for the pointers. Will take a look and try it. Will close the issue for now.

[2020-03-02 15:32] #986 closed

[2020-03-02 15:36] adibrastegarnia commented on #986
@FabianKramm
BTW, I forgot to ask a question. Does hot reloading work for go programs? When there is a change in a go file how do you handle it in k8s? Do you restart the pod?

[2020-03-02 15:57] FabianKramm commented on #986
@adibrastegarnia yes you have to restart the process (and build process for compiled languages like golang) but there are different possibilities to do that:
- Set the image entrypoint to something like `sleep xxx` and `devspace enter` into the pod and always restart the command manually
- Use something like `nodemon` as entrypoint that detects file changes and restarts the process automatically
-

[2020-03-02 16:11] adibrastegarnia commented on #986
@FabianKramm
Good to know thanks for the info. Let me see how it goes.

[2020-03-02 21:12] tomasc opened #991 "devspace use space prompts for encryption key after devspace login"
**What happened?**
In my CircleCI pipeline:
[code]

[code]

**What did you expect to happen instead?**
The script should set the space without prompting for encryption key.

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- DevSpace Version: 4.5.4
- Operating System: linux
- Deployment method: helm

**Kubernetes Cluster:**
- Cloud Provider: DevSpa

[2020-03-03 09:39] FabianKramm commented on #991
@tomasc thanks for reporting! Actually, the access key and cluster encryption key are two different things:
- The access key is needed to access the DevSpace Cloud API (on prem & hosted)
- The cluster encryption key is DevSpace Cloud hosted specific and only needed for decrypting the cluster service account token saved in our database (hosted only)

Unfortunately there is currently no command to s

[2020-03-03 09:42] tomasc commented on #991
Thanks @FabianKramm.

Just to make sure: is this the best way to deploy using devspace cloud via CI (CircleCI) (and the possibility of the cluster encryption key is just not there yet), or is there another way that I missed?

[2020-03-03 10:10] tomasc commented on #991
BTW passing it via stdin like this did the trick:

[code]

[2020-03-03 15:20] LukasGentele commented on #991
I will add this to the documentation for now but we should definitely add a flag for this, @FabianKramm

[2020-03-03 20:52] chasebolt opened #994 "patches.op.add functions unexpectedly"
**Is your feature request related to a problem?**
I am trying to add additional helm values but when doing so it wipes out previously set values

[code]

**Which solution do you suggest?**
Allow the yaml patching for add to append instead of actually replace.

**Which alternative solutions exist?**
@LukasGentele suggested using a `valuesFiles` coupled with `values`.

**Additional context**

/kind

[2020-03-04 08:02] FabianKramm commented on #994
@chasebolt thanks for opening this issue! While I agree that it behaves sometimes quite confusing, we are internally just using a [library](https://github.com/krishicks/yaml-patch) that is based on a RFC standard for [JavaScript Object Notation Patch](https://tools.ietf.org/html/rfc6902).

In general, I'm not against adding more features to this library to make it easier to understand, like we did

[2020-03-04 09:58] zadigus opened #997 "Unable to devspace build without --build-sequential option"
**What happened?**
If I run

[code]

then it takes forever until I have some build. Actually, I've not had enough patience yet to wait until it finishes (the maximum I've been waiting so far is 36 minutes). If I, however, run

[code]

then the images get build within 20 minutes.

I tried both commands after

[code]

in order to make sure I have the same setup each time. I am using docker builds, l

[2020-03-04 13:03] tomasc opened #998 "image naming and `devspace dev`"
**What happened?**
When I change the image name in the `devspace.yml` from `default` to anything else the `devspace dev` command fails with `Unable to start portforwarding …`.

**What did you expect to happen instead?**
Start in the dev mode.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Change the imageName `default` to anything else in all 3 instances:

[code]

**Lo

[2020-03-04 13:31] FabianKramm commented on #998
@tomasc thanks for reporting this issue!

[2020-03-04 13:49] FabianKramm commented on #998
Fixed by #999

[2020-03-04 13:49] #998 closed

[2020-03-04 13:49] tomasc commented on #998
@FabianKramm superfast, thanks!

[2020-03-04 16:36] SarguelUnda opened #1000 "Feature Request: Using build disabled images for imageName selection"
**Is your feature request related to a problem?**
Yes. At the moment it is impossible to use images name definied in devspace.yaml but not builded as an imageName selector in the dev section of the file ( port forwarding sync or logging ).

**Which solution do you suggest?**

Authorize images name defined in devspace.yaml but not builded as an imageName selector in the dev section

**Which alterna

[2020-03-04 17:13] LukasGentele commented on #1000
@SarguelUnda Thanks for suggesting this. I think we should definitely implement this. I wasn't even aware of this limitation.

[2020-03-04 23:45] shaunc commented on #975
Great!

[2020-03-04 23:45] #975 closed

[2020-03-05 04:04] shaunc commented on #964
Thanks!

[2020-03-05 04:04] #964 closed

[2020-03-05 04:22] shaunc opened #1001 "Support the same dependency under different aliases"
**Is your feature request related to a problem?**

After creating [https://github.com/FactFiber/devspace-nginx-s3](https://github.com/FactFiber/devspace-nginx-s3) to proxy s3 locations, I realize I need to proxy more than one bucket/prefix. The simplest way to do this would be able to include devspace-nginx-s3 twice... but that doesn't work.

Presumably there are more cases where you want more tha

[2020-03-05 05:26] zadigus commented on #997
@FabianKramm I've tried several things with kaniko. Here's an example image I'd like to build:
[code]
I've tried to use my local cluster, docker for desktop under Windows, and my remote cluster, hosted on Jelastic. In both cases, if I do a
[code]
where `my-context` is set in such a way that I use the docker for desktop or the remote cluster, I get the following error:
[code]
Locally, on the docker

[2020-03-05 08:46] FabianKramm commented on #997
@zadigus thanks for the information! The error you get means that some build pods cannot be started in time. What is the output of `kubectl describe po KANIKOPOD`? Seems to me like there is some issue pulling the images and hence the init container cannot start. Regarding the second error, how big is your context? It seems to me like the docker kubernetes crashed and cannot be reached anymore.

[2020-03-05 08:47] FabianKramm commented on #1000
@SarguelUnda yes thanks for opening this issue! As discussed we can implement this to have another use case for `build.disabled`

[2020-03-05 08:57] FabianKramm commented on #1001
@shaunc thanks for suggesting this! Actually I think this should work already since currently you only can run a dependency with a different configuration via the `profile` property and hence this would deploy the dependency two times:
[code]

[2020-03-05 13:39] shaunc commented on #1001
Um... but that assumes that the different profiles are defined in the dependency, right? (Otherwise the deployments in the dependency would be named the same thing. Also the documentation states that you combine "the same" dependency in the dependency tree. At the least you need to clarify that this is not done across profiles. My idea was the it wouldn't be done across aliases.)

I did happen to

[2020-03-05 15:49] gbates101 opened #1004 "--upload-only flag seems to be ignored for dev sync"
**What happened?**
When running `dev sync --config=./devspace.yaml --upload-only=true`, files from the pod are still downloaded prior to uploads being processed. I've also attempted running using `--upload-only` without the assignment, same outcome.

**What did you expect to happen instead?**
Do not download any files if that flag is specified.

**How can we reproduce the bug?** (as minimally and

[2020-03-05 20:51] LukasGentele commented on #1004
@gbates101 Thanks for reporting this.

`--upload-only` should probably automatically set `--initial-sync=mirrorLocal`. Otherwise this behavior is very unexpected. What do you think, @FabianKramm?

[2020-03-05 20:54] LukasGentele commented on #1001
Even if the profile would not have to exist, I believe using `profile` to solve this is rather a hack than intended behavior.

Why don't we just add a `name` option to dependencies? That would be the same as in `deployments` and also do the same as in deployments, e.g. set the release name for helm for example. Any properly written chart would allow to install it multiple times when the release na

[2020-03-05 22:37] alexellis commented on #819
Hey folks, if you need help with inlets, feel free to ask

[2020-03-06 00:09] shaunc commented on #1001
Another issue is whether `prefix` is recursive. Suppose you have:
[code]

Where `B1` and `B2` are two versions of one dependency. Does `prefix` (or `suffix`) add prefix to one or both, leaving `C` alone? If so, should there be `recursivePrefix` (or `recursiveSuffix`) if in fact you want `C` to be duplicated and not merged?

A third issue (counting from "clarifying merge behavior on name vs name an

[2020-03-06 09:17] FabianKramm commented on #1004
@gbates101 yes currently the flags `--upload-only` and `--download-only` are not respected when using in conjunction with `--config`. As a workaround you can either set `dev.sync.disableDownload` to true or use the `devspace sync` command without the `--config`

[2020-03-06 10:05] FabianKramm commented on #1001
@shaunc @LukasGentele Regarding how dependencies are "merged": so the way dependencies are resolved is by assigning dependencies unique ids and then we just check the tree if a given dependency does already exist. The id is calculated through multiple things:
- repo url (if its a local path we check if its a git repo and take the first remote we find)
- subPath
- profile
- branch / tag / revision

[2020-03-06 13:31] LukasGentele commented on #1001
@FabianKramm makes a lot of sense. However, the prefix is really hard to do using a patch, even with the * in path because which patch operation would you need to use to prefix a string? I'm not aware that this is possible. If it is, it is for sure not documented right now. If that does not work, then I would suggest adding both, prefix and patches for profiles. Both seems extremely useful. I comp

[2020-03-06 14:22] gbates101 commented on #1004
@FabianKramm Ah, good to know. `dev.sync.disableDownload` is exactly what I'm looking for.

[2020-03-06 20:25] pfiled opened #1010 "Support for Kaniko and ECR"
It looks like the config.json for logging into the registry is built into the devspace client and updated every time the build pod is started, using whatever credentials are stored in the local docker client.

Kaniko support a login helper that will use AWS IAM roles to log into ECR.

https://github.com/GoogleContainerTools/kaniko#pushing-to-amazon-ecr

The contents of config.json are just:

Is it

[2020-03-07 00:59] LukasGentele commented on #819
Thanks, @alexellis! Appreciate you reaching out. inlets is a great project and I think it is a nice addition to `devspace open` (which only creates an ingress on-demand). Integrating inlets directly into devspace is probably not a top priority right now because I think users can leverage `commands` and `hooks` in devspace.yaml to run inlets commands as part of their devspace workflows. However, we

[2020-03-09 08:59] FabianKramm commented on #1010
@pfiled thanks for opening this issue! Yes we can do that to make the kaniko build more flexibel

[2020-03-10 22:58] seivan opened #1012 "Hot code reloading deployments without manifest files."
**Is your feature request related to a problem?**
Not sure if I am wrong, but from what I understand  `devspace dev` requires the manifest files running on the cluster to be used.

Assuming the container is running on a couple of pods via a deployment, all that is really needed is replacing the containers with the one synced locally.
Our current architecture currently doesn't have the manifest fil

[2020-03-10 23:11] LukasGentele commented on #1012
Thanks for opening this issue and for suggesting a new feature. I have a few questions:

1) Isn't it possible to achieve this by using a hot reloading tool (e.g. nodemon) as entrypoint and then run `devspace sync` to star on-demand file sync (= no deployment of manifests needed to sync)?

2) Why don't you want to use the local deployment pipeline of DevSpace to build and deploy the project during

[2020-03-10 23:22] seivan commented on #1012
Thanks for getting back so quick and sorry for being unclear I'll try to be less ambiguous.

As I understand this (and correct me if I am wrong) this just syncs files, it doesn't replace the container the deployment is running on the pods.

I see some drawbacks with this:
I rather have the full build of an image running than replacing individual files on the pods.
Our application is compiled and r

[2020-03-11 18:41] LukasGentele commented on #1012
So, the idea of `devspace dev` is to:
- use a Dockerfile or entrypoint override (either in the image or via Kubernetes pod spec) to start a hot reloading tool such as nodemon instead of the actual binary (see Dockerfiles of all of our quickstart example projects: https://github.com/devspace-cloud/devspace#2-choose-a-project)
- sync file changes from the local machine to the containers running in K

[2020-03-16 04:57] shaunc opened #1015 "namespace options ignored for helm deployments"
**What happened?**
With configuration:
[code]
When I
[code]
Then the deployment ends up in the current namespace, not in `foo`:
[code]

**What did you expect to happen instead?**

Helm would deploy to namespace `foo` rather than the current namespace.

**How can we reproduce the bug?** (as minimally and precisely as possible)

Should be sufficient

**Local Environment:**
- DevSpace Version: [use `

[2020-03-16 10:18] FabianKramm commented on #1015
@shaunc thanks for reporting! I'll fix this ASAP.

[2020-03-17 16:01] gbates101 opened #1019 "Custom build command renders template before args"
**What happened?**
When specifying a custom build config for Google Cloud Build, the args are placed after the `[IMAGE]:[TAG]`, causing an invalid command to be rendered:

![image](https://user-images.githubusercontent.com/24995887/76874105-10140100-6845-11ea-8f49-da18590ae2c4.png)

If I forego the `args` section and instead place all of the args inline with the command, it includes the args into

[2020-03-18 10:27] FabianKramm commented on #1019
@gbates101 thanks for reporting this issue! Yes currently the behaviour is that args are placed after the image, I'll change this to reflect the docs and also add a new option `custom.afterArgs` to be able to specify arguments after the image tag(s)

[2020-03-18 13:36] FabianKramm commented on #1015
Should be fixed with v4.7.0

[2020-03-18 13:36] #1015 closed

[2020-03-18 13:36] FabianKramm commented on #1019
Should be fixed with v4.7.0

[2020-03-18 13:36] #1019 closed

[2020-03-18 14:40] Inlustra commented on #859
Bumping this as I'm facing the same problem.
According to the docs, this should automatically happen:
https://devspace.sh/cli/docs/configuration/deployments/kustomizations

But having a quick search through the code, I'm pretty sure it just uses the --kustomize/-k flag...
https://github.com/devspace-cloud/devspace/blob/master/pkg/devspace/deploy/deployer/kubectl/kubectl.go

[2020-03-18 15:39] FabianKramm commented on #859
@Inlustra yes currently we only use the `--kustomize/-k` flag with kubectl. I'll implement a more flexible version with kustomize on friday though (release either on friday or somewhere in the beginning of next week), since this is requested a lot recently

[2020-03-18 20:38] shaunc opened #1021 "dev: problem with connection maintenance (perhaps EKS specific??)"
**What happened?**

[code]
These messages continue "forever" though I assume eventually will cause a crash if they are meaningful.

**What did you expect to happen instead?**

No error messages.

**How can we reproduce the bug?** (as minimally and precisely as possible)

... hmm... I would hypothesize this has more to do with my cluster setup. Note I do have the following sync setup for a containe

[2020-03-18 22:21] LukasGentele commented on #991
There is a new command to solve this: `devspace set encryptionkey` -  for more details and all available args and flags, please refer to this docs page: https://devspace.sh/cli/docs/commands/devspace_set_encryptionkey

Closing this. Thanks again for reporting this issue.

[2020-03-18 22:21] #991 closed

[2020-03-19 02:00] shaunc opened #1023 "sync -- sync with localSubPath syncs back to wrong place and ignores exclude"
**What happened?**

I have an image for which I sync a local folder `./summary` to container directory `/app`.
When run the (http) service creates `/app/out`, which I would like to sync back to the host in
the `/summary` directory. However, no matter how I configure, the contents of /app are synced back to the root context `./'. Here is the config:
[code]
Trial run:
[code]

**What did you expect t

[2020-03-19 07:32] LukasGentele commented on #1023
Have you tried to specify the flag `--config=path/to/devspace.yaml` for `devspace sync`?

[2020-03-19 09:00] FabianKramm commented on #1023
@shaunc thanks for opening this issue! As @LukasGentele has pointed out, `devspace sync` is ignoring any `devspace.yaml` as long as you don't specify it via the `--config` flag, which is probably causing your issue.

[2020-03-19 09:04] FabianKramm commented on #1021
@shaunc thanks for opening this issue! Do you have port forwarding configured? Could you check the log files in `.devspace/logs` and see if there is any suspicious log messages especially regarding the sync or port forwarding? I suspect this might be cause via the port forwarding or restarting the sync / port-forwarding, but the sync itself shouldn't create any new clients while running and rather

[2020-03-19 14:11] shaunc commented on #1023
Ah ... ok sorry about that! (NB -- though some commands reading config by default and others not is confusing. Perhaps in a major release you could go to --no-config for "raw sync"? I switched from dev to sync because of port forwarding issue and expected that "sync" would be a subset of "dev" with same flags.)

[2020-03-19 14:11] #1023 closed

[2020-03-19 14:18] shaunc commented on #1021
Ah so I have running in the background --
[code]
and also
[code]
The ssh is not actually to the EKS cluster. I don't see anything in the logs about port fowarding right now, but they are "stale" -- have been doing other things besides `dev`. Will post any info I find when I try (though now I have to get my broken build working first :)).

But ... is there some reason either of these two things mig

[2020-03-19 16:19] FabianKramm commented on #1021
@shaunc Ah, I actually meant the `dev.ports` configuration for port-forwarding, because I could imagine that this can lead to repeatedly calling the exec auth provider, however this should also appear on `kubectl port-forward` then, since its basically the same functionality. Not sure if the sync could cause this (only if it restarts often), but if it's not occuring during `devspace sync` then I t

[2020-03-19 17:27] shaunc commented on #1021
I stopped and restarted `kubectl logs --follow`, and now can't generate the error anymore. I'll assume that it had to do with kubectl. (That process had been running for 4-5 days....).

Closing -- will reopen if it reoccurs. Thanks!

[2020-03-19 17:27] #1021 closed

[2020-03-20 10:05] FabianKramm commented on #1010
@pfiled are you aware of the `images.build.kaniko.pullSecret` option? This allows you to specify a custom pull secret that is bound to the kaniko pod, which could store your custom docker config. I'm not sure if we should implement or add something else since this would pretty much solve your problem.

[2020-03-21 00:01] gbates101 opened #1027 "`devspace sync` fails to sync - connection lost to pod"
**What happened?**
When running `devspace sync --config=./devspace.yaml`, devspace locates a matching pod and attempts to sync, but repeatedly fails:
[code]

**What did you expect to happen instead?**
Sync should be working appropriately.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Deploy any sync-enabled pod, and run `devspace sync --config=./devspace.yaml` with a

[2020-03-23 18:52] gbates101 commented on #1027
Just upgraded to 4.8.0 and I can't reproduce this. If you can't reproduce the issue in 4.8.0, feel free to close.

[2020-03-24 01:50] rparsonsbb opened #1028 "`devspace dev` only deploys last manifest"
**What happened?**
When deploying with a devspace.yaml like below:
[code]
only the last manifest alphabetically by filename is deployed.
i.e. in folder `manifests`:
[code]
running `devspace dev`:
[code]
**What did you expect to happen instead?**
devspace dev would run all manifests in the directory.

**How can we reproduce the bug?** (as minimally and precisely as possible)
create a directory with

[2020-03-24 08:47] FabianKramm commented on #1027
@gbates101 thanks for opening this issue! This error code 139 is very weird, people had this problem before (#897) and it is somehow related to the devspace version, however we didn't change anything between 4.6.2 and 4.7.0 regarding the sync, so this is very strange, because I also couldn't reproduce this on my local computer with GKE and local docker kubernetes. But good to know that it works no

[2020-03-24 08:47] #1027 closed

[2020-03-24 08:49] FabianKramm commented on #1028
@rparsonsbb thanks for reporting this issue! Actually we recommend to specify the manifests just like this:
[code]
The wildcard was the old syntax, which should not be used anymore. Does this work for you?

[2020-03-24 18:15] LukasGentele commented on #884
For more information on this, take a look at: https://devspace.sh/cli/docs/configuration/images/docker#args

[2020-03-25 03:56] rparsonsbb commented on #1028
I'm sure that it will, but I'm pretty satisfied with my current setup.  When I get around to adding to another project I will test the `- manifests` method first.

Thanks for the quick response!

[2020-03-25 03:56] #1028 closed

[2020-03-25 10:53] igoooor opened #1029 "skip building image even when context files have changed"
**What happened?**
I initially build my docker image using `devspace dev` which works well.
But then if I stop my application, make some changes in my project files (files are located inside of the build context directory), then I run `devspace dev` again, but this time it does not rebuild the image, instead it tells me
[code]
even though my source files have changed.
If I make an irrelevant chang

[2020-03-25 18:19] LukasGentele commented on #1029
Do you have a .dockerignore file which excludes certain file? DevSpace respects this file when checking if a rebuild it necessary.

[2020-03-25 19:13] igoooor commented on #1029
The files I'm changing are not part of the .dockerignore.

But indeed, your second thought about the `deploy` and `dev` then makes sense, because I'm indeed using `dev` with sync files defined.
But I think the workflow then is not really clear, because think about the following scenario:
1. start your environment with `devspace dev` including file sync
1. while your environment is up and running,

[2020-03-25 20:09] LukasGentele commented on #1029
Makes sense but after 5., the sync will kick in again and sync your files. Isn't that correct?

[2020-03-25 20:14] igoooor commented on #1029
Well here it will depend on your initialSync config, and the changes you applied to your files.
With certain configurations, the changes you did before step 5. may not happen as you would expect:

Assume you have `initialSync: preferLocal` and the following scenario:
1. start your environment with `devspace dev` including file sync
1. while your environment is up and running, you **delete** some f

[2020-03-25 20:28] LukasGentele commented on #1029
That is indeed a problematic case.

The only option to fix this is to use `initialSync: mirrorLocal`. If you need files to be downloaded, you could add multiple sync configs because `dev.sync` is an array and you could exclude certain files from the first sync setting with `initialSync: mirrorLocal` and then add these files in a second sync setting with `initialSync: preferRemote` or even `mirrorR

[2020-03-25 21:17] igoooor commented on #1029
The problem I would have with the `initialSync: mirrorLocal` is that it would delete, on the container, files which are present on the container and missing locally, which is also not suitable.
Because in my case, the Dockerfile builds the application dependencies (php composer packages, npm packages, etc..) and therefore, the first time you start your environment, you don't have those dependencie

[2020-03-25 21:25] LukasGentele commented on #1029
Yes, mirrorLocal removes files remotely. However, you can just exclude the composer path using `sync.excludePaths`: https://devspace.sh/cli/docs/configuration/development/file-synchronization#excludepaths

Then, add another sync section to the `dev.sync` array and only add the composer path under `containerPath` and then set `initialSync: mirrorRemote|preferRemote`

This means that DevSpace uses m

[2020-03-25 21:29] igoooor commented on #1029
Ok I see, it looks a bit hacky at first glance, but I will give it a try!
I will probably do this tomorrow (it's 10:30pm here).
Thanks for the big help already! I will let you know the outcome.

[2020-03-25 22:40] igoooor commented on #1029
Do you know what would be the impact of performances or cpu usage of having the sync setup you described above compared to a single sync section?

[2020-03-25 22:55] chasebolt opened #1030 "reverse port forward"
**Is your feature request related to a problem?**
I have php xdebug inside of our containers and for developers that are using k3s/minikube it works fine. But for developers that are using remote clusters it is unable to connect back to them.

[code]

**Which solution do you suggest?**
Implement a reverse tunnel to improve portability.

[code]

/kind feature

[2020-03-25 23:18] LukasGentele commented on #1029
Performance impact should be rather low. The error you saw is an issue we should definitely fix! DevSpace should be able to create this folder if it does not exist. Feel free to open a separate issue for this. Should be a very easy fix.

As a workaround for now: Either use a hook to create the folder or add a .keep file into the folder and just check this file into your git repository, so that the

[2020-03-26 07:05] igoooor opened #1031 "Sync non existing localSubPath makes an error"
**What happened?**
With the following sync configuration:
[code]
and if the local folder `./vendor/` does not exist when starting the sync, the following error happens and the sync stops:
[code]

**What did you expect to happen instead?**
The sync to work, and the container folder to be synced back to the local machine.

**Local Environment:**
- Operating System: mac
- Deployment method: helm
- de

[2020-03-26 08:38] FabianKramm commented on #1031
@igoooor thanks for reporting! Yes currently the local sub path is not created when it does not exist, however I think we could change this, shouldn't be a problem.

[2020-03-26 08:51] igoooor commented on #1029
I guess you can close this issue given that you provide a working solution to the initial problem.

[2020-03-26 10:03] igoooor commented on #1029
So the solution you provide with the two sync works (as long as the directory is present locally at the moment).
I think instead of this, I will just stop using `devspace dev` and instead split it like this:
[code]

Which results in the same deployment & sync, but will rebuild the docker images if the files have changed, ignoring the sync config.

[2020-03-26 10:33] igoooor commented on #1029
I think there is enough information here now on how to work around this "problem", I will close the issue.

[2020-03-26 10:33] #1029 closed

[2020-03-26 18:47] DylanSD opened #1033 "Git clone for dependencies default to be more specific"
**Which solution do you suggest?**
git clone for dependencies should default to being more specific (if not already done in the devspace CLI binary) for example specify a depth "--depth 1" when git cloning or

You can also use git shallow clone to access a single branch:

git clone [remote-url] --branch [name] --single-branch [folder]

With git shallow clone you get fewer files. And as a result, t

[2020-03-27 00:14] feguiguren opened #1034 "error converting YAML to JSON: yaml works on 4.7.0 but does not work in 4.8.0"
**What happened?**
Kubernetes manifests that works with 4.7.0. don't work with 4.8.0 anymore
Error
`Applying manifests with kubectl
 Error deploying mysql: failed to unmarshal manifest: error converting YAML to JSON: yaml: line 2: mapping values are not allowed in this context
Please make sure `kubectl apply` does work locally with manifest `mysql-service.yaml``

kubectl apply works with the given

[2020-03-27 08:52] 0x77dev opened #1035 ".env file for secrets"
**Is your feature request related to a problem?**
No.

**Which solution do you suggest?**
Store secrets in .env file.

**Which alternative solutions exist?**
or some yaml file.

**Additional context**

/kind feature

[2020-03-27 08:59] FabianKramm commented on #1033
@DylanSD thanks for opening this issue! Makes sense, I'll implement that

[2020-03-27 09:25] FabianKramm commented on #1034
@feguiguren  thanks for reporting! The issue is kubectl v1.18 that has deprecated the flag `--dry-run` we are using, and devspace tries to parse the error message that kubectl spits out which results in the above error. I'll fix this for the next version!

[2020-03-27 10:06] LukasGentele commented on #1035
Have you tried variables in devspace.yaml yet? https://devspace.sh/cli/docs/configuration/variables/basics

They are either read from environment variables or from user input. In case of user input, they are actually stored in .devspace/generated.yaml. You can also set them before deployment using this command: devspace set var https://devspace.sh/cli/docs/commands/devspace_set_var

Let me know if

[2020-03-27 11:46] LukasGentele commented on #1000
Released with v4.8.0.

[2020-03-27 11:46] #1000 closed

[2020-03-27 12:31] FabianKramm commented on #1004
implemented in v4.8.0

[2020-03-27 12:31] #1004 closed

[2020-03-27 12:40] kinzleb opened #1037 "Seamless Azure Container Registry login"
**Is your feature request related to a problem?**
Currently it seems like using 'docker login' is the only way to authenticate with an image registry from ACR.

**Which solution do you suggest?**
ACR allows authentication by using 'az acr login' and if devspace worked with the token generated from this command then users of Azure Container Registy could use the best practice approach of authentica

[2020-03-27 12:44] LukasGentele commented on #1037
Thanks for opening this issue. That's interesting. After running `az acr login`, you are able to run `docker push/pull` but DevSpace is not able to push/pull using your ACR repos?

[2020-03-27 12:48] LukasGentele commented on #1037
@kinzleb So, I took a look at the Azure docs. Is your problem that `devspace deploy/dev` works but you always need to run `az acr login` beforehand because the Azure token expires every 3h?

[2020-03-27 13:28] kinzleb commented on #1037
Hi @LukasGentele

Yes, this is my experience,

No, I tried always doing a fresh `az acr login` before running devspace deploy/dev and would receive authentication error with the registry.

I wonder if it is related to the operating system.  I'm on a mac, and am using the defaults for where credentials are stored.

[2020-03-27 13:47] kinzleb commented on #1037
@LukasGentele I'm not sure what 'az acr login' is actually doing under the hood, but if I look at `~/.docker/config.json` on my system I see:
`{
        "auths": {
                "myacrregistryname.azurecr.io": {}
        },
        "HttpHeaders": {
                "User-Agent": "Docker-Client/19.03.5 (darwin)"
        },
        "credsStore": "desktop",
        "stackOrchestrator": "swarm"
}`

B

[2020-03-27 13:51] LukasGentele commented on #1037
Not very clear to me either what the Azure CLI is doing here.. we are interacting directly with the Docker credential helper (which Docker should also be using and Azure maybe also?). So, unclear to me.

We need to investigate this. As an alternative solution: You could create a Service Principle as described here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-k

[2020-03-27 13:57] LukasGentele commented on #1037
PS: A service principal might actually be the recommended way because these credentials do not expire. The token generated by the azure login expires after 3h, so when running inside a Kubernetes cluster as pull secret, it could create problems when Kubernetes reschedules or restarts the pod because is is not clear if the image can still be pulled. With a service principal, this cannot happen.

[2020-03-27 13:58] kinzleb commented on #1037
Thanks for looking into this.  I found the workaround I'm using to work alright using `az acr token create` to generate a unique token per developer they store here `.devspace/docker-token` and then allowing them to use `cat .devspace/docker-token | docker login --username $TOKEN_NAME --password-stdin myacrregistryname.azurecr.io`.

This way we can still control access each developer's token has a

[2020-03-27 14:03] kinzleb commented on #1037
With `az acr token create` I can set the tokens to never expire.  These are only being used by developers to push/pull images -- the AKS Kubernetes cluster they all develop on is configured with the ACR registry to be able to push/pull without an issue there.

[2020-03-27 14:05] LukasGentele commented on #1037
Okay, great. Thanks for clarifying and for explaining this approach. That seems even easier than the service principal.

One additional suggestion: If developers have the permission to run the command `az acr token create`, you could also automate the token generation and docker login using hooks: https://devspace.sh/cli/docs/configuration/hooks/basics - if you decide to do this, make sure to writ

[2020-03-27 14:13] kinzleb commented on #1037
That's actually exactly what I'm doing :)  I was leaving out some detail earlier.  For some more detail, the main pain point I've found with this approach using `az acr token create` is that it requires specifying all of the repository permissions individually -- I don't see a way to permission ALL repositories in the registry or wildcard matching at this point (I know that is an Azure issue, and

[2020-03-27 14:34] LukasGentele commented on #1037
Awesome. Well, I'll close this for now and might steal your idea later on to extend the docs regarding this solution. For now, I think there is plenty of info in this thread for others to find. Thanks for the detailed explanations especially regarding the Azure-specific limitations!

[2020-03-27 14:34] #1037 closed

[2020-03-27 15:05] FabianKramm commented on #1034
Fixed in 4.9.0

[2020-03-27 15:05] #1034 closed

[2020-03-27 15:05] FabianKramm commented on #1033
Implemented in v4.9.0

[2020-03-27 15:05] #1033 closed

[2020-03-27 15:05] FabianKramm commented on #1031
Implemented in v4.9.0

[2020-03-27 15:05] #1031 closed

[2020-03-27 15:14] unique-vv commented on #1027
My Mac has this problem

`devspace version 4.8.0`

`info    Start syncing                                                                                                                                        2020-03-27T21:38:00+08:00
 error   Sync Error on /Users/zhouwei/Documents/try/user: Sync - connection lost to pod myapp/user-6587dc5bcb-h95tc:  command terminated with exit code 139   2020-03

[2020-04-03 00:17] LukasGentele commented on #1010
In case anyone else is looking for this: I added a small example on how to do this to the docs: https://devspace.sh/cli/docs/configuration/images/kaniko#pullsecret

Closing this for now. Feel free to reopen if there are still issues on how to solve this.

[2020-04-03 00:17] #1010 closed

[2020-04-03 00:18] LukasGentele commented on #1035
@0x77dev Were you able to solve this using config variables?

[2020-04-03 04:24] jmcantrell opened #1044 "devspace requires yarn"
**What happened?**
I installed the CLI via npm, and initialized a project.

**What did you expect to happen instead?**
What is described in the "getting started" documentation.

**How can we reproduce the bug?** (as minimally and precisely as possible)
[code]

**Local Environment:**
- DevSpace Version: unable to run version command
- Operating System: mac

**Kubernetes Cluster:**
- Cloud Provider:

[2020-04-03 16:02] LukasGentele commented on #1044
@jmcantrell I'm not 100% sure what you mean. You should install DevSpace using the `-g` flag for npm. So, `npm install -g devspace` is not working for you unless you install yarn first?

[2020-04-03 18:00] #987 closed

[2020-04-04 03:54] jmcantrell commented on #1044
It does appear to work when installed globally. Do you know why it can't be installed locally and run using `npx devspace` or `./node_modules/devspace/.bin/devspace`?

[2020-04-04 04:06] #1044 closed

[2020-04-06 03:04] LukasGentele commented on #1044
You are right, the npm installer needed some refactoring and npx was also not possible so far. I fixes this in this PR: https://github.com/devspace-cloud/devspace/pull/1055 - once the next version will be released, npm/yarn/npx will work much better (including non-global installations).

One note: For non-global installs, the actual devspace binary will still be downloaded to the global module dir

[2020-04-07 09:47] abh commented on #892
I keep getting this error, too. I don't believe I have any local files open... It'd be helpful if devspace at least would tell which file it's erring out on.

[2020-04-08 02:18] LukasGentele commented on #1035
Closing this for now. Feel free to reopen if there are any unresolved issues.

[2020-04-08 02:18] #1035 closed

[2020-04-08 02:20] LukasGentele commented on #919
Alright. I did not find the time to create a blog post about DevSpace and spring boot but with the latest release, we now have a java quickstart project. It shows with a very simple example how to solve java container hot reloading with DevSpace.

@ravening Is that what you were looking for? Feel free to check it out here: https://devspace.sh/cli/docs/getting-started/initialize-project

[2020-04-08 06:33] heroyin commented on #919
This java quickstart is very simple, sync java file and rebuild in remote container. For java spring , it's too slow. If I got time , will post a hot reload sample, like  https://github.com/HotswapProjects/HotswapAgent

[2020-04-08 09:34] LukasGentele commented on #919
That looks awesome! Can't wait for you to contribute the next Java project. Thanks, @heroyin

[2020-04-08 14:04] anuaimi opened #1062 "problem installing Devspace on Mac. get `Cannot find module '/usr/local/index.js'`"
**What happened?**
- installed DevSpace. Seemed to complete successfully.  But then when I typed 'devspace help', it showed an error (Error: Cannot find module '/usr/local/index.js') and then started displaying 'Finishing installation for DevSpace CLI' again and again. This happens if I type 'devspace version' as well.

[code]

**What did you expect to happen instead?**
- show help message

**How

[2020-04-08 16:34] LukasGentele commented on #1062
@anuaimi Thanks for reporting this. I fixed the issue and released a new version.

[2020-04-08 16:34] #1062 closed

[2020-04-09 02:56] heroyin commented on #919
https://github.com/heroyin/quickstart-spring-java  Spring java quickstart is coming!

[2020-04-10 09:53] abh commented on #892
One situation I think I can reproduce is if the target directory has files owned by root (and the container runs as another user). It'd be really helpful if the sync log would tell why the receiving process quit / errored out.  I fixed all the file permissions (best I can tell), but I still get

[code]

... endlessly.

[2020-04-10 14:07] LukasGentele commented on #892
@abh Thanks for trying to provide more details on this. We're really eager to fix this but cannot reproduce it so far. Is it possible for you to share a project with us including devspace.yaml, so we can get a better chance to reproduce this issue? If it is private code, happy to send you an NDA to ensure confidentiality you share code in a private git repository or fork.

If you can create a repr

[2020-04-10 16:42] abh commented on #892
Done -- I think the thing that makes the error message not go back to the client is when the files to upload exceed a certain size; this reproduces it for me. My cluster is remote, so if you have a local cluster you might need a bigger or more test.bin files.

https://github.com/abh/devspace-eof-test

[2020-04-10 17:34] abh commented on #892
I ran the test on digital ocean kubernetes; using DevSpace 4.11.1.

[code]

[2020-04-10 20:20] LukasGentele commented on #892
Thanks @abh. I just ran it and I can reproduce it. I will try to investigate the cause of this now. May take some time.

[2020-04-10 21:06] LukasGentele commented on #892
TL;DR: to fix this for you: Just add this to your sync section within `devspace.yaml`:
[code]
Please confirm that this actually works for you as well.

To provide some background on this issue:

As @FabianKramm was already pointing out, the issue arises when files are being transferred by the sync and then they change. In this case the issue is the .git folder. While the sync is uploading the file

[2020-04-10 21:12] abh commented on #892
I can reproduce it without anything changing (and without the .git) repository.

The key is the big file; without that you get the appropriate permission denied error on writing files.

I am guessing the correlation with .git might be a bunch of files marked read-only.

[2020-04-10 21:33] LukasGentele commented on #892
Ok... then I am not able to reproduce this. As soon as I add the `.git` folder to excludePaths, everything works fine. The big file is being uploaded into the container as well. No EOF issue for me anymore.

But even when you add `.git/` to `excludePaths` and **not** just to `upload/downloadExcludePaths`, you are still experiencing the EOF issue?

If yes, please deploy the project and send me the

[2020-04-11 03:03] abh commented on #892
oh, okay -- this is confusing, sorry!  Because I added the test.bin file to the repository then the repository .pack files are big too which makes the test look the same without and with the big file.

Kaniko also seems to (sometimes?) add the /app directory with improbable 777 permissions; I fixed that.

I think the error ("we can't sync the files, you did something wrong") is legitimate; the bug

[2020-04-11 12:13] Co0ker opened #1067 "Import and merging devspace configs"
**Is your feature request related to a problem?**
We have many repositories with a unique devspace configuration.
I want to have a centralized template with a basic configuration (variables, commands).
Which may be related to other projects.

**Which solution do you suggest?**
Add Ability import and merging configuration from another repository

/kind feature

[2020-04-11 14:14] LukasGentele commented on #892
Ok great! Sorry I misunderstood at first. Thanks for clarifying this. I talked to @FabianKramm and discussed this with him. We can actually fix the error message and make it more helpful. We will also add a suggestion on how to fix it in the fatal message which will suggest to add the file to excludePaths. Additionally, I'll do what I wrote in the comment above regarding init and docs. Does that s

[2020-04-12 16:52] blairham opened #1068 "Add an .devspacerc file"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
adding a .devspacerc file where you can put in things like namespace or context so you don't have to type it out on the CLI every time

**Which alternative solutions exist?**
the global flag --namespace and the --switch-context

**Additional context**
This would be very useful when working in multiple contexts

[2020-04-14 08:05] rosen91 opened #1069 "Using integer or boolean string vars in env does not convert to string"
**What happened?**
Defining an integer or boolean variable using the following syntax
- name: GATEWAY_MAIL_PORT
source: env
default: "2525"

And referencing it in the env part
 - name: MAIL_PORT
                value: "${GATEWAY_MAIL_PORT}"

Gives the following error
cannot patch "api-gateway" with kind Deployment: v1.Deployment.Spec: v1.DeploymentSpec.Template: v1.PodTemplateSpec.Spec: v1.PodSpec

[2020-04-14 08:14] FabianKramm commented on #1067
@Co0ker thanks for opening this issue! Yes that sounds like a helpful feature. Since we support profile inheritance now, maybe we could allow loading base profiles from another file (or url?) that is applying the common configuration to the current devspace.yaml. The advantage of this is that we don't need any new concepts or config sections and it is rather easily implemented, but the disadvantag

[2020-04-14 08:36] FabianKramm commented on #1068
@blairham thanks for opening this issue! In general I like the idea, however I'm not sure how the .devspacerc should look like, did you try the `devspace use namespace` and `devspace use context` commands, they will change the namespace and context globally so you don't have to retype the context and namespace. Alternatively, for flags that should be used all the time for every user of the project

[2020-04-14 08:38] FabianKramm commented on #1030
@chasebolt thanks for opening this issue! Yes that sounds like a good idea, the implementation will need us to inject a ssh server into the container with which we can do a remote portforwarding to the local computer.

[2020-04-14 08:41] FabianKramm commented on #1069
@rosen91 thanks for reporting this issue! Yes seems like a bug, I'll fix this as soon as possible

[2020-04-14 08:54] Co0ker commented on #1067
Hi @FabianKramm!
Thanks for the quick response.

Basic global config - great idea idea!

[2020-04-14 12:18] #950 closed

[2020-04-14 12:24] LukasGentele commented on #831
Closing this for now

[2020-04-14 12:24] #831 closed

[2020-04-14 12:24] LukasGentele commented on #801
Closing this for now

[2020-04-14 12:24] #801 closed

[2020-04-14 12:25] #170 closed

[2020-04-14 12:26] #211 closed

[2020-04-14 12:26] #580 closed

[2020-04-14 12:26] #585 closed

[2020-04-14 12:27] #700 closed

[2020-04-14 13:06] LukasGentele commented on #1068
I think we could address this using defaultFlags for CLI commands that users can specify in devspace.yaml as suggested here: https://github.com/devspace-cloud/devspace/issues/977

[2020-04-14 13:15] LukasGentele commented on #1067
This is going to make config loading more complex. I see that this could be valuable but we need to make sure that we define a clear structure for this first.

After a discussion with @FabianKramm, I think the best solution is to integrate this into profiles because they already have the `parent` option which (so far) is only a reference (string) to another profile name. We could make an object ou

[2020-04-14 13:22] Co0ker commented on #1067
Good offer @LukasGentele!
That would solve my problem.

[2020-04-14 17:05] blairham commented on #1068
@FabianKramm yes, I have to switch both context and namespace each time or provide them on the CLI every time. So when I'm working on project A I would have to change, then I have to do something on project B I would again switch, then going back to project A, I would have to switch back yet again so on and so on.

I think either one of the solutions would be equivalent and would make it easier. H

[2020-04-14 17:44] LukasGentele commented on #1068
@blairham `-s` would be sufficient for you, right? If you provide `-s`, DevSpace will switch context and namespace. So, if you set `-s` as default flag, you won't have to hard-code anything and will still able to push this to git and everybody will be able to switch back and forth between projects without having to explicitly provide the `-s` flag every time. That is your goal, right?

[2020-04-14 18:12] jessebye commented on #892
We have `.git` excluded and are trying to sync only about 10M worth of files, but still experience this issue. The logs look something like this:

[code]

[2020-04-14 18:14] abh commented on #892
@jessebye Try moving the big files out of place and see if the rest works.  There's likely a permission error making the sync not work. The bug, as I have seen it, is not a problem syncing when it should have worked but "just" poor error reporting.

[2020-04-14 21:00] blairham commented on #1068
I think that might actually do what I'm thinking, yes.

[2020-04-14 21:33] jessebye commented on #892
@abh ah, thanks. I had thought 10M was not very big, but I tried a folder with 8KB of files and saw the actual error was permissions-related. We are using `jib` to build the image, and the files in the container are owned by root. I suppose that will be a problem for devspace sync...

[code]

[2020-04-14 22:56] abh commented on #892
What I did for my use case is for development I use a different Dockerfile that makes the development environment files owned by the user the application is running as …

An alternative might be starting your app with su-exec or similar and letting the devspace tools run as root, I didn’t try that.

[2020-04-14 23:52] jessebye commented on #892
That seems reasonable. I do wonder if `skaffold` is able to do syncing with jib, and how it handles it?

[2020-04-15 09:30] FabianKramm commented on #892
@abh thanks so much for detailed description and error repository! I fixed the issue with the error message (you were correct the error message was not transferred anymore because the transport was closed already) and from the next devspace version onwards, always the correct error message will be displayed regardless of the size of the files.

@jessebye skaffold is doing a similar approach as we

[2020-04-15 13:27] #1069 closed

[2020-04-15 17:06] jessebye commented on #892
@FabianKramm thanks for the tips, we got it to work by setting the user/group to `0`! 🎉

[2020-04-16 18:06] LukasGentele commented on #1068
@blairham this should now be possible with the latest release. Create a file `.env` in your project and then add the following content:
[code]
More info here: https://devspace.sh/cli/docs/configuration/env-file

[2020-04-16 18:10] LukasGentele commented on #977
@shaunc Thanks again for suggesting this feature. It was not possible to add this to devspace.yaml because that would mess up the config loading process because flags are being processed before config loading and global flags such as `-s/-n` are already taking effect even before the config is loaded. That's why we ended up following the example of docker-compose and made DevSpace parse an .env fil

[2020-04-16 18:10] #977 closed

[2020-04-16 18:14] LukasGentele commented on #892
Looks like we got both specific cases solved, the error message has been improved in v4.12 and the docs contain a [sync troubleshooting guide](https://devspace.sh/cli/docs/guides/file-synchronization#troubleshooting) now. Closing this for now. Thanks again everyone for helping to narrow these issues down!

[2020-04-16 18:14] #892 closed

[2020-04-16 18:17] shaunc commented on #977
Env file works for me. I've been submitting many fewer requests, because ... devspace is more or less working for me. :) Thanks for all the work!

[2020-04-16 18:20] LukasGentele commented on #956
This has been fixed in v4.12.

[2020-04-16 18:20] #956 closed

[2020-04-16 20:22] blairham commented on #1068
I afraid it's not working as intended:

in project 1:
devspace create space blairham
devspace deploy
[info]   Using kube context 'devspace-blairham'
[info]   Using namespace 'blairham'
[done] √ Deployed helm chart (Release revision: 0)
[done] √ Successfully deployed mysql with helm
[done] √ Successfully deployed!

in project 2:
devspace create space blairh
devspace deploy
[info]   Using kube conte

[2020-04-16 20:27] blairham commented on #1068
it looks like I need to update the cli, which I had installed with brew. let me update that and retry

[2020-04-16 20:40] LukasGentele commented on #1068
Yes, you will need the latest stable version v4.12 for this to work.

[2020-04-17 13:38] blairham commented on #1068
I'm seeing this error:
 devspace -p local deploy
[info]   Applying extra flags from environment: -s
[info]   Switching to context 'devspace-blairham' and namespace 'blairham'
[info]   Using kube context 'devspace-blairham'
[info]   Using namespace 'blairham'
[done] √ Created namespace: blairham
[fatal]  Unable to create namespace: Post "https://.../api/v1/namespaces": getting credentials: decoding

[2020-04-17 13:49] LukasGentele commented on #1068
@blairham seems like the -s is working. The error you see below appears because devspace tries to create a namespace. Do you have any namespaces hard-coded inside your devspace.yaml?

[2020-04-17 14:47] blairham commented on #1068
I don't, if I remove the env var, and run it with `devspace -s deploy` I don't see this issue

[2020-04-17 15:09] FabianKramm commented on #1068
@blairham looks like you have a new line or control character in your environment variable which results in the above error, can you show the `.env` file here?

[2020-04-17 15:13] FabianKramm commented on #1068
Can you run `DEVSPACE_FLAGS=-s devspace deploy -p local -d -b` and `devspace deploy -s -p local -d -b` and check if that makes a difference?

[2020-04-17 15:25] blairham commented on #1068
[code]

[code]

[2020-04-17 15:46] FabianKramm commented on #1068
@blairham thanks for the information, I found the issue: the problem is that the `.env` file is always applied, even for the devspace token command that provides the authentication token for devspace-cloud to kubectl. The problem here is that the token command also prints `[info]   Applying extra flags from environment: -s` at the beginning which cannot be parsed by kubectl and results in the abov

[2020-04-17 22:44] shaunc commented on #977
Oops ... I have in .env:
[code]
Then get:
[code]

[2020-04-17 23:57] Inlustra commented on #859
@FabianKramm Sorry to bring this up, I've just had time to run and give this a go!
Unfortunately I still can't seem to get it to work, I'm installing them like so:
[code]
Which is working perfectly, Running `kustomize build k8s/overlays/prod` immediately after is also successful.
However: `devspace deploy -p production --wait --timeout=300` fails with
[code]
As it is still using `kubectl -k`. Am I

[2020-04-18 14:49] blairham commented on #1068
Looks like this is working as intended now. Thank you.

[2020-04-18 14:49] #1068 closed

[2020-04-20 23:42] SamuelColacchia commented on #911
@LukasGentele I think this issue is still present in devspace@4.12.1

**Environment**
* Window 10
* PowerShell 7.0.0
* node v13.7.0
* npm 6.13.6
* nvm 1.1.7
* devspace@4.12.1

**Steps to reproduce**

`npm install -g devspace`
`git clone https://github.com/devspace-cloud/quickstart-nodejs`
`cd quickstart-nodejs`
`devspace init`

**Error**
[code]

If i remove C:\Users\_Insert Username here_\AppData\

[2020-04-20 23:54] LukasGentele commented on #911
@SamuelColacchia Thanks for reporting this. Are you able to install devspace if you are using cmd or git-bash instead of powershell?

[2020-04-21 00:06] SamuelColacchia opened #1076 "devspace init, image repository causes panic"
**What happened?**
cli crashed, panic: runtime error: invalid memory address or nil pointer dereference

**What did you expect to happen instead?**
Expected minimal devspace.yml to be generated

**How can we reproduce the bug?** (as minimally and precisely as possible)
Follow the getting started guide at `devspace init` selecting any one options except "Always skip image push...." results in the f

[2020-04-21 07:07] FabianKramm commented on #1076
@SamuelColacchia thanks for reporting this issue! I'll fix this right away!

[2020-04-21 21:49] SamuelColacchia commented on #911
@LukasGentele I just tried using cmd to install it so running
`npm ls -g --depth=0` to ensure it was not installed
`npm -g install devspace`

I got the following error:
[code]

As a side thought when I was doing this, my main computer is running windows 10 insiders so i tried in on a standard installation of windows 10 and got the same issues for powershell and cmd

Using git-bash MINGW64 it worke

[2020-04-21 22:41] SamuelColacchia commented on #1076
@FabianKramm I was doing some more testing to try and determine what exactly was causing this. The issue originated with my ~/.docker/config.json some how "credsStore":"desktop" which caused docker to error which then caused devspace init to panic. Here is the docker error I had. Alternatively ensuring that the system path variables are setup correctly fixes it to. In my case for some reason a few

[2020-04-22 09:49] FabianKramm commented on #859
@Inlustra thanks for reporting! Seems like kustomize changed their `kustomize version` output which is why devspace assumes there is a wrong kustomize binary installed, so it currently works only with kustomize up to `v3.3ish`. I'll fix this for the next release!

[2020-04-22 09:55] Inlustra commented on #859
Amazing! Thanks @FabianKramm, can't wait to use the new Kustomize features! 😁

[2020-04-22 09:56] FabianKramm commented on #977
@shaunc thanks for reporting! I'll fix this in the next release!

[2020-04-22 11:26] FabianKramm commented on #1076
@SamuelColacchia thanks for investigating! With v4.12.2 devspace shouldn't throw a nil pointer exception anymore, however you are correct we could still improve the error handling in cases of wrong docker configuration, so I'll leave this issue open for now

[2020-04-22 11:27] FabianKramm commented on #859
@Inlustra should be fixed now in v4.12.2

[2020-04-22 11:27] #859 closed

[2020-04-22 11:30] FabianKramm commented on #977
@shaunc should be fixed with v4.12.2

[2020-04-22 12:13] LukasGentele commented on #911
Thanks @SamuelColacchia. I fixed the npm installer for powershell and cmd. The fix is part of the newest release v4.12.2. Would be great if you could verify that this works for you now.

[2020-04-23 00:52] SamuelColacchia commented on #911
@LukasGentele I just tried installing devspace v4.12.2 with mixed success.

First it looks like the fix for 'sh' worked!

Though I am now getting the following error when i run devspace, I think it is caused by the space in "Program Files". I tested this on a few other windows systems to see if this was the issue. Running devspace v4.12.2 worked as intended as long as there was not a space in the

[2020-04-23 01:13] LukasGentele commented on #911
@SamuelColacchia Thanks for checking again. That's great to hear that it works except for global npm paths with spaces. I will look into this and push another fix.

[2020-04-23 01:33] #911 closed

[2020-04-24 13:34] jerlam06 opened #1080 "Host path still associated to service of deleted deployment in Network tab"
**What happened?**
I created a new space and deployed a new app called 'app1' into it using 'devspace deploy'. Then I deployed another app called 'app2' and deleted the 'app1' with 'devspace remove deployment app1'.
Once the app1 was deleted, the 'app1' service was still used for the host '/' in the Network tab of DevSpace Cloud.

**What did you expect to happen instead?**
When a deployment gets d

[2020-04-27 08:09] FabianKramm commented on #1080
@jerlam06 thanks for opening this issue! In general, the underlying service should be deleted alongside the deployment if you select `yes` after the `Do you want to delete all deployment resources deployed?` question, however the recommended way to delete deployments and resources with devspace is via `devspace purge`. Does it work when you run `devspace purge` instead of `devspace remove deployme

[2020-04-27 13:31] 0x77dev opened #1082 "Cannot connect external cluster"
**What happened?**
[code]

**What did you expect to happen instead?**
Connect external cluster

**How can we reproduce the bug?** (as minimally and precisely as possible)
[code]

**Local Environment:**
- DevSpace Version: [`devspace version 4.9.3`]
- Operating System: mac
- Deployment method: helm | kubectl apply

**Kubernetes Cluster:**
- Cloud Provider: aws [EKS]
- Kubernetes Version:
[code]

**

[2020-04-28 07:57] FabianKramm commented on #1082
@0x77dev thanks for reporting this issue! The problem is that your cluster apiservices (the apiservice `admission.certmanager.k8s.io`) cannot be discovered, which is why devspace fails, you can verify this via `kubectl get apiservices`. Devspace does an initial cluster check before connecting a cluster and if that fails the cluster connect fails otherwise tools such as helm cannot be used in the c

[2020-04-28 07:58] 0x77dev commented on #1082
Yeah, so I've just deleted cert manager, that's fixed this problem.

[2020-04-28 15:15] DrDonk commented on #1030
Have a look at tunnel which solves this problem without SSH.
[https://github.com/omrikiei/ktunnel](url)

[2020-04-28 16:14] #1082 closed

[2020-05-05 12:13] Addono opened #1085 "install: make brew official installer (add VERSION etc.)"
**What happened?**
![image](https://user-images.githubusercontent.com/15435678/81064540-2734ae00-8eda-11ea-86ff-e38b8f4521aa.png)

**What did you expect to happen instead?**
That this would give me the version of `devspace`, as this is requested when opening a bug report.

**How can we reproduce the bug?** (as minimally and precisely as possible)
`devspace --version`

**Local Environment:**
- DevS

[2020-05-05 12:14] Addono opened #1086 "Hot reloading code assumes user in container is root"
**What happened?**
[code]
**What did you expect to happen instead?**
That hot reloading works independent from the user set in my `Dockerfile`.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Create a container where you change the user to be non-root (e.g. let your Dockerfile contain `USER notroot`), then try to launch this container in dev mode with automatic reloadin

[2020-05-05 15:43] LukasGentele commented on #1086
@Addono Thanks for opening this issue. Totally agree. We should improve this.

One solution I can think of is besides injecting the `ADD` statement for the restart helper, we could also inject a `RUN mkdir /devspace && chown $USER /devspace && chmod 0700 /devspace` to the Dockerfile. Then, we should use the file `/devspace/pid` instead of `/devspace-id` and the container should be able to run with

[2020-05-05 15:46] LukasGentele commented on #1085
@Addono Did you install DevSpace via `brew`? That's a community maintained installer for DevSpace which unfortunately does not set the VERSION variable at build time. I've been meaning to add a PR to brew and make it an official installer for DevSpace but didn't work on this, yet.

[2020-05-05 15:56] Addono commented on #1085
Yeah, installed it using Brew.

[2020-05-06 07:20] Slach opened #1087 "howto setup custom tag attribute inside devspace.yml ?"
**What happened?**
install and run minikube inside Ubuntu 18.04 vagrant / virtualbox VM
install `devspace` inside virtualbox VM
i successfully run `cd /vagrant; devspace init`
and create following /vagrant/devspace.yaml
[code]

run `devspace dev`

**What did you expect to happen instead?**
I expect successful docker build with image tagged as `mycompany/metrics-exporter:devspace`

Instead of I got

[2020-05-06 07:51] FabianKramm commented on #1087
@Slach thanks for reporting this issue! There is an option called `images.*.tags` that you can use to specify your custom tag `devspace`. Your config would look like:
[code]

[2020-05-06 08:09] FabianKramm commented on #1086
In general, I don't see any issues in changing this, however switching the path of the restart helper script will render images built with an older devspace version (with inject restart helper enabled) incompatible with this change, so we have to support the old path as well (or force an image rebuild for older images) to avoid any breaking changes.

[2020-05-06 10:56] Slach commented on #1087
thanks a lot for quick response

[2020-05-06 10:56] #1087 closed

[2020-05-06 12:07] devscipline opened #1088 "nodeSelector and tolerations config for Component Chart"
**Is your feature request related to a problem?**
Can't set nodeSelector and tolerations properties when using Component Chart

**Which solution do you suggest?**
Add the ability to set nodeSelector and tolerations properties when using Component Chart

**Which alternative solutions exist?**
It seems to me that it's not currently possible when using Component Chart. So I need to deploy using anoth

[2020-05-06 12:11] LukasGentele commented on #1088
@devscipline Thanks for requesting this feature. Should be easy to add.

[2020-05-07 07:21] dsebastien opened #1089 "DevSpace install loop with 4.12.2"
**What happened?**

After updating my project's dependency from 4.10.0 to 4.12.2, starting devspace sync causes an "install loop". I've tried removing the globally installed DevSpace package, removing/reinstalling my project dependencies, etc but I can't work around the issue.

**What did you expect to happen instead?**

DevSpace sync starting as usual

**How can we reproduce the bug?** (as minima

[2020-05-07 12:24] Slach commented on #665
hmm, look like you didn't add this enhancement in v4

line 47: field env not found in type latest.ImageConfig

should I use `images / build / custom` something like that?
[code]

[2020-05-07 12:28] Slach commented on #665
oops sorry, my mistake, I didn't recognize context of this issue, it's related to deployment not to image
I will create new issue

[2020-05-07 15:15] LukasGentele commented on #1089
`npx` and well as local package installs are generally not recommended and supported. The problem is that the devspace npm package needs to run `finish-install` to download the actual platform-dependent binary from GitHub (e.g. win 64 bit, linux 32 bit etc). However, to still at least allow local installs, I just opened a PR for this (#1090).

But still, running `npx` would trigger the binary down

[2020-05-07 15:30] dsebastien commented on #1089
Good to know, thanks Lukas.

I usually prefer local installs to ensure that all team members have the same baseline and only need to install the project dependencies. I can understand why you prefer having the huge binaries global though ;-)

I think I added npx at some point to ensure that the project-local version was used. If I'm not mistaken, the behavior of npx is that, if executed within a p

[2020-05-07 15:52] LukasGentele commented on #1089
Ah okay, I didn't know npx would use local packages if they are available. If that's the case, then using npx is actually not bad in combination with what I just pushed. What I changed is that the binary would be installed into the local folder, so npx would use the locally downloaded binary and not download it again. That would actually sound like it gets the advantages you want (local dependency

[2020-05-07 16:13] LukasGentele commented on #1080
I think what he means is that the ingress will still reference the `serviceName` even after running `devspace purge` which has deleted the service already. But there is nothing we can do. That is standard Kubernetes behavior. There is no tight coupling between ingress and service and that is intentional. Closing this for now.

[2020-05-07 16:13] #1080 closed

[2020-05-08 08:09] Qeeq777 commented on #860
https://www.qeeq.com/a/mcs18596
--

[2020-05-08 09:52] Slach opened #1091 "Pass --build-arg to docker via devspace.yaml on image build"
**Is your feature request related to a problem?**
I develop golang application and I try to adapt for remote debugging via `delve` golang debugger
https://blog.jetbrains.com/go/2018/04/30/debugging-containerized-go-applications/

I define in my Dockerfile
[code]
and need pass build argument `--build-arg "GO_GCFLAGS='-N -l'"` to docker

**Which solution do you suggest?**
something like deployments

[2020-05-08 10:27] LukasGentele commented on #1091
This feature already exists as `build.docker.options.buildArgs`: https://devspace.sh/cli/docs/configuration/images/docker#buildargs

That is what you're looking for, right?

[2020-05-08 11:05] Slach commented on #1091
yes, thanks a lot it's exactly what i need

[2020-05-08 11:05] #1091 closed

[2020-05-08 11:50] MUHAMMADW-57 opened #1092 "Feature Request:"
**Is your feature request related to a problem?**

**Where is cloud or download button?**

**How i start downloading on this website?**

**resolve this issue **

/kind feature

[2020-05-08 14:27] nooh2030 opened #1093 "287624"
**What happened?**

**What did you expect to happen instead?**

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- Operating System: windows | linux | mac
- Deployment method: helm | kubectl apply

**Kubernetes Cluster:**
- Cloud Provider: google | aws | azure | DevSpace Cloud | DevSpace Cloud Enterpri

[2020-05-08 16:09] WatthanakonNamthong opened #1094 "Bug:"
**What happened?**

**What did you expect to happen instead?**

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- Operating System: windows | linux | mac
- Deployment method: helm | kubectl apply

**Kubernetes Cluster:**
- Cloud Provider: google | aws | azure | DevSpace Cloud | DevSpace Cloud Enterpri

[2020-05-08 18:35] Jahanaraart03 commented on #860
nice
https://bit.ly/2SI9WR1

[2020-05-08 21:26] #1093 closed

[2020-05-08 21:26] #1092 closed

[2020-05-09 01:27] camelcrush1979 commented on #860
![62C7784C-F5D1-4717-93B3-552E31808AD7](https://user-imag#1091 s.githubusercontent.com/65050497/81460327-e353da00-9161-11ea-9a5a-29a1e332a6c6.png)
#

[2020-05-09 06:03] minh102580 opened #1095 "Bug:"
**What happened?**

**What did you expect to happen instead?**

**How can we reproduce the bug?** (as minimally and precisely as possible)

**Local Environment:**
- DevSpace Version: [use `devspace --version`]
- Operating System: windows | linux | mac
- Deployment method: helm | kubectl apply

**Kubernetes Cluster:**
- Cloud Provider: google | aws | azure | DevSpace Cloud | DevSpace Cloud Enterpri

[2020-05-09 09:11] #1095 closed

[2020-05-09 09:11] #1094 closed

[2020-05-10 14:23] devscipline commented on #1088
@LukasGentele Thank you ! Is it possible to also add the strategy property ?

[2020-05-11 09:50] devscipline opened #1097 "Build fails with error : panic: runtime error: index out of range [0] with length 0"
**What happened?**
I randomly get the following error when building an image using kaniko v0.19.0 in which I run a Webpack build :

[code]

When I try building the image again, without changing anything, it works.

**What did you expect to happen instead?**
I expect the build to complete successfully.

**How can we reproduce the bug?** (as minimally and precisely as possible)
You might reproduce i

[2020-05-12 07:59] FabianKramm commented on #1097
@devscipline thanks for reporting! I'll fix this right away!

[2020-05-12 11:40] #1088 closed

[2020-05-12 14:02] BirknerAlex opened #1101 "Devspace UI freezes the CLI tool"
**What happened?**
I was using devspace as usual and suddenly the tool broke and don't want to start the UI server. Which also breaks the `devspace dev` command because the CLI tool is waiting for the running UI.

I restarted the Mac already and deleted the ~/.devspace folder to be sure I have a clean setup. But still no change, the UI worked before. The port 8090 is not in use by another process.

[2020-05-13 08:36] FabianKramm commented on #1101
@BirknerAlex thanks for reporting this issue! Seems like devspace is stuck either at downloading the ui or checking if the port on the local machine is available. To verify if its the first can you erase the folder `$HOME/.devspace` and after executing `devspace dev` check if the folder `$HOME/.devspace/ui` has any contents?

You can also skip opening the ui during the `devspace dev` command with

[2020-05-13 08:40] FabianKramm commented on #1097
Should be fixed with v4.12.3

[2020-05-13 08:40] #1097 closed

[2020-05-13 09:13] BirknerAlex commented on #1101
Yeah I thought it's a socket or download problem but It seems like the download is working. But I can not find any reason why it freezes.

[code]

Port seems to be fine (free) too:

[code]

[code]

But i found something from interest. I used the `--server` parameter to force the startup. Now it no longer freezes while starting but always saying the port is in use. But it makes no difference which

[2020-05-14 08:23] FabianKramm commented on #1101
@BirknerAlex thanks for the additional information! Yes so it seems devspace is not able to listen on any ports thats why it assumes every port is already in use. Currently the check devspace does to find out if a local port is open is to try to listen on that port and if that fails it assumes the port is already in use. However it seems this check is not sufficient here because the listen fails f

[2020-05-14 11:22] BirknerAlex commented on #1101
Seems like Docker for Mac broke the /etc/hosts file. Never seen this before, really wondering why all other applications might run fine.

But found the issue with your small tool, thanks :)
[code]

My broken hosts file:
[code]

Can be closed, sorry for the interrupt. But maybe it would be better if devspace prints out not a generic error message. But in this case it was a system related issue. :(

[2020-05-14 11:22] #1101 closed

[2020-05-15 05:29] hitman249 opened #1104 "[microk8s] helm install devspace-cloud not working"
**What happened?**
Incorrect devspace installation
No certificate issued

**How can we reproduce the bug?**
Used microk8s

1.

[code]

1.

[code]

[code]

1. Connect in dev

[code]

**Local Environment:**

* DevSpace Version: 4.12.3
* Operating System: linux (ubuntu server 20.04)
* Deployment method: helm

**Kubernetes Cluster:**

* Cloud Provider: DevSpace Cloud
* Kubernetes Version: 1.18.2-41+b5

[2020-05-15 08:21] FabianKramm commented on #1101
@BirknerAlex glad you found the issue! Yes I'll implemented a fix already that will print the above message instead of hanging indefinitely.

[2020-05-16 20:43] LukasGentele commented on #1104
@hitman249 Thanks for opening this issue. If you are running microk8s, you should not use `--set ingress.tls.enabled=true`. Instead, use `false`. TLS will not be required if DevSpace Cloud runs on your machine. The helm deployment seems to be timing out but that can have many reasons. Check the deployments/replicasets/pods using `kubectl get/describe deploy/replicaset/pod` and try to identify why

[2020-05-18 02:35] hitman249 commented on #1104
@LukasGentele Thanks for the answer, but `devspace` requires ssl
[code]

[2020-05-18 17:34] blairham opened #1110 "remove space should not change cluster"
**What happened?**
when using `devspace remove space` with multiple clusters and contexts, it will not return you to the same cluster as the space was in you just removed

**What did you expect to happen instead?**
I would expect it to return me to the same cluster as the namespace was in

**How can we reproduce the bug?** (as minimally and precisely as possible)
have multiple clusters and context

[2020-05-21 14:51] LukasGentele commented on #1110
@blairham Thanks for opening this issue.

I am not sure if I understand what you mean by `return me to the same cluster as the namespace was in`? Do you want DevSpace to switch back to the admin context you used beforehand to connect the cluster?

If that's the case, I don't think that will be possible because DevSpace does not keep track of the contexts you used to connect clusters and more impor

[2020-05-21 15:44] blairham commented on #1110
@LukasGentele Sure let me draw a bigger picture

Let's say I have 3 clusters defined in my kubectl:
production
pre-production
development

Now I only have devspace hooked up to say: development
I create a space in the development cluster, say 'blairham' now I have a new context in the development cluster called 'devspace-blairham'

If I remove that space 'blairham', that was created in the develop

[2020-05-21 18:16] LukasGentele commented on #1110
Alright, I understand. That is actually not an easy feature because there are a couple of issues to resolve:
1. What could happen when non-admin users that do not have the cluster-wide context delete a space?
2. It is not easy to determine which context belongs to a certain cluster. We'd have to check all contexts and the API servers and even that does not mean there would be a match or there coul

[2020-05-22 17:49] LukasGentele commented on #1104
@hitman249 That is indeed the default option but you can run `devspace add provider PROVIDER_NAME --host=http://DOMAIN.TLD` to specify an insecure connection via http.

[2020-05-23 15:15] dsebastien commented on #1089
Should 4.12.5 fix this issue?

[2020-05-23 15:24] LukasGentele commented on #1089
With 4.12.5, it should be possible to run `npx devspace` commands. There was a small issue in the release which affects windows users but it will also be fixed with the next patch release. It's already in master. Are you able to run `npx` with devspace now?

[2020-05-26 10:08] FloChehab opened #1111 "devspace dev not logging sync events to the console"
First of all, thank you for the awesome tool! Since you have introduced me about it @LukasGentele, I have been using it daily :)
At first, I was using only the `sync` command and I got used to the logging it does in the console.
For a couple of days, I've started using the `dev` command but I can't manage to get the similar logs in the console.

**What happened?**
Running `devspace dev` or `devspa

[2020-05-27 23:01] LukasGentele commented on #1111
Hi @FloChehab! Thanks for opening this issue. Glad you like DevSpace so far. Mixing the output of sync and container logs is currently not possible. However, you can use `devspace dev --sync=false` and open another terminal where you can run `devspace sync --config=devspace.yaml`.

[2020-05-29 07:42] FloChehab commented on #1111
Thanks for the info @LukasGentele !
I would personally like if we could have both (or one or the other) directly with the `dev` command, but it's ok for now :)

[2020-05-30 14:00] nberlee opened #1112 "devspace ui should display logs even if it cannot list namespaces"
**What happened?**
As a devspace-cloud user using `devspace ui` when displaying logs i got presented with a
[code]
This is probably because the url `/api/resource?resource=namespaces&context=devspace-randomname` (context is correct) is returning a http 500, in the body:
[code]
a `kubectl get namespaces` in the same context gives me
[code]

**What did you expect to happen instead?**
Display the log

[2020-06-02 08:00] FabianKramm commented on #1112
@nberlee thanks for reporting this issue! I'll take a look at this as soon as I can!

[2020-06-02 18:43] shaunc opened #1113 "devspace build missing "--dependency" flag"
**Is your feature request related to a problem?**

I am having trouble requiring devspace to rebuild a particular dependency.

**Which solution do you suggest?**

Add `--depedency` flag to devspace build.

**Which alternative solutions exist?**

Good question. As far as I can tell, `--force-build` also isn't working for dependencies.
The only option so far is that I go to a copy of the dependency'

[2020-06-03 05:15] cedricmckinnie opened #1114 "Feature Request: Bash/Zsh Tab Completion"
**Is your feature request related to a problem?**
No, it's more of a potential enhancement

**Which solution do you suggest?**

_TLDR: Tab Completions are great. Cobra can generate them_

Tab completion can be quite useful as a CLI grows. Support for at least Bash and Zsh would be a good idea.

This might be helpful particularly for the "devspace commands" directive and other directives that requi

[2020-06-03 05:25] cedricmckinnie opened #1115 "Adding a description or comment property to devspace commands in yaml configuration"
**Is your feature request related to a problem?**
No, this is a potential enhancement

**Which solution do you suggest?**
Simple example usage in devspace.yaml:

commands:
- name: install
  command: npm install
  description: "Run this to download node dependencies specified in package.json into the node_modules folder."
- name: build
  command: devspace build
  description: "Run this to build ngi

[2020-06-04 08:42] FabianKramm commented on #1112
@nberlee I took a look at the problem and the failing request to retrieve the namespaces shouldn't be a problem usually, devspace should display only the current namespace then. I suspect the `An unknown error occurred. We're very sorry about that` is caused by something else, could you open the developer tools in chrome (Command+Option+C (Mac) or Control+Shift+C (Windows, Linux, Chrome OS)) when

[2020-06-04 08:50] FabianKramm commented on #1113
@shaunc thanks for opening this issue! Seems like there are two things here:
1. `--force-build` when used with `devspace dev` and `devspace deploy` should actually also force rebuilding the dependency images. Is that not working for you? I just tested it and it works for me, it is rebuilding the images if the flag is provided
2. yes a `--dependency` flag for `devspace build` is a good idea, we can

[2020-06-04 09:02] FabianKramm commented on #1114
@cedricmckinnie thanks for creating this issue! Yes sounds like a good idea, I know the bash completions from kubectl and didn't know cobra could generate them automatically. We can definitely add this

[2020-06-04 09:06] FabianKramm commented on #1115
@cedricmckinnie thanks for opening this issue! Sounds like a good idea, we can add this as an optional property!

[2020-06-04 13:04] shaunc commented on #1113
Force build is not working in a complex situation for me, but I don't have a reproduction. Perhaps treat this as a report for #2 -- will open a new ticket with a reproduction for #1 if it persists.

[2020-06-04 18:28] cedricmckinnie commented on #1115
@FabianKramm Thanks for the prompt response! Come to think of it, it might also be a good idea to include an optional "name" property as well to be displayed in the UI. Will add a checklist to ticket description just so we have a consolidated list of desired items for this ticket.

[2020-06-08 18:05] nberlee commented on #1112
Hi @FabianKramm ,

Not sure what happend but it is working now and I cannot replicate it anymore. This happened for my colleague and me, but not anymore. So I am closing this issue, and it is not an issue for us anymore, and I cannot get back into the described state anymore to diagnose

[2020-06-08 18:05] #1112 closed

[2020-06-16 06:06] paneq commented on #1030
This would be great to have to support hybrid development environment where some services are deployed in K8s and one or two applications are running natively on the developer's machine.

[2020-06-19 01:57] gbates101 opened #1120 "`devspace update config` substitutes some variable references with their values"
**What happened?**
In some of our `devspace.yaml` files we heavily use vars to template project configs. When I run `devspace update config`, it takes some of the ${VAR} references in the `deployments[].helm.values` section of the config and substitutes with the actual value, which we don't want since we version these `devspace.yaml` files in git for many to use. Seems to only impact lists (see bo

[2020-06-19 02:09] gbates101 commented on #1120
I did a bit more testing on this and discovered that it's replacing everything **_but_** string vars. I'm not sure what the default behavior should be, but if substitution is by design then I wonder if a flag can be added to `devspace update config` to disable it?

[2020-06-19 08:09] FabianKramm commented on #1120
@gbates101 thanks for opening this issue! `devspace update config` is currently kind of a deprecated command, because of issues like this and I think we will remove it in future.

While it was easy initially to upgrade the devspace config version automatically via this command, a lot of complexity got added with profiles and variables and there are still some unsolved cases that make things super

[2020-06-19 11:51] gbates101 commented on #1120
Got it, good to know. Thanks for the quick and detailed reply - we'll start manually upgrading from here on out.

[2020-06-19 11:51] #1120 closed

[2020-06-19 16:16] LukasGentele commented on #1115
Implemented as part of [v4.13](https://github.com/devspace-cloud/devspace/releases/tag/v4.13.0)

[2020-06-19 16:16] #1115 closed

[2020-06-19 16:17] LukasGentele commented on #1113
Implemented as part of [v4.13](https://github.com/devspace-cloud/devspace/releases/tag/v4.13.0)

[2020-06-19 16:17] #1113 closed

[2020-06-19 16:17] LukasGentele commented on #1086
Implemented as part of [v4.13](https://github.com/devspace-cloud/devspace/releases/tag/v4.13.0)

[2020-06-19 16:17] #1086 closed

[2020-06-19 16:17] LukasGentele commented on #1030
Implemented as part of [v4.13](https://github.com/devspace-cloud/devspace/releases/tag/v4.13.0)

[2020-06-19 16:17] #1030 closed

[2020-06-21 03:52] ralfthewise opened #1122 "Better entrypoint override for interactive mode"
**Is your feature request related to a problem?**
It's related to slow redeployments around interactive mode.

**Which solution do you suggest?**
When running `devspace dev -i` the entrypoint override could be something like this:

[code]

**Which alternative solutions exist?**
Manually provide the interactive config I pasted in the previous section.

**Additional context**
Doing `sleep 999999999`

[2020-06-22 06:50] FabianKramm commented on #1122
@ralfthewise thanks for opening this issue! Yes sounds good, I think we can change that, would be great if you could open a PR for this (you can simply change the default ENTRYPOINT and CMD in this file https://github.com/devspace-cloud/devspace/blob/master/cmd/dev.go#L648).

[2020-06-22 16:29] ralfthewise commented on #1122
Sounds good, will do.

[2020-06-30 17:10] BirknerAlex opened #1124 "Sync does not work with crash-looping container anymore (since 4.13)"
**What happened?**

I upgraded from 4.12 to 4.13 today. Running `devspace dev` does sync my golang application to the container. Since the new version 4.13 the sync breaks if the container is in a crash-loop due a syntax error.

In 4.12 I was able to fix the code issue and `devspace dev` synced  the change (magically?) to the crash-looping container and restarted it with the fixed version. Now I n

[2020-07-01 06:38] FabianKramm commented on #1124
@BirknerAlex thanks for reporting this issue! Good catch, this problem occurs because we renamed the sync helper binary to devspacehelper and the restart script now thinks the sync helper binary is missing and fails instead of just restarts the container.

[2020-07-01 07:01] FabianKramm commented on #1124
@BirknerAlex should be fixed with v4.13.1

[2020-07-01 07:01] #1124 closed

[2020-07-01 08:24] BirknerAlex commented on #1124
@FabianKramm Thanks for the fast fix. Tested the new release, works fine! :heart:

[2020-07-03 07:44] abh opened #1126 "Kaniko doesn't work under loft"
When using loft there's a no default resource limits configured, so kaniko fails with an error that resource limits aren't specified.  If devspace set (or had options to configure) limits on kaniko this would work.

[2020-07-03 09:44] FabianKramm commented on #1126
@abh thanks for opening this issue! In general, the recommended approach here is to create a limit range resource(https://kubernetes.io/docs/concepts/policy/limit-range/) in the namespace (can be done automatically in loft via space templates on space create) that will automatically set the resource limits based on your configuration if they are not specified.

Besides from that approach, we can a

[2020-07-03 18:00] abh commented on #1126
@FabianKramm Thanks!  I couldn't get the template feature in loft to work so I added the LimitRange manually with an admin account on the cluster.

I opened this issue for the use case you mentioned of needing different resources than the default.

[2020-07-08 11:29] QwertyQaz414 opened #1127 "Autocreate namespace if not present"
**Is your feature request related to a problem?**
Yes

**Which solution do you suggest?**
One of the following:
- Add an extra optional flag like `ensureNamespace: true` to enable this.
- Add a global config/env var to enable this for all deployment
- Change the default behaviour to automatically do this

IMHO the first option is nicer.

**Which alternative solutions exist?**
hooks but are very ve

[2020-07-08 12:31] Quitten opened #1128 "Security Issue"
I would like to make a responsible disclosure for a security issue with a critical impact on a specific service on Devspace.
I don't want to expose a technical details so potential malicious might exploit it.
I would like to get an email or link so I would be able to explain without exposing it to non-contributors
Thanks.

[2020-07-08 14:12] LukasGentele commented on #1128
Please reach out to me via lg@devspace.cloud

[2020-07-09 06:28] FabianKramm commented on #1127
@QwertyQaz414 thanks for reporting this issue! Makes sense, I think we can add this feature!

[2020-07-15 08:59] Quitten commented on #1128
@LukasGentele - I sent an email few days ago, waiting for your response

[2020-07-15 21:38] LukasGentele commented on #1128
Just got back to you. Sorry for the late response. We should be shipping a patch release for this issue by tomorrow.

[2020-07-16 00:45] bob477 commented on #1128
Yall still dont have her mess she and her sis use at&t slot 100 aliases
dionheilman1@gmail.com

On Wed, Jul 15, 2020, 5:38 PM Lukas Gentele <notifications@github.com>
wrote:

[2020-07-16 12:59] Romeh commented on #919
@heroyin  @LukasGentele
How it works with multii module spring boot application ? as other the main module which has *.classes pushed to the docker container , the other modules will be packaged as JAR in the libs folder of the main application .

is pushing new jar for one of the sub modules will trigger the hot code reload ?

[2020-07-16 15:19] FabianKramm commented on #1128
@Quitten fixed in v4.14.0

[2020-07-16 15:19] #1128 closed

[2020-07-16 15:19] FabianKramm commented on #1127
@QwertyQaz414 implemented in v4.14.0

[2020-07-16 15:19] #1127 closed

[2020-07-16 15:20] FabianKramm commented on #1126
@abh implemented in v4.14.0

[2020-07-16 15:20] #1126 closed

[2020-07-23 10:22] hvt opened #1133 "Search bar for pods / containers in DevSpace UI"
First of all: we just started using DevSpace, and are excited to get going and making our DX better :smile:.

**Is your feature request related to a problem?**
Yes, when you have lots of pods running, you have to use a browser's 'find in page' to look for the right pod / container to select,

**Which solution do you suggest?**
Would be great to have an interactive search bar below the KubeContext

[2020-07-23 11:27] QwertyQaz414 commented on #1127
Cool 👍

[2020-07-24 07:47] FabianKramm commented on #1133
@hvt thanks for reporting this issue! Yes, sounds like a good idea, I'll add it to the todo list

[2020-07-27 16:10] Chad-R-S opened #1135 "Kustomize binary in path is not used"
**What happened?**

The kubectl command is used with the outdated kustomize instead of the Kustomize in my path. It seems like it doesn't use `/usr/local/bin` as a path to look for Kustomize, which is where it is for me.

**What did you expect to happen instead?**

I expected it to use the kustomize binary from `/usr/local/bin`.

**How can we reproduce the bug?** (as minimally and precisely as pos

[2020-07-27 21:29] chasebolt opened #1136 "sync fails on OSX Catalina"
**What happened?**
Making changes to files in an editor (VSCode / BBedit) do not sync into the container. Running `devspace status sync` shows only the initial sync completes, with no further changes tracked.

Debugged with @LukasGentele and installed `fswatch`. Running `fswatch -m kqueue_monitor /my/repo` did not pick up file changes from VSCode; but it did pickup changes from vim. Tested to see

[2020-07-27 21:36] LukasGentele commented on #1135
@Chad-R-S Thanks for opening this issue. Just to make sure: If you run `whereis kustomize`, does it find the binary?

[2020-07-27 23:26] chasebolt commented on #1136
FWIW I have a developer that this is not an issue with on Mojave. I do not have a Mojave install to replicate this on though.

[2020-07-27 23:35] khaled opened #1137 "expose current namespace as a pre-defined variable"
**Is your feature request related to a problem?**
I have a chart that (sadly) wants namespace as a `value`.

Also this would be useful for `command`s that need to know the namespace (assuming it isn't the current default, e.g. if I run `devspace -n whatever`)

**Which solution do you suggest?**

Expose a predefined variable, maybe `DEVSPACE_NAMESPACE`

**Which alternative solutions exist?**

None

[2020-07-28 01:53] Chad-R-S commented on #1135
No, I don't get any output from that. I'm guessing because it uses a hardcoded path list that doesn't include `/usr/local/bin`. However, running `which kustomize` does output the location: `/usr/local/bin/kustomize`. I do have that path in my `$PATH` env, which is set to the default for my mac: `/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin`.

[2020-07-28 01:56] LukasGentele commented on #1135
Great. Thanks for verifying that.

[2020-07-28 03:25] mnpenner commented on #851
Would it be possible to change this behavior so that it syncs to all pods with the given image?

I actually have three: my app, a worker, and a cronjob.

[2020-07-28 06:28] mnpenner commented on #1111
`devspace sync --config=devspace.yaml` makes me pick a container, I'd like sync and see the output for everything.

Turns out there was an error in there too I wasn't seeing because `devspace dev` never showed it.

[2020-07-28 08:28] FabianKramm commented on #1135
@Chad-R-S could you post the output of `kustomize version` here? Devspace internally calls `kustomize version` to see if kustomize is installed, if that command for any reason fails or returns a false output, devspace assumes kustomize is not installed and fallsback to kubectl

[2020-07-28 08:37] FabianKramm commented on #1136
@chasebolt so it works for me and I'm on macOS Catalina 10.15.6. Tested it with VSCode and Vim, devspace picked up all changes correctly, so it might be something different. Under the hood devspace uses kqueue to detect changes, which should usually work, but it makes sense that devspace doesn't detect changes if `fswatch -m kqueue_monitor /my/repo` is not detecting them, do you encounter this iss

[2020-07-28 09:03] FabianKramm commented on #1137
@khaled thanks for reporting this issue! Yes this is actually a good idea, I can implement that.

[2020-07-28 13:17] Chad-R-S commented on #1135
I ended up digging into the code a bit before seeing your post and stumbled across the issue actually. My output from kustomize is: `'{Version:3.8.1 GitCommit:0b359d0ef0272e6545eda0e99aacd63aef99c4d0 BuildDate:2020-07-16T05:15:32+01:00 GoOs:darwin GoArch:amd64}`. However, this line of code expects there to be the word `kustomize` in the output:

https://github.com/devspace-cloud/devspace/blob/0e77

[2020-07-28 19:01] chasebolt commented on #1136
I tested the quickstart on the fresh install Catalina (10.15.5) and it works fine with devspace sync. fswatch fails when using `kqeueu_monitor` though.

I do have another user also on Catalina (10.15.5) that devspace quickstart is not working for in regards to the sync. `fswatch -m fsevents_monitor /my/repo` *does work* for this user.

I tried compiling with `CGO_ENABLED=0` but it errors out.

[co

[2020-07-29 08:48] FabianKramm commented on #1135
@Chad-R-S yes that exactly is the problem! Seems like they changed the output of the version command again, I'll fix this then for the next release!

[2020-07-29 13:37] FabianKramm commented on #1136
@chasebolt thanks for the information! Mhh there seems to be an issue in the notify library we use with an explicit `CGO_ENABLED=0`, but just `go build -mod vendor -o /usr/local/bin/devspace main.go` should work which also disables CGO. Does that make any difference?

[2020-07-29 14:19] BirknerAlex opened #1139 "Write synched files as a specific user ID"
**Is your feature request related to a problem?**

When you run a go lang container inside k8s, the go modules can't be installed since all synced files belonging to root but the go process itself it's executed as normal user.

[code]

You need to execute your go binary as root to solve this issue.

Downsides:
* Security impact even on development
* Different runtime behavior in production, maybe

[2020-07-29 18:01] LukasGentele commented on #1139
Could you use this in your devspace.yaml to solve this issue?
[code]
This effectively adds `USER root` statement to your Dockerfile (not persistent, only in-memory during the build process) which leads to executing the container as root user during development. More info about this config option here: https://devspace.sh/cli/docs/configuration/images/append-dockerfile-instructions

For CI/CD, stag

[2020-07-30 16:09] Babynigel opened #1143 "Bug: Helm Deployment boolean not replacing from valuesFile"
I have setup a helm deployment and I am using the valuesFile functionality to reference a file with my desired values.
But when using the valuesFile I am unable to run 'devspace deploy/dev' commands when I have a boolean variable that needs replacing. I have also tried setting the value as string.

eg:

cloneOnStart: true     or     cloneOnStart: "true".

Interesting enough is that this works if I

[2020-07-31 08:15] FabianKramm commented on #1143
@Babynigel thanks for reporting this issue! So I tested it on my local computer with a boolean value within a values file, but it works for me, so I think I'll need some additional information about this issue. What is the error message you receive from `devspace dev/deploy`? Furthermore could you provide me a small yaml example with which I can reproduce this issue?

[2020-08-01 07:46] Babynigel commented on #1143
@FabianKramm  below is an example of this occurrence. The below error is experienced with this configuration.
This error is caused by the cloneOnStart value in the values.yaml file. however if I hardcode the boolean string in the template this works fine.

[code]

devspace.yaml file:

[code]
values.yaml file :

[code]
Helm template deployment file:
[code]

[2020-08-03 00:53] mnpenner opened #1146 "JSON Schema?"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
Can you please provide a JSON Schema for `devspace.yaml`? Preferably by [contributing it to schemastore.org](https://github.com/SchemaStore/schemastore/blob/master/CONTRIBUTING.md#json-schema). This way our IDEs will pick it up automatically and we can get completions and help when authoring this file.

**Whic

[2020-08-03 01:07] mnpenner opened #1147 "Specify Kubernetes context in devspace.yaml"
**Is your feature request related to a problem?**
Yes

**Which solution do you suggest?**
Allow me to specify which Kubernetes context to use in `devspace.yaml`.

Maybe under `deployments[*].kubectl.context`? Or a global option would be fine with me too.

You show a warning when I try using a different context than I did last time, which is wonderful, but I somehow overlooked it anyway and deploye

[2020-08-03 01:15] mnpenner commented on #1139
`chown` (user + group) and `chmod` options would be great.

I don't think messing with the Dockerfile is a good solution.

I'm working on Windows, so my permissions are getting messed up constantly. I have scripts to fix them but syncing overwrites them. rsync has `--chown` and `--chmod` which are awesome. Rsync takes it a step further and lets me specify different file and dir modes like `F440,D5

[2020-08-03 07:56] FabianKramm commented on #1139
@mnpenner for this use case devspace supports the `dev.sync.*.onUpload.execRemote` where you can define your own chown and chmod or any other arbitrary commands that will be executed for each uploaded file or folder

[2020-08-03 07:57] #1139 closed

[2020-08-03 08:04] FabianKramm commented on #1143
@Babynigel thanks for the additional information! I could reproduce the problem now and will fix it for the next version

[2020-08-03 08:12] #1143 closed

[2020-08-03 08:24] FabianKramm commented on #1147
@mnpenner thanks for opening this issue! Actually in older versions of devspace we had an option where you could specify the kube context within the devspace.yaml. However we decided to remove it because:
- `devspace.yaml` is distributed among teams with different local configurations and kube context names, which usually results in conflicts.
- It increases confusion because the context in the co

[2020-08-03 08:24] #1147 closed

[2020-08-03 08:30] FabianKramm commented on #1146
@mnpenner thanks for opening this issue! Good idea, I will mark this as a feature

[2020-08-04 02:32] mnpenner commented on #1147
That works well. Thank you 😄

[2020-08-04 20:05] tingkai-zhang opened #1148 "DevSpace CLI stuck at project initialization step"
**What happened?**
I followed the getting started tutorial to initialize the quick-start python project.
When I do `devspace init` and choose the option `Use the Dockerfile in ./Dockerfile`, the CLI stuck at this step.

![image](https://user-images.githubusercontent.com/20318562/89338929-5094df80-d66b-11ea-835d-6d1497119a7c.png)

**What did you expect to happen instead?**

**How can we reproduce t

[2020-08-05 11:33] hvt opened #1149 "`Log streaming service has been terminated` happens a lot"
**What happened?**

When using `devspace dev`, a lot of times the message `Log streaming service has been terminated` appears. Indeed, displaying of the logs in the terminal stops. Perhaps not a bug, but I was wondering what is happening here? And is there any way to fix it?

**What did you expect to happen instead?**

That logging of the project is not interrupted / terminated on the cli.

**How

[2020-08-05 12:14] FabianKramm commented on #1148
@tingkai-zhang thanks for opening this issue! This is either caused by docker or kubectl hanging, can you check if either of the following commands is hanging for you:
[code]
or
[code]

[2020-08-05 15:16] FabianKramm commented on #1149
@hvt thanks for reporting this issue! The error message occurs if devspace somehow loses connection to the pods the logs are streamed from. Losing the connection could have several reasons:
- The pod is restarting for some reason (you can verify this via `kubectl get pods`)
- Some kubernetes api servers have a timeout for idle connections and will kill the connection if this timeout is reached
- T

[2020-08-06 07:13] hvt commented on #1149
The projects are running in the same namespace.

Mmm, I will see what `kubectl get pods` gives, around the time this is happening. Will get back once it appears again :].

[2020-08-06 13:12] tingkai-zhang commented on #1148
Hi @FabianKramm ! Thanks for replying.
None of these two commands is hanging. They all correctly returned the k8s namespaces and docker images.
What else information can I provide for you to investigate this issue?

[2020-08-06 13:39] FabianKramm commented on #1137
Implemented with v5.0.0

[2020-08-06 13:39] #1137 closed

[2020-08-06 13:39] FabianKramm commented on #1135
Fixed with v5.0.0

[2020-08-06 13:39] #1135 closed

[2020-08-06 13:42] FabianKramm commented on #1148
@tingkai-zhang thanks for the additional information! Mhh thats odd, usually it is one of the two commands. Do you have minikube installed by any chance and the current kubernetes context points to that? Could be that the minikube docker daemon is hanging.

What kind of kubernetes cluster are you using?

[2020-08-06 13:50] tingkai-zhang commented on #1148
@FabianKramm  I don't have minikube installed.

I ran a 3-node K8s cluster on bare metal machines. The current context points to that cluster.

[2020-08-06 13:58] FabianKramm commented on #1148
@tingkai-zhang okay, could you try with v5.0.0 and see if that makes any difference, there were some changes to the init process

[2020-08-06 14:03] tingkai-zhang commented on #1148
Just upgraded devspace and tried it out. Still stuck at the `use Dockerfile ...` step.
Is there a log file generated during init process that I can provide you?

[2020-08-07 03:40] tingkai-zhang commented on #1148
ah sorry, I should've put WSL2 in the system info. The WSL2 distro is Ubuntu 20.04 LTS.
So I think the problem has something to do with WSL2.
Did anyone experience this before and could provide some thoughts on this?

[2020-08-07 04:07] LukasGentele commented on #1148
@tingkai-zhang I just tried to reproduce this with our golang quickstart project, WSL2 Ubuntu 20.04 on Windows 10 64 bit and it runs through for me. It's a clean WSL2 Ubuntu instance. Hard to tell what's going wrong.

While we try to find the cause of this issue, you can still use devspace by just manually creating a devspace.yaml because that is essentially everything that `devspace init` does in

[2020-08-08 09:25] tyomo4ka opened #1153 "Devspace cannot find target in the Dockerfile"
**What happened?**

Given a Dockerfile with 3 stages: base_build[0], prod_build[1] (FROM base_build) and  dev[2] (FROM base_build).
When I specify `prod_build` and `dev_build` as target in `devspace.yaml` config. I receive this error:

`[fatal]  build images: Error during image build: Coulnd't find target 'prod_build' in dockerfile`

Specifying `base_build` as target would work correct though.

Th

[2020-08-08 20:30] ChadSikorra commented on #1153
I was just about to report this same issue. Though perhaps your case is slightly different from mine. It also fails to find the target when the `FROM` statement contains a buildarg, such as:

`FROM nginx:${NGINX_VERSION}-alpine as web`

If I remove the buildarg, it works fine.

[2020-08-08 21:17] LukasGentele commented on #1153
Thanks for reporting this. This issue is related to a regex that did not allows characters such as `_` and `$` in-between FROM and AS. I just pushed a fix for this.

[2020-08-09 17:53] tingkai-zhang commented on #1148
Thank you! I will start from there.

[2020-08-09 23:13] tyomo4ka commented on #1153
@LukasGentele Thanks for fixing that so quick.

[2020-08-10 08:21] FabianKramm commented on #1153
Fixed in v5.0.1

[2020-08-10 08:21] #1153 closed

[2020-08-10 08:22] FabianKramm commented on #1133
@hvt Implemented in v5.0.1

[2020-08-10 08:22] #1133 closed

[2020-08-10 12:58] Chad-R-S commented on #1153
@FabianKramm Was this accidentally missed? Seems like the PR is still open: https://github.com/devspace-cloud/devspace/pull/1154

When I updated to 5.0.1, I still get the error message about the target not being found. Seems like the old regex is still being used in master.

[2020-08-10 14:26] FabianKramm commented on #1153
@ChadSikorra ups, you are right, seems the PR slipped through, I made a new release v5.0.2 for this

[2020-08-10 15:47] blairham opened #1156 "add --wait on space delete"
**Is your feature request related to a problem?**
Yes, the problem we have is if you create a space right after deleting a space it creates a space with a random string at the end and is unusable by the user.

**Which solution do you suggest?**
adding a flag '--wait' to the devspace delete space.

**Which alternative solutions exist?**
giving users more RBAC permissions so that they can check to s

[2020-08-11 14:16] fsanys commented on #1111
Hi,
We would also love to have the possibility to use : `devspace dev --verbose-sync` and get only the logs of the sync.
It will improve the comfort to use devspace by limiting the number of terminal with the the solution you mentionned @LukasGentele.
Thanks for this great tool.

[2020-08-11 14:46] FabianKramm commented on #1156
@blairham thanks for reporting this issue! Since `devspace delete space` is not part of the original devspace, I assume you are referring to the [devspace loft plugin](https://github.com/loft-sh/loft-devspace-plugin)? For future issues, it would be great if you could open the issue there. Regarding this issue, I think we can add the `--wait` flag to the space delete command. One note regarding `de

[2020-08-11 15:49] blairham commented on #1156
@FabianKramm fair enough where to post, I wasn't sure if it was devspace or the loft command.

Regarding the delete, we were seeing this happen in thedevspace-cloud as we have a bash script that will delete and then create a new space. We ended up having to put an arbitrary wait, otherwise it created these random namespaces. The users don't have permissions to run `kubectl get spaces` we didn't tr

[2020-08-13 16:55] tingkai-zhang commented on #1148
Hi, @FabianKramm @LukasGentele , thanks for helping me out. I have new findings.

After skipping `init` step and continue on, I surely failed due to not logging into dokcerhub when I did `devspace dev`. Then I do `sudo docker login` because `docker login` will remain hanging. This reminds me of the devspace hanging error.

So I reinstalled devspace to `/user/bin`, then in the quickstart folder: `s

[2020-08-13 17:53] LukasGentele commented on #1148
@tingkai-zhang That sounds like a reasonable explanation. Thanks for following up on this. Unfortunately, DevSpace needs to be able to call `docker` without `sudo` OR you will need to run every `devspace` command as `sudo devspace ...` as well. Would you mind checking these two options to see if either one of them fixes your issues? If yes, I would add a note regarding this to the docs as well.

[2020-08-13 23:26] blairham commented on #1156
@FabianKramm here is what I ended up changing too and it works

[code]

[2020-08-14 00:21] tingkai-zhang commented on #1148
After talking to Lukas, I was able to make `devspace` to work by deleting `~/.docker/config` on my WSL2 Ubuntu.
Thanks for all the help.

[2020-08-14 00:21] #1148 closed

[2020-08-14 07:31] FabianKramm commented on #1156
@blairham thanks for providing a workaround! We already implemented a `--wait` flag in loftctl and the devspace plugin, which will be released soon!

[2020-08-17 05:12] paneq opened #1157 "Support startupProbe in component Chart"
**Is your feature request related to a problem?**

No

**Which solution do you suggest?**

Please add support of `startupProbe` to componentChart.  According to [the docs](https://devspace.sh/component-chart/docs/configuration/containers) `livenessProbe` and `readinessProbe` are already supported but [`startupProbe`](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readi

[2020-08-18 21:36] wansiedler opened #1158 "configMap in dev mode"
Hello, how can I mount configMap in dev mode?
This volumes section in deployments doesnt work in `devspace dev` mode =(

[code]

[2020-08-19 03:21] SamYu opened #1159 "Bug: devspace set encryptionkey logs the key instead of the cluster name on success"
**What happened?**
When attempting to set encryptionkey for devspace cloud via `devspace set encryptionkey <KEY> --cluster=<CLUSTER>`, the success message outputs `Succesfully set encryption key for cluster <KEY>` with the key in the success message instead of the cluster name.

This is the command and output
[code]
**What did you expect to happen instead?**
The success message should say the clus

[2020-08-20 08:10] QwertyQaz414 opened #1160 "Add DEVSPACE_PROFILE to predefined variables"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
Add a predefined variable called `DEVSPACE_PROFILE` which contains the current profile being used.

e.g. launching devspace with `devspace deploy -p my_profile` (or `devspace use profile my_profile`) will set `DEVSPACE_PROFILE` to `my_profile` inside `devspace.yaml`

**Which alternative solutions exist?**
This

[2020-08-23 14:09] tom-acceleratecompliance opened #1161 "Command to restart container"
Firstly, thanks for the amazing tool, it works brilliantly for us.

**Is your feature request related to a problem?**
We use devspace with Ruby on Rails. Most of the time, the hot code reload works brilliantly and the `onUpload.restartContainer` is set to false. However, when working in rails, it is sometimes necessary to restart the application (such as when changing an initializer).

Restarting

[2020-08-23 20:51] LukasGentele commented on #1161
Thanks for opening this issue. That's an interesting case where you want auto-restart disabled but on-demand restarts as user-friendly and quickly as possible. With the current capabilities, you could run `devspace dev -d` but that won't always work because the deployment may not have changed. Another option is `devspace dev -b` which forces a new tag to be built and therefore, it should always re

[2020-08-24 14:44] tom-acceleratecompliance commented on #1161
Hi @LukasGentele - thanks for taking a look at this!
I had attempted to use `devspace dev -d/-b` but ran into the issue you mentioned around how long the container takes to rebuild. I don't know the internals of devspace, but would something like `devspace dev -r` be possible? Expected behaviour being "Start devspace while immediately restarting the container as though `restartContainer` was set t

[2020-08-24 15:58] LukasGentele commented on #1161
@tom-acceleratecompliance the flag should be even easier to do.

I know a few teams who use DevSpace using rails. A common pattern is what you described. Instead of opening the terminal in a second window, you can also tell DevSpace to open the terminal instead of opening the log stream. Take a look at dev.interactive for the relevant config options

[2020-08-25 06:48] FabianKramm commented on #1160
@QwertyQaz414 thanks for reporting this issue! Sounds like a good feature, I think we can implement this!

[2020-09-01 23:21] DanielGlaas opened #1163 "Support access devspace UI from outside an VM (virtualbox)"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
I would like to be able to open the devspace UI in the browser running on the host machine while devspace is running in a virtual machine. Therefore a route is needed going from the host to devspace on the VM, which is mostly done by configuring static port forwarding rules in virtualbox. For this, it is neces

[2020-09-02 06:52] FabianKramm commented on #1163
@DanielGlaas thanks for reporting this issue! Yes, sounds like a good idea, we can add this setting

[2020-09-03 14:50] iSeiryu opened #1164 "Crashes on Windows"
**What happened?**
Any devspace command started throwing one of these exceptions
[code]

Another one
[code]
**What did you expect to happen instead?**
The command to execute as normal

**How can we reproduce the bug?** (as minimally and precisely as possible)
Run "devspace" in a terminal on Windows.

**Local Environment:**
- DevSpace Version: 5.0.2
- Operating System: windows
- Deployment method:

[2020-09-03 21:08] iSeiryu commented on #1164
It still works inside WSL on the same machine but not on Windows itself.

[2020-09-04 01:16] keithwoody opened #1165 "Unable to use DEVSPACE_GIT_COMMIT from config in subPath"
**What happened?**
While configuring a repo with multiple subprojects we were unable to use the built in config variable `${DEVSPACE_GIT_COMMIT}` in our image tags due to a fatal error.
[code]
This occurs both when deploying _directly from the repo_ or using the repo as _git sourced dependency_ in a different config.

**What did you expect to happen instead?**
It should be a valid configuration gi

[2020-09-04 01:26] iSeiryu opened #1166 "Make ports configurable for devspace open"
**Is your feature request related to a problem?**
The current ```devspace open``` command hardcodes port **8080** for port-forwarding. This port is used by some other tools which causes issues.

**Which solution do you suggest?**
Add ```-p```, ```--port``` flag to that command to provide an override.
```devspace open --port 9000```
```devspace open --port 9000:80```

**Which alternative solutions

[2020-09-04 07:54] FabianKramm commented on #1166
@iSeiryu thanks for opening this issue! Yes we can add this flag, however usually devspace would try other ports if 8080 is already listened to, so maybe the check is not working there. But adding a flag for this is a good idea nonetheless