[2022-09-21 19:22] maikelvl commented on #2066
@FabianKramm Thank you for taking the time to contemplate and respond. I respect your decision not to change it. Thanks 👍🏻

[2022-09-21 22:30] lizardruss commented on #2322
We have this [example](https://github.com/loft-sh/devspace/tree/main/examples/redeploy-instead-of-hot-reload), but I agree that showing a practical usage in the docs would be an improvement.

The command approach should work with the older config format, however if you're upgrading to the newer format then  [`restartContainer` flag under `sync`](https://devspace.sh/docs/configuration/dev/connectio

[2022-09-21 22:47] lizardruss commented on #2309
@BirknerAlex @ComaVN I'm looking into this deeper and was wondering if either of you have tried the [delay container start](https://devspace.sh/docs/configuration/dev/connections/file-sync#delay-container-start) example with the the readiness / liveness probes in place?

[2022-09-22 00:19] lizardruss commented on #2329
FWIW, the `once: true` command is only being run once, but the logging is repeated which makes it seem like it's being run every time.

[2022-09-22 00:32] lizardruss commented on #2309
@BirknerAlex [waitInitialSync: false](https://devspace.sh/docs/configuration/dev/connections/file-sync#wait-for-initial-sync) may be the missing configuration that will help with this.

[2022-09-22 06:37] Orgil commented on #2329
@lizardruss
1. Deployment doesn't have readiness/liveness probes.
2. I meant restarting local cluster. All replaced pods stuck at still waiting after restart. so i need to run ```devspace sync``` on every deployment.

I'm using pnpm package manager so needs to be installed before ```command: ["pnpm", "dev"]```

[2022-09-22 10:19] #2324 closed

[2022-09-22 12:05] alexellis commented on #819
No worries @LukasGentele

If devspace has a built-in terminal, [feel free to try it out](https://docs.inlets.dev), it should just work.

[2022-09-22 13:51] lizardruss commented on #2329
@Orgil

Try adding the `.devspace` folder to your persist path and see if this resolves the issue.
[code]

[2022-09-22 20:38] fuhengwu2021 opened #2333 "Cannot run devspace inside a docker instance"
**What happened?**
I want to use devspace to build a docker image inside a docker instance, but it doesn't work.

**What did you expect to happen instead?**
devspace can build docker image inside docker instance

**How can we reproduce the bug?** (as minimally and precisely as possible)
Just run devspace deploy inside a running docker instance

/kind bug

[2022-09-22 21:45] carlmontanari commented on #2333
Hey there @fuhengwu2021

I think probably it would be good to first understand what you are trying to accomplish?

If you are wanting to build an image from inside a container using *docker* specifically, you'll need to mount the docker sock in the container (searching docker-in-docker should give you a bunch of info on that).

If you just want to run devspace from the container and build images o

[2022-09-22 23:19] madhavajay commented on #386
@lizardruss no worries. We can close this for now.

[2022-09-22 23:23] #386 closed

[2022-09-23 07:49] gustaff-weldon opened #2334 "File sync in dev mode fails with segmentation fault when container is running in vcluster"
**What happened?**
`devspacehelper` fails to start when running `devspace dev` for project running in  `vcluster` on m1.

When we run `devspace dev` command `devspacehelper` fails with `segmentation fault` when trying to start. The pod and container are running in vcluster running in docker-desktop kubernetes, on m1 host.

**We have tested the same `devspace dev` for a pod which did not run in vcl

[2022-09-23 08:56] gustaff-weldon commented on #2334
Thanks for getting back.

👍  I think in UI this is under `Helm Values for Virtual Cluster Chart` in `Advanced Options`

We cannot force arch, as developers use different architectures on their laptop.

[2022-09-23 10:13] #2331 closed

[2022-09-23 11:09] andrstor opened #2337 ""Inherit" imported sections from devspace.yaml to create reusable defaults that can be overriden locally"
**Is your feature request related to a problem?**
The problem we are trying to solve is how to scale devpace.yaml to a large number of repositories without having to repeat yourself over and over.

We have a set of very similar repos and applications (50+) were we are working on implementing devspace. To ease the implementation we are using reusible parts in devspace.yaml (e.g. imports) whenever p

[2022-09-23 11:35] Andrioden opened #2338 "Windows install documentation info box is wrong"
The box i have crossed over contains information that is wrong.

The powershell comand `[Environment]::SetEnvironmentVariable("Path", $env:Path, [System.EnvironmentVariableTarget]::User);` is permanent.

Ref: https://stackoverflow.com/a/2571200/686131

I suggest you just remove the whole teal-colored info box.

![image](https://user-images.githubusercontent.com/393376/191951379-a1ccc3d7-b3a0-4b22-

[2022-09-23 13:11] aliusmiles opened #2339 "Schema validation fails when have bot string and object vars"
**What happened?**
When `vars` section includes both string and object vars, VSCode is showing schema error on string var:

Curiously though, when comment/remove object var - validation is ok. I've did clear schema's cache so it's validating against latest version.

I guess schema must be crafted in some special way to work with different var types simultaneously, though no idea how.

**What did y

[2022-09-23 13:14] lizardruss commented on #2338
Hello! Thanks for pointing this out. This was my experience as well. I'll create a PR to remove this section.

[2022-09-23 14:58] #2333 closed

[2022-09-23 15:05] fuhengwu2021 opened #2341 "`devspace purge` doesn't do anything"
**What happened?**

I was using `devspace` for docker image deployment. But it hang there forever due to ImagePullBackOff. Then I use `ctrl-c` to exit devspace from forever waiting.

Then I tried to run `devspace purge` it doesn't do anything. Some resources were already created in k8s. If I run `devspace deploy` it will fail immediately because the resource already exists.

**What did you expect

[2022-09-23 15:17] carlmontanari commented on #2197
I think we can close this one out, updated quick start -> [here](https://github.com/loft-sh/devspace-example-python)

[2022-09-23 15:17] #2197 closed

[2022-09-23 15:25] fuhengwu2021 commented on #2341
my terminal was shutdown due to network issue, and I ran `devspace purge`, then I got:

[code]

[2022-09-23 15:45] BirknerAlex commented on #2309
@lizardruss I have not migrated yet to the new config format. But I will do that soonish, the property does not exist in `v1beta11`. Seems like the default behavior changed for the legacy config format in devspace v6.

[2022-09-24 07:01] Orgil commented on #2329
@lizardruss Now i got
[code]

[2022-09-24 20:01] GaRiY opened #2342 "is_dependency does not return enything"
**What happened?**
is_dependency did not return enything.

**What did you expect to happen instead?**
In DevSpace docs devspace.yaml/functions section it says that:

**How can we reproduce the bug?** (as minimally and precisely as possible)
My 2 devspace files are enough.

My dependency devspace.yaml:
[code]

My main devspace.yaml:
[code]

**Local Environment:**
- DevSpace Version: 6.1.1
- Operati

[2022-09-25 03:43] markphillips100 commented on #2063
Yep all good.  Just shows a warning about a missing kubeconfig but no longer prevents the image builds.  Thank you @FabianKramm

[2022-09-25 15:38] lizardruss commented on #2329
@Orgil I think you’ll need to add the `pnpm` install location to `persistPaths`, or remove the `once` flag.

[2022-09-26 02:11] Orgil commented on #2329
@lizardruss thank you for your support. After tried different options, i've concluded that building custom image and use it for dev is best choice for my flow.

[2022-09-26 02:11] #2329 closed

[2022-09-26 06:02] pratikjagrut commented on #2342
Hi, @GaRiY Thanks for creating this issue. We'll troubleshoot it and fix it.

[2022-09-26 07:39] #2338 closed

[2022-09-26 07:40] #2334 closed

[2022-09-26 07:41] FabianKramm commented on #2341
Hello @fuhengwu2021 ! Thanks for creating this issue! Are you absolutely sure there was no other DevSpace process running in this namespace while you were trying to purge it?

[2022-09-26 09:22] alexissellier commented on #2316
Could you tell me what is the reason for devspace to have a constraint on the github.com/docker/docker lib version ?

[2022-09-27 07:22] pratikjagrut commented on #2342
Hey, @GaRiY This is not a bug but a documentation error. `is_dependency` returns the exit code the same as any other command. So it returns `0` if the pipeline currently being executed is run because the project is a dependency of another project. You may use it as:
[code]

[2022-09-27 09:29] FabianKramm opened #2346 "Hide variables values with password: true in DevSpace logs"
ul

[2022-09-27 11:00] #2342 closed

[2022-09-27 11:01] FabianKramm commented on #2316
@alexissellier they were a couple of problems combined with Kubernetes and docker/distribution, but I believe we can revisit that and check if its still necessary

[2022-09-27 14:42] kzap commented on #2323
In my testing of the `devspace-6.1.2-alpha.0` this does not work until I auth with github HTTPS

[code]

- When I authenticate with GitHub HTTPS it works:
[code]

- git version on my M1 Mac
[code]
[code]

[2022-09-27 18:16] sandrotaje commented on #2310
It seems this doesn't happen with devspace 6

[2022-09-27 21:32] petr-buchin opened #2348 "Add `--restart-container` option to `devspace sync` command"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
It would be great to have ability to specify `--restart-container` option in `devspace sync` command, which would add functionality, already available via `restartContainer` option in `devspace.yaml` config.

**Which alternative solutions exist?**
Alternative would be to use `devspace dev` pipeline

**Addition

[2022-09-28 15:41] lizardruss opened #2349 "Enable proxy commands for sync onUpload"
**Is your feature request related to a problem?**
Commands that are run during a sync's `onUpload` may require git credentials. In a case reported in Slack, the user wants to use private go dependencies during `go build`. Since this requires `gitCredentials` and the related proxy had not yet been started,
the command would fail.

**Which solution do you suggest?**
Start command proxying before the

[2022-09-29 06:52] FabianKramm commented on #2348
Hey @petr-buchin! Thanks for creating this issue! I'm not sure if we should add this, since `devspace sync` is just meant to sync files into a container, but the `--restart-container` option would lead to replacing the container and injecting the restart helper. This is wanted in the regular dev workflow, but I'm not sure if we should add this for the sync command only as we would also need to add

[2022-09-29 06:53] FabianKramm commented on #2337
@andrstor thanks for creating this issue! As discussed in slack, this is a little bit bigger topic and we'll need to discuss first how we'll approach that.

[2022-09-29 16:08] sreepathy-tl opened #2351 "devspace cleanup images cannot communicate with docker.sock on linux/mac"
**What happened?**
The devspace's image clean-up command  `devspace cleanup images`  cannot communicate with docker. I am using Rancher Desktop.

**What did you expect to happen instead?**
The command should have detected the running docker instance and cleaned up the images created by devspace.

**How can we reproduce the bug?** (as minimally and precisely as possible)

- Install rancher desktop

[2022-09-29 20:22] lizardruss opened #2352 "Devspace 6 resolves dependency variables regardless of v1beta11 disabled flag"
**What happened?**
Given a `v1beta11` schema that utilizes `dependency.disabled` to enable or disable a dependency, the upgraded `v2beta1` schema no longer has the `disabled` flag, and devspace will download all dependencies in order to resolve variables. This can cause issues in CI when the environment does not have credentials to perform `git clone`

**What did you expect to happen instead?**
Do

[2022-09-30 04:09] dtomasi opened #2353 "Require should be added to ImportSections to allow recursive requirement checks"
**Is your feature request related to a problem?**
Yes. I'm trying to create a library of reusable devspace components that can be used for different project across the company. My goal is for example to create a common setup for all golang projects and import all the required components to keep the devspace.yaml within the projects as small as possible. This is to avoid to have to apply changes to

[2022-10-01 20:34] mnpenner opened #2356 "Devspace 6 does not respect .env DEVSPACE_FLAGS"
**What happened?**

I have a `.env` file in the root of my project directory. It contains

[code]

This used to work in 5.x, now when I run `devspace dev` it asks me what namespace to use despite having specified it there.

**What did you expect to happen instead?**

Don't ask me what namespace to use when provided via `.env` file.

**How can we reproduce the bug?** (as minimally and precisely as

[2022-10-03 00:09] lizardruss commented on #2356
Hello! Thanks for using DevSpace!

In DevSpace 5, the `.env` file was implicitly loaded, but in DevSpace 6 it requires [additional configuration](http://localhost:3000/docs/configuration/variables#devspace_env_file-for-env-file-definition):
[code]

Using a `v1beta11` schema with DevSpace 6 will have this configuration added to avoid breaking changes, however because you're using `v2beta1` it wasn'

[2022-10-03 08:17] FabianKramm commented on #2352
@lizardruss thanks for the issue! Mhhh I guess we need to bring the flag back as its also useful for other use cases

[2022-10-03 08:19] FabianKramm commented on #2353
@dtomasi thanks for creating this issue! Yes we can do that and thanks for the PR!

[2022-10-03 10:03] #2323 closed

[2022-10-03 13:18] marcus-sa opened #2357 "Unable to find global npm/yarn dir"
**What happened?**
Unable to use any CLI commands at all.
I just get the following error:
[code]

**What did you expect to happen instead?**
For it to work, or at least provide a debuggable error message.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Install Node.js & Yarn using https://volta.sh/
Install the DevSpace CLI
Run any CLI command.

My devspace.yaml:
[code]

[2022-10-03 15:05] Andrioden opened #2358 "UI - Container environment variable inspector"
**Is your feature request related to a problem?**

No

**Which solution do you suggest?**

Environment variables are often at the core of controlling individual container behavior, and I often find myself debugging at that level. Currently i shell into the container and write `env | grep [something]`, but sometimes the containers die before i can do that. Then i have a bigger hassle.

My suggestio

[2022-10-03 21:22] iSeiryu opened #2359 "Add Winget support"
**Is your feature request related to a problem?**
`winget` became the default package manager on Windows and it's available out of the box.  The current approach either requires to download `node` or run ugly Powershell commands that do not get auto updates.

**Which solution do you suggest?**
Make the following commands work

[code]

**Which alternative solutions exist?**
This is not great:

![](

[2022-10-04 06:45] siredmar opened #2360 "`devspace dev` for initContainers"
**Is your feature request related to a problem?**
Yes, my problem is that i need to debug a init container. This isn't possible right now as simply can't select the init container.
My current kind of workaround is to temporary modify the deployment and move the "initContainer" to "containers". But this is not a great solution, because i have to modify the deployments :-1:

**Which solution do you

[2022-10-04 07:50] MathiasVandePol commented on #1364
@lizardruss @FabianKramm I made a PR here which allows for that: https://github.com/loft-sh/component-chart/pull/85

[2022-10-05 16:05] matskiv opened #2362 "A page about hooks is missing in the v6 documentation"
A page about hooks is missing in the v6 documentation, but the feature is supported in v2beta1 configs and by the v6 CLI.

[2022-10-05 17:02] #2353 closed

[2022-10-06 14:30] #2352 closed

[2022-10-07 11:47] pratikjagrut commented on #2360
@siredmar Thanks for creating this issue. The feature looks quite useful. We'll try to implement it asap.

[2022-10-07 13:16] sreepathy-tl commented on #2351
This workaround solved the issue. Thank you.

[2022-10-07 13:16] #2351 closed

[2022-10-10 18:43] lizardruss opened #2365 "Authentication fails when using ACR"
**What happened?**
I am able to manually login via both az acr login and docker login and push an image to ACR via docker push. But when I do devspace deploy I get
[code]

**What did you expect to happen instead?**
The image to have been pushed successfully.

**How can we reproduce the bug?** (as minimally and precisely as possible)

My devspace.yaml:
[code]

**Local Environment:**
- DevSpace Vers

[2022-10-10 22:22] lizardruss commented on #2365
@FabianKramm Apparently ACR registries no longer respond with a body when using the [/1.41/auth](https://docs.docker.com/engine/api/v1.41/#tag/System/operation/SystemAuth) endpoint.

This causes the docker client [RegistryLogin()](https://github.com/moby/moby/blob/master/client/login.go) to fail.

If previously authenticated using `az acr login` the auth config will already contain an IdentityToke

[2022-10-11 05:18] sreepathy-tl opened #2366 "Changing name in devspace.yaml after devspace dev causing container to fail"
**What happened?**
I followed https://www.devspace.sh/docs/getting-started/initialize-project
Chaning name in the devspace.yaml and exiting and re-logging to `devspace dev` terminal crashes the container.

![image](https://user-images.githubusercontent.com/88729549/195001949-594de69c-21dc-41cf-9c8d-eb5057a93705.png)

Container logs is empty. Apache error logs too do not have any errors.

**What di

[2022-10-11 05:44] sreepathy-tl opened #2367 "After deployment using devspace dev, any change in deployment name causes ErrImagePull."
**What happened?**
I deployed devspace quickstart project for PHP.
After exit from `devspace dev` prompt, I edited `devspace.yaml`
Deployment name was to be changed to app3
Once changes are done, `devspace dev` fails to create container.

[code]
A deployment named app3 is created with a failing container.

Edit:
Reverting `app3` back to `app` too will fail (see that it's referencing old pod):
[cod

[2022-10-11 06:06] sreepathy-tl opened #2368 "`devspace dev` fails after changes in devspace.yaml and custom helm charts - mainly due to helm errors"
**What happened?**
`devspace dev` hides the errors from helm deployment. In this specific case, my helm chart failed to install with `helm install` due to the following error:

[code]
But devspace failed with error:
[code]

**What did you expect to happen instead?**
Actual helm error should have been reported.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Create 2 dep

[2022-10-11 07:26] #2339 closed

[2022-10-11 17:02] shaunc commented on #2313
Does this mean, to use a profile, we always have to specify it explicitly for every command?

[2022-10-11 18:47] noncuro opened #2370 "Restart containers with SIGINT before sending SIGKILL"
Currently, devspace restart helpers sends processes a SIGKILL on `devspace restart` or code changes. That means that processes die immediately and don't have a chance to terminate gracefully.

It would be really helpful for us if a SIGINT was sent first and the process was given a few seconds to shutdown before being sent a SIGKILL 🙏

https://github.com/loft-sh/devspace/blob/596b007df4b4d7cbaafb18

[2022-10-13 03:57] shaunc commented on #2262
[Ugly workaround]
FWIW you can make config variables calculate their value based on environment variables.
[code]
Unfortunately this doesn't work just with `--profile=production`, but if you `export DEVSPACE_PROFILE=production` it will work.

[2022-10-13 09:10] matskiv opened #2371 "Backward compatibility issue - hooks for named sync from v1beta11 don't work with devspace v6"
**What happened?**
When using devspace v6 with a v1beta11 configuration some sync hooks are not executed.

**What did you expect to happen instead?**
I expected my hook to be executed after a named sync is finished.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Add a named sync and a hook from the example below to a devspace.yaml that uses `version: v1beta1` and run `

[2022-10-13 10:37] connor-philip-ci opened #2373 "Backwards compatibility issue with cross config variable references"
**What happened?**
I updated devspace from version 5 to 6, using the config version `v1beta9` and ran into this error when trying to deploy:
`create_deployments: error deploying Y: couldn't find runtime variable runtime.dependencies.X.images.x.image, make sure the dependency X was loaded`

**What did you expect to happen instead?**
For the file to be backwards compatible.

**How can we reproduce t

[2022-10-13 10:40] connor-philip-ci opened #2374 "Inconsistant documentation for the default value of alwaysResolve"
There's two different default values mentioned on the docs for [var.alwaysResolve](https://www.devspace.sh/docs/configuration/reference#vars-alwaysResolve).

I had a quick peek at the codebase and it _looks_ like the default value is `false`, but I'm not comfortable enough with this codebase or go lang in general to confirm, hence the issue and not a PR.

[2022-10-13 15:16] shaunc commented on #1069
Seems that this has regressed in devspace version 6.1.1?

I have in container env:

[code]

And in vars:
[code]

Render shows me:
[code]
which does not deploy.

[2022-10-13 15:27] lizardruss opened #2375 "Refactor Image Build Minikube / KinD / Skip Push Logic"
Currently the logic around detecting Minikube / KinD and skipping image pushing and when to use the new Local Registry feature is difficult to follow. This task is to organize the code so that it's easier to follow.

Preferably unit tests could be added so that less manual testing by changing our local environments is required.

[2022-10-17 11:13] connor-philip-ci commented on #2373
@mahendrabagul

This is a backward compatibility issue, In order to allow for a smoother upgrade, I was seeing if I could upgrade to devspace v6 (in order to prompt developers to upgrade and to upgrade the version on our tooling) before changing the files.

I was not using pipelines as those features aren't available in `v1beta9` as far as I know.

[2022-10-17 13:34] agarwalarjun123 opened #2379 "passing an absolute path to kubectl manifest"
**Is your feature request related to a problem?**
my k8s manifests are not in the same directory as devspace.yaml.
**Which solution do you suggest?**
I need an option to give an absolute path to kubectl manifest directory.

/kind feature

[2022-10-17 22:18] carlmontanari commented on #2379
👋 @agarwalarjun123

Unless I'm miss-understanding, this should "just work" ™️ -- you should be able to provide relative or absolute paths no problem. [here](https://github.com/loft-sh/devspace-example-python/tree/main/02-fastapi-tortoise) in the python devspace example we have a manifests dir, then in the `devspace.yaml` we refer to the manifests like:

[code]

Let us know if thats not working. If

[2022-10-18 08:17] #2374 closed

[2022-10-18 10:51] gustaff-weldon opened #2380 "Deploy with `--max-concurrent-builds` or `--build-sequential` does not apply to concurrent dependency builds"
**What happened?**
I have a monorepo with API gateway. The gateway project depends on multiple service projects. Each project, including gateway, has at least one image to build.

When I run either `devspace deploy --build-sequential` or `devspace deploy --max-concurrent-builds 1` , devspace kicks off builds for mulitiple dependency projects at once, resulting in heavy parallelism, high memory usa

[2022-10-19 09:25] FabianKramm commented on #2380
Hello @gustaff-weldon ! Thanks for creating this issue, right now the flag only applies to images within a single `devspace.yaml` and having this coordinated across dependencies is currently not supported. As a workaround you can deploy dependencies sequentially, like this:
[code]

[2022-10-19 15:49] #2365 closed

[2022-10-19 15:50] #2362 closed

[2022-10-20 11:54] bagulm123 opened #2382 "Error while using dev command with devspace binary built locally."
**What happened?**
Error while using dev command with devspace binary built locally.
start_dev: error setting up proxy commands in container:   Internal error occurred: error executing command in container: failed to exec in container: failed to start exec "38d5fc79b8a7c63d38ba5f99237d80df186871fa4b43987a83a926628d1c47e1": OCI runtime exec failed: exec failed: unable to start container process: ex

[2022-10-20 12:52] #2382 closed, assigned to nobody

[2022-10-21 03:44] sreepathy-tl opened #2385 "Option to avoid sync of certain files."
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
Have a configuration file similar to .gitignore file that contains the list of files and folders that are not be synced with the container. Devspace should not sync those files with the container. (_Maybe you can call it ".syncignore"._[😉](https://emojipedia.org/winking-face/))

**Which alternative solutions e

[2022-10-21 03:53] carlmontanari commented on #2385
Hey @sreepathy-tl ! 👋

you can set ignore files in dev space sync blocks with the ‘excludeFile’ list [here in docs](https://www.devspace.sh/docs/configuration/reference#dev-sync-excludeFile) I think/hope this would cover your use case. Probably it would be a bad idea to just automagically ignore things in a gitignore or docker.ignore since that may actually be things you want in your dev container

[2022-10-21 04:09] sreepathy-tl opened #2386 "Devspace should have the ability to start sync with an existing helm deployment"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**

* Devspace should have a flag that permits continuous file sync to an existing deployment. Currently, devspace deploys an app and starts syncing with each file change. Enabling devspace to start syncing without creating a new deployment should increase developer velocity (the user should be able to select the

[2022-10-21 04:43] sreepathy-tl commented on #2385
My bad! I missed out on the collapsed sections in your really awesome documentation. Will go through it completely once again. Thank you @carlmontanari!

[2022-10-21 04:43] #2385 closed

[2022-10-21 04:45] sreepathy-tl commented on #2368
sorted out in slack channel discussion.

[2022-10-21 04:45] #2368 closed

[2022-10-21 04:46] sreepathy-tl commented on #2367
Thanks @mahendrabagul

[2022-10-21 04:46] #2367 closed

[2022-10-21 04:47] sreepathy-tl commented on #2366
Thanks @mahendrabagul. Issue sorted out after following your instructions on slack.

[2022-10-21 04:47] #2366 closed

[2022-10-21 09:09] alexandradragodan commented on #2356
Hello, @mnpenner !

Thanks again for bringing this issue to our attention.
Does the suggested configuration change(@lizardruss 's comment above) solve the issue for your desired use case?

We would be grateful if you could provide us with an update as we want to quickly react to reported issues and keep our products as clean!

[2022-10-21 09:29] alexandradragodan commented on #2348
Thanks again for the suggestion, @petr-buchin .
As Fabian mentioned, we're having some concerns related to the integration of the suggested feature in our overall product concept.

I have converted this issue to a discussion so we could address the topic further, if you'd like to.
We would be happy to provide you with more details there!

[2022-10-21 10:16] alexandradragodan commented on #2288
Hello, @joshuamanns!

Seems that we might have misunderstood the flow you are trying to achieve.
We would be happy to further support you in this matter if you could provide us with more details about your desired outcome.

Please let us know if there is anything else we could help with!
Thank you for your contribution!

[2022-10-21 11:37] alexandradragodan commented on #2263
Hello, @trickkiste! Thanks a lot for reporting this issue!

Has @pratikjagrut's answer provided you with the answer you were looking for?
We'd really appreciate it if you could update us on the present issue.

Thanks!

[2022-10-21 11:43] alexandradragodan commented on #2174
Hello!

Thanks for opening this issue and helping out!
Have you managed to disable the proxyCommands in dev.bot.proxyCommands?

We'd appreciate it if you could provide us with an update on how's that going on your side.
Thanks.

[2022-10-21 11:54] alexandradragodan commented on #2063
Hello!
Thank you @markphillips100 for raising this issue up!

We're glad your use case was successful with our updated version. So, I will close this issue as there are no clarifications left.

If you have any further questions or concerns, we'd be happy to support!

[2022-10-21 11:54] #2063 closed

[2022-10-21 12:52] trickkiste commented on #2263
@alexandradragodan well, initially I did not even have RBAC enabled, when I ran into that issue. Now I have and put some RBAC permissions in place and it works now. However, I can not really narrow down the real cause of the issue, as other parts of my initial setup might have interfered negatively. First time getting a k8s cluster up and running and especially the user/permissions part is documen

[2022-10-21 13:12] alexandradragodan commented on #2263
Glad you managed to get it working & Congratulations on running your first k8s cluster!

I will then close the present issue as it is no longer occurring.
For any further questions, we're happy to support.

[2022-10-21 13:12] #2263 closed

[2022-10-22 00:34] mnpenner commented on #2356
Hi! Sorry, missed lizardruss's response earlier. I haven't had a chance to test this yet, but that sounds like what I was looking for. I'm having another issue with 6.x that I need to figure out before I can switch back to that branch. I think we can close this ticket as resolved though 😊

PS @lizardruss, your link points to localhost 😀

[2022-10-22 00:34] #2356 closed

[2022-10-24 08:28] alexandradragodan commented on #2380
Hello, @gustaff-weldon !

Thanks again for reporting this issue!
We will look into it and analyse if it makes sense for us to add such a feature.

Obviously, we'll come back and let you know!
Let's keep in touch!

[2022-10-24 09:06] alexandradragodan commented on #2322
Hello, @ComaVN !

Thanks again for bringing this issue to our attention!
We appreciate your suggestion for improving the documentation and have taken the tip with us.

I will close this issue for now.
If there's anything we can further support you with, please don't hesitate to contact us!

[2022-10-24 09:06] #2322 closed

[2022-10-24 09:21] alexandradragodan commented on #2341
Hello, @fuhengwu2021 !
Thanks again for reporting this issue.

Could you please help us investigate that by checking if the namespace you were describing had any other DevSpace process running while you were trying to purge it? If you need help checking that, we'd be happy to support!

Thank you for your kind help!

[2022-10-24 12:38] igoooor opened #2391 "Command to start port-forwarding independently"
**Is your feature request related to a problem?**
Not a problem

**Which solution do you suggest?**
In the same way that we have `devspace sync` would it be possible to have something like `devspace port-forward` and `--skip-port-forwarding` ?

**Which alternative solutions exist?**
`devspace dev -skip-build --skip-push --skip-deploy`

Sorry if I overlooked the documentation and if such things alr

[2022-10-24 14:52] gustaff-weldon opened #2392 "Allow plugins to extend devspace with functions"
**Is your feature request related to a problem?**

Yes, it is related to creating a function that does quite complicated operations on dependency arrays better done in languages other than shell.
Currently, it is not possible to create a plugin that would bring in the function that under the hood just calls the binary with a specific parameters (similar to how commands work).

**Which solution do

[2022-10-26 13:53] thatGreekGuy96 opened #2395 "`devspace dev` command is not working because url download link for `devspacehelper` cannot be found"
**What happened?**
Trying to run the `devspace dev` command for a project I'm working on and I am getting the following error.
[code]

**What did you expect to happen instead?**
Would expect the `devspace dev` command to work.

**How can we reproduce the bug?** (as minimally and precisely as possible)
I was trying to run the `quickstart` example in `devspace/examples/quickstart`

My devspace.yaml:

[2022-10-26 20:19] JamesHutchisonCarta commented on #2395
We're seeing the same thing. It looks like `Assets` is lazy loaded and that may have broke this.

[2022-10-27 04:31] sreepathy-tl commented on #2386
I am currently using `devspace dev` command. The problem with this command is that it cannot start code sync with currently deployed containers. So an additional option to start code sync with a running container would be useful. This allows a developer to run `helm install` and then probably a `devspace dev --sync-only` to use only the code sync feature.

[2022-10-27 05:24] sreepathy-tl commented on #2386
I think I have confused you. I am NOT looking for a hot reload (in which the page reloads automatically with server-side code change).
I was asking about syncing the code changes in the local development machine with the code running inside the container. To be more specific, I don't want devspace to deploy a new container and start file sync; instead, I wish I had an option just to use the file s

[2022-10-27 11:09] thatGreekGuy96 commented on #2395
Hi @mahendrabagul thanks for the suggestion! `DEVSPACE_INJECT_LOCAL=true devspace dev` didn't work but downloading the binary and putting it in the folder you specified did! Many thanks.

[2022-10-31 15:31] lizardruss opened #2398 "Warn when profile paths have no matches"
**Is your feature request related to a problem?**
No

**Which solution do you suggest?**
When profile patches have paths that do not match anything log a warning. Currently DevSpace does not apply the expected changes silently, which can lead to confusion when upgrading from v5 to v6.

**Which alternative solutions exist?**
When upgrading schema versions, run `devspace print` to verify that profil

[2022-11-01 08:23] FabianKramm commented on #2395
@thatGreekGuy96 the problem is that you probably have installed DevSpace via brew, which doesn't have the helper included in the binary directly, which is why the helper is lazy loaded. Unfortunately, Github has changed their release urls and that means that the lazy loading is not working anymore and causes problems for DevSpace v5 brew installations. The workaround by @mahendrabagul should work

[2022-11-01 08:27] FabianKramm commented on #2386
@sreepathy-tl could you provide us your `devspace.yaml`? Its definitely possible to only start syncing without replacing the container. Also DevSpace syncs multiple changes together and packs them as a gzip archive.

[2022-11-01 08:58] ComaVN commented on #2309
`waitInitialSync` `false` or `true` makes no difference in a `v1beta11` config.

The problem I have, is that I have hundreds of projects with a devspace 5/`v1beta11` config, and I would love to be able to gradually migrate them to devspace 6/`v2beta1`. So, I basically need a `v1beta11` config that works with both devspace 5 and 6, but that seems impossible :(

[2022-11-02 03:07] sreepathy-tl commented on #2386
@FabianKramm It is absolutely fine for devspace to sync multiple files as a gzip arhive. But this sync happens in near realtime with every change. As a developer I might need to sync the changes only after I am completely done with the changes (in one file or all the files I intend to change), but syncing the files with every save

[2022-11-02 09:59] #2395 closed

[2022-11-02 18:43] lusu007 opened #2399 "devspace does not create namespace for dependency deployment"
**What happened?**
I declared a dependency in my `devspace.yaml` file with the namespace config option set. The namespace does not exist when starting the cluster. The deployment fails because the namespace isn't created.

**What did you expect to happen instead?**
Devspace should create this namespace automatically (see #605).

**How can we reproduce the bug?** (as minimally and precisely as poss

[2022-11-03 12:15] withinboredom opened #2402 "Component chart can't create an ingress"
**What happened?**

I tried to deploy a simple component chart pointing to an existing service:

[code]

Instead of a successful deployment, I receive the error:

[code]

When putting in a dummy service, the service name in my ingress is changed to reflect the name of that service instead of the one I set.

**What did you expect to happen instead?**

To be able to create an ingress to an arbitrary

[2022-11-03 12:23] ryancharris opened #2403 "Improper renaming of volume on StatefulSet during replace"
**What happened?**
A Pod in one of my StatefulSets was unable to find its associated volume mount because the newly generated spec improperly renames the volume to `data`.

**Error log**
[code]

**StatefulSet YAML**
[code]

**Replaced pod spec**
[code]

**What did you expect to happen instead?**
As there were no changes to the underlying charts (and this StatefulSet works in an environment created

[2022-11-03 15:58] #2370 closed

[2022-11-03 16:05] FabianKramm commented on #2403
@ryancharris thanks a lot for creating this issue! We'll try to fix this as soon as possible.

[2022-11-03 16:07] FabianKramm commented on #2402
@withinboredom thanks for the issue! Not sure that is actually inteded use for the DevSpace chart, but we'll take a look at this.

[2022-11-03 16:34] FabianKramm commented on #2392
@gustaff-weldon thanks for creating this issue! This is actually not a bad idea, we'll discuss this internally and then let you know!

[2022-11-03 16:39] FabianKramm commented on #2386
@sreepathy-tl ah I see, so you actually want to trigger the sync with some sort of command to make sure its only updated when needed. Thats definitely an interesting idea.

[2022-11-03 17:04] lusu007 opened #2404 "Devspace asks for credentials when using dependencies from private Git repositories"
**What happened?**
I'm using a dependency from a private Git repository in my `devspace.yaml`. Devspace asks me on every execution of `devspace dev` or `devspace purge` to provide login credentials for that private repository.

**What did you expect to happen instead?**
Devspace should use existing Git credentials or should save the provided ones to reuse them later. According to this issue #648,

[2022-11-03 17:25] FabianKramm commented on #2404
@lusu007 thanks for creating this issue! Could you try this with the new v6.2.0-alpha.0 version, it should fallback to ssh if https doesn't work?

[2022-11-03 17:46] lusu007 commented on #2404
I tried it with version `v6.2.0-alpha.0` and the `main` branch itself. The fallback does not work on my system. Devspace still tries to connect to the Git repository via `https`.

If I change the repository URL from `https `to `ssh` it works. I als found out that I have not saved a password for login via `https`.

[2022-11-03 19:27] ryancharris commented on #2403
@FabianKramm I issued a PR here: https://github.com/loft-sh/devspace/pull/2405

[2022-11-04 07:23] pratikjagrut commented on #2404
@lusu007 I built the `main` branch and the [v6.2.0-alpha.0](https://github.com/loft-sh/devspace/releases/tag/v6.2.0-alpha.0) zip source code from the release page, it is working fine on my system.

devspace.yaml
[code]
<details>
<summary>Output from <b>main branch</b> devspace bin</summary>
<pre>
➜  try devspace.test dev --debug --namespace test
12:14:39 info Using namespace 'test'
12:14:39 info U

[2022-11-04 14:20] #2403 closed

[2022-11-04 18:43] lusu007 commented on #2404
@pratikjagrut Since I can't access my main computer at the moment, I tested it again on my laptop. It works fine on the laptop. I will test the whole thing again next week when I can access my computer again.

[2022-11-06 17:34] alexgorbatchev opened #2407 "devspace UI behind SSL proxy?"
I'm running devspace UI behind SSL proxy, however functionality such as commands and terminal doesn't work due to `Failed to construct 'WebSocket': An insecure WebSocket connection may not be initiated from a page loaded over HTTPS` error. I tried to search the docs for an option/setting however didn't find anything.

Is it possible to run devspace UI behind SSL proxy?

[2022-11-07 08:46] pratikjagrut commented on #2404
Hey, @lusu007 let me know when you try it on your main computer, if it works then we'll close this issue.

[2022-11-07 11:51] gustaff-weldon commented on #2392
Hi @FabianKramm thanks.
I already have another use case for this. I would like to write a util that would download identifiers of latest images in our ECR and pass those as variables to deployments. This would allow me to avoid updating devspace files with every image release, instead just getting them dynamically when user tries to deploy.

Obviously such an util would better of running from a pr

[2022-11-07 15:00] #2321 closed, assigned to nobody

[2022-11-07 15:01] FabianKramm commented on #2316
@alexissellier is this still a problem for you?

[2022-11-07 15:07] FabianKramm commented on #1918
@Quasarman @mykiep does this problem still occur on DevSpace v6?

[2022-11-07 15:08] FabianKramm commented on #1917
@Tsopic should be fixed with DevSpace v6

[2022-11-07 15:08] #1917 closed

[2022-11-07 15:09] #1913 closed

[2022-11-07 15:09] #1910 closed

[2022-11-07 15:10] Quasarman commented on #1918
@FabianKramm

I cant really tell since we switched from using gradle to just using devspace. That said we haven't had tine to upgrade to v6 yet.

[2022-11-07 15:13] #1906 closed

[2022-11-07 15:15] #1888 closed

[2022-11-07 15:15] FabianKramm commented on #1888
@gradox2020 this should be fixed with the newer component chart version

[2022-11-07 15:16] #1881 closed

[2022-11-07 15:16] #1880 closed

[2022-11-07 15:17] #1876 closed, assigned to nobody

[2022-11-07 15:18] #1864 closed

[2022-11-07 15:19] #1848 closed

[2022-11-07 15:20] FabianKramm commented on #1838
closing this for now, if this becomes a problem, please feel free to reopen

[2022-11-07 15:20] #1838 closed

[2022-11-07 15:21] #1810 closed

[2022-11-07 15:21] #1782 closed

[2022-11-07 15:22] #1775 closed

[2022-11-07 15:23] #1751 closed

[2022-11-07 15:26] #1690 closed

[2022-11-07 15:26] #1687 closed

[2022-11-07 15:29] #1652 closed

[2022-11-07 15:37] lizardruss commented on #2407
Hello! Yes it looks like we assume this would be used locally without https / wss. Are you also loading the UI pages over https? If so, then this should be something we can detect and not require a configuration option.

[2022-11-07 17:20] FabianKramm opened #2408 "Imported variables cannot be used in other variables"
Imported variables cannot be used in other variables.

Example repository: [https://github.com/hendrikheil/devspace-import-issues](https://github.com/hendrikheil/devspace-import-issues)

[2022-11-07 18:07] lusu007 commented on #2404
Hey @pratikjagrut, I tested it again on my main computer. At first, the whole thing didn't work, but it did after deleting the `.devspace` folder.

So I think it was a caching problem and it works as intended. Sorry for bothering you.

[2022-11-07 21:22] alexgorbatchev commented on #2407
Yes, the UI is loaded via https as well.

[2022-11-07 23:44] mykiep commented on #1918
I haven't been able to try devspace 6+ since kaniko support for building in a remote kubernetes cluster seems to be broken.  I haven't been able to submit a ticket for that yet.

[2022-11-08 00:57] withinboredom opened #2409 "Consider binding to localhost instead of 127.0.0.1"
[https://github.com/loft-sh/devspace/blob/596b007df4b4d7cbaafb188ee48295d68ebcf599/pkg/devspace/server/port_forward.go#L94](https://github.com/loft-sh/devspace/blob/596b007df4b4d7cbaafb188ee48295d68ebcf599/pkg/devspace/server/port_forward.go#L94)

With the prevalence of ipv6-only networks growing (and allowing this to work in environments like WSL), can you please consider binding to `localhost` i

[2022-11-08 08:51] pratikjagrut commented on #2404
@lusu007 Happy to help.

[2022-11-08 08:52] pratikjagrut commented on #2404
Closing this issue as falling back to ssh works.

[2022-11-08 08:52] #2404 closed

[2022-11-08 15:21] lizardruss commented on #2407
OK thanks! We will release a fix for this soon.

[2022-11-08 19:52] lizardruss opened #2411 "Local registry issues with dependencies"
**What happened?**
When using local registry in a DevSpace project with dependencies, only some of the images can be pushed.

**What did you expect to happen instead?**
All images to be built and pushed.

**How can we reproduce the bug?** (as minimally and precisely as possible)
Using the [microservices example](https://github.com/loft-sh/devspace/tree/main/examples/microservices), the second imag

[2022-11-08 21:04] mykiep opened #2412 "Building in Kaniko is broken from Windows in devspace 6+"
**What happened?**
Devspace 6 does not appear to be able to build linux containers in kaniko from windows machines.  It appears to be working fine from my MacBook, but when I try the same from a Windows machine it fails.  We use devspace on Windows EC2 images to build in a remote cluster via Kaniko and have been unable to move from 5.18.4 because of this issue.

**What did you expect to happen ins

[2022-11-08 21:14] mykiep commented on #1918
I created ticket #2412 for the devspace 6 issue.

[2022-11-09 00:23] ADustyOldMuffin commented on #2341
I'm not the above user, and their issue sounds like an extra devspace running but I am having this issue.

I'm calling `purge_deployments my-deployment` and it exits fine, but nothing happens. I can run helm list and still see the deployment. I do note that running it with debug it says it's excluded a project, but when I run with `--force-purge` it still doesn't respect this.

[2022-11-09 14:14] FabianKramm commented on #2409
@withinboredom thanks for creating this issue! We have an option to override this with:
[code]

[2022-11-09 17:37] rosen91 opened #2415 "devspace deploy fails in CI/CD-flow after upgrade to devspace 6.1"
**What happened?**
Recently updated our Gitlab CI/CD-flow to use devspace 6.1 instead of 4.x. Also updated devspace.yaml to use new syntax and v2beta1 so it sure might be an issue in my reconfiguration that causes this. But when deploying with `devspace deploy` it fails with:
`/root/.devspace/bin/helm: text file busy`

![](https://uploads.linear.app/0aab256f-61c4-44f4-9aff-15fe09c2026b/fcdc0772-fc

[2022-11-10 09:03] FabianKramm commented on #2412
@mykiep thanks for creating this issue! We'll take a look and create a fix for this problem

[2022-11-10 09:04] FabianKramm commented on #2415
@rosen91 thanks a lot for creating this issue! Looks like the concurrent downloading of helm caused this issue, as a workaround you can install helm before executing DevSpace.

[2022-11-10 10:27] rosen91 commented on #2415
@FabianKramm That did indeed solve it. Just for clarification, is this by design or something that will be fixed from your end in the future? Closing this for now as my issue been resolved with the workaround.

[2022-11-10 10:46] alexandradragodan commented on #2409
Hei, @withinboredom.

Does the suggested workaround work for you, for now?

[2022-11-13 18:42] myspotontheweb opened #2420 "Cannot connect to ssh server within Dev container: "no matching host key type found""
**What happened?**

I was attempting to run the Visual Studio demo

[https://www.devspace.sh/docs/ide-integration/visual-studio-code#tldr](https://www.devspace.sh/docs/ide-integration/visual-studio-code#tldr)

The following output was emitted in Visual Code

[code]

Specifically this line indicates a problem connecting the ssh server running within the container

[code]

**What did you expect to h

[2022-11-13 18:56] myspotontheweb commented on #2420
Discovered a work-around.

Added "HostkeyAlgorithms" and "PubkeyAcceptedAlgorithms" configuration to the generated ssh configuration file

[code]

[2022-11-14 10:13] alexandradragodan commented on #2420
Hey, @myspotontheweb.

Thanks for reporting this issue! We really appreciate it!
We are looking into it.

Are you satisfied with the workaround you have discovered?
Thanks!

[2022-11-14 14:36] #2407 closed

[2022-11-15 08:16] #2412 closed

[2022-11-15 19:38] lusu007 opened #2426 "Option to specify multiple existing PVCs"
**Is your feature request related to a problem?**
We are caching the `node_modules` and `~/.npm` directories in my organization to speed up devspace starts. At the moment we are mounting both directories in one PVC. But we want to mount the `~/.npm` directory to multiple pods to share this folder as a global cache, as intended by npm.
The issue is that devspace doesn't give me the option to specif

[2022-11-16 00:22] alexgorbatchev commented on #2407
Thank you! <3

[2022-11-16 09:04] FabianKramm commented on #2420
We have updated our dependencies and this should be fixed with the next release of DevSpace

[2022-11-16 09:44] #2380 closed

[2022-11-16 10:05] alexandradragodan commented on #2426
Hey, @lusu007
Thank you for reporting this issue!

My colleagues are looking for a workaround that would support your described issue!
In the meantime, we're considering adding this feature.

Will keep you posted!

[2022-11-16 10:11] baflo opened #2430 "devspace sync usage out-of-date"
**What happened?**
The usage text of `devspace sync -h` seems to be out-of-date.

[https://github.com/loft-sh/devspace/blob/12530f9b582c11837808ad5719960e677b8f5423/cmd/sync.go#L65-L77](https://github.com/loft-sh/devspace/blob/12530f9b582c11837808ad5719960e677b8f5423/cmd/sync.go#L65-L77)

**What did you expect to happen instead?**
Correct usage examples.

[2022-11-17 12:00] lusu007 commented on #2426
I found a workaround until this feature gets implemented. The workaround patches a `volume` and a `volumeMount` into the Devspace container by using Devspace's [pod patches](https://www.devspace.sh/docs/configuration/dev/modifications/patches) feature.

If the container already has a volume mounted the following snippet will work:
[code]

If the container has no volume mounted we need to change th

[2022-11-17 12:04] #2411 closed

[2022-11-17 12:39] alexandradragodan commented on #2430
Hey, @baflo .

Thanks a lot for reporting this issue.
We're currently looking into it!

Keep you posted! 🙌

[2022-11-17 12:40] alexandradragodan commented on #2430
Actually, What DevSpace version are you using?

Could you provide a few more details?

Thanks!

[2022-11-17 13:57] #2420 closed

[2022-11-19 17:27] withinboredom commented on #2409
Yes, the workaround works for me. What is the behavior of this option for reverse port forwarding? It doesn't seem to work in my network (binding to `localhost`, `::1`, or another IP in my network doesn't seem to do anything).

[2022-11-21 13:55] #2408 closed

[2022-11-21 19:55] oconnor17 opened #2434 "Could not establish connection to "my-app.devspace": Could not resolve hostname"
**What happened?**

I was following the [IDE integration](https://www.devspace.sh/docs/ide-integration/visual-studio-code) example, and got the following error from Visual Studio

![](https://uploads.linear.app/0aab256f-61c4-44f4-9aff-15fe09c2026b/82e4e989-3933-40d3-945d-0634be16e630/0795c364-2778-496c-9ae6-9f82e3c123a1)

**What did you expect to happen instead?**

I expected to see the source cod

[2022-11-21 20:06] oconnor17 commented on #2434
**Work-around**

First create a batch script: **C:\Users\<username>\bin\ssh.bat**

[code]

Secondly, configure the VScode Remote - SSH extension to use this batch script when running ssh operations.

![image](https://user-images.githubusercontent.com/93669244/203148520-8949edbd-a0b3-4797-8bdb-e304a61d4c39.png)

[2022-11-22 00:20] cslovell commented on #2434
Ran into this issue - glad to see it's been caught.

[2022-11-22 08:30] FabianKramm commented on #2434
@oconnor17 thanks for creating this issue! We will take a look and come back to you!

[2022-11-24 09:20] pratikjagrut opened #2435 "Cannot ssh into devcontainer"
**What happened?**
When trying to ssh into devcontainer it fails. e.g.  `ssh my-app.devspace -v`

**What did you expect to happen instead?**
Successfully login into devcontainer via ssh

**How can we reproduce the bug?** (as minimally and precisely as possible)
Just try this example [https://www.devspace.sh/docs/ide-integration/visual-studio-code#tldr](https://www.devspace.sh/docs/ide-integration/

[2022-11-24 09:28] Dador opened #2436 "devspace dev crashes if devspace_start.sh doesn't have run permissions"
**What happened?**
If you have have a `devspace_start.sh` without `execute` permission and try to run `devspace dev`, you will get unuseful `[screen is terminating]` message.

Same happens if file `devspace_start.sh` was deleted.

**What did you expect to happen instead?**
Friendly error message or automatic fix (giving execute permissions to `devspace_start.sh`).

**How can we reproduce the bug?*

[2022-11-24 15:59] pratikjagrut commented on #2434
@cslovell can you connect the devcontainer using `ssh my-app.devspace -v`? Can you post the output of the command?

[2022-11-24 16:15] #2435 closed

[2022-11-24 16:20] oconnor17 commented on #2434
This is the output from a Powershell terminal

[code]

Alternatively, from within WSL2 (Running Ubuntu), it works as expected

[code]

[2022-11-24 16:30] oconnor17 commented on #2434
This is again using a windows powershell terminal. This time I'm specifying the path to the configuration files generated by devspace within the WSL file system home:

[code]

[2022-11-24 17:09] pratikjagrut commented on #2434
@oconnor17 We just updated the way to generate ssh keys. Could you build the bin from the main branch and try it again?

[2022-11-24 17:51] oconnor17 commented on #2434
Very sorry, [build ](https://github.com/loft-sh/devspace/blob/main/CONTRIBUTING.md)is not working for me :-(

[code]

Environment

[code]

[2022-11-25 07:21] pratikjagrut commented on #2436
Hi, @Dador Thank you for creating this issue.

[2022-11-25 07:41] pratikjagrut commented on #2436
@Dador if the command specified in the `dev.terminal.command` config does not have exec permission then devspace will terminate. If you start your project with `devspace init`, then in the default case the command will `./devspace_start.sh`, which by default should have exec permission but in case they're changed then the command will fail.

The screen is another application we install in the cont

[2022-11-25 07:47] pratikjagrut commented on #2434
Hey, @oconnor17 I see you're using `go1.13.8` the package which failed to build was introduced in `go1.16` could you please install the latest Go or any version later than 1.16 and try again?

[2022-11-25 11:58] oconnor17 commented on #2434
Compiled worked.

[code]

# Cleanup local files

[code]

# Run the demo again

[code]

Output

[code]

# Result

Visual Studio fails again with the error reported above. Terminal output is listed here

[code]

## SSH from WSL  terminal

Works as expected

[code]

## Powershell terminal

Fails as expected

[code]

Attempting to configure the windows SSH program to use the SSH related files (generat

[2022-11-25 15:32] pratikjagrut commented on #2434
@oconnor17 Sorry for giving you more try-and-error things. But did you also clean up the `~/.devspace/ssh` directory which stores the ssh keys generated by devspace?

[2022-11-25 16:25] pratikjagrut commented on #2434
@oconnor17 Could you print the file permissions of devspace-generated ssh keys?

I'm not wsl or windows expert and I very well could be wrong here, but it seems like there could be some file permission issue between wsl and windows. They may not be able to map it correctly with each other’s filesystem. You may need to add/update some file permission configurations between wsl and windows.

I under

[2022-11-25 16:53] alexissellier opened #2439 "Imported profiles are not displayed when running `list profiles`"
When running the command `devspace list profiles`, the profiles imported by the section  `imports` are not listed.

**What happened?**

[code]

**What did you expect to happen instead?**

[code]

**How can we reproduce the bug?** (as minimally and precisely as possible)

My devspace.yaml:

[code]

profile.yaml:

[code]

**Local Environment:**

* DevSpace Version: 6.1.1
* Operating System: linux
*

[2022-11-27 08:34] nethi commented on #2262
I am facing the same issue, patch, replace or merge donot work with variables.  Any chance the PR for this will be merged soon ?

[2022-11-28 07:04] pratikjagrut commented on #2439
@alexissellier Thank you for crating this issue. We'll look into it.

[2022-11-28 09:29] #2430 closed

[2022-11-28 17:49] FabianKramm commented on #2409
@withinboredom not sure if this setting makes sense for reverse port forwarding as the listening happens within the container and then a connection to the localhost is made.

[2022-11-28 19:28] Quasarman opened #2440 "Custom image build command: exec: "com.docker.cli": executable file not found in %PATH%"
**What happened?**

When I try to use the custom build command for an image I get an error stating `exec: "com.docker.cli": executable file not found in %PATH%` despite my path that is printed below this error message clearly containing `C:\Program Files\Docker\Docker\resources\bin\com.docker.cli.exe`. I also manually checked the environment variables on my system and it is definitely there.

When

[2022-11-29 06:32] timo-klarshift opened #2441 "v6.2.0 Replaces containers names with image tags"
**What happened?**

I upgraded to the latest devspace version having the new local registry feature

`create Pod asterisk-speech-0 in StatefulSet asterisk-speech failed error: Pod "asterisk-speech-0" is invalid: [spec.containers[1].name: Invalid value: "localhost:30500/asterisk-speech/app:`

**What did you expect to happen instead?**

* Deployments would continue to work
* Container name not rando

[2022-11-29 08:19] timo-klarshift commented on #2441
It also seems to replace other random stuff. For example I have a passwords service which uses an environment variable DB_USERNAME=`passwords`. This is also replaced by `passwords:<image_hash>` - I remember having these kind of issues with earlier versions of devspace. Why are we replacing these things without context, eg it seems like all kind of values from the YAML are replaced even out of the

[2022-11-29 10:43] Quasarman commented on #2440
I also wanted to add that the first command `bentoml build models/bentos/statistics --version ${runtime.images.bento-statistics.tag} --do-not-track` works as expected which is also just an executable that is located in my Python installation (which is also part of my $PATH variable).

[2022-11-29 14:29] cslovell commented on #2434
In my case I get an error indicating "connection refused":

[code]

[2022-11-29 15:07] lizardruss commented on #2441
Hi @timo-klarshift, sorry for the regression in this functionality. Could you add your `devspace.yaml` so that I can ensure this is fixed?

Thanks for reporting the issue.

[2022-11-29 15:30] oconnor17 commented on #2434
I'm running Devspace within WSL2, which I think is the more typical usecase. \wsl$\Ubuntu-20.04\home\mark\.ssh\config. It is possible to detect you're running within WSL, but I'm not clear if helps solve the problems....

[code]

**Problem 1: Two locations for SSH configuration**

To fix this issue you'll need to write the SSH config files to two locations to cater for both windows and linux SSH c

[2022-11-29 19:40] timo-klarshift opened #2442 "Local Registry: Always rebuilding images"
**What happened?**

* I am using the local registry feature from v6.2.0
* I noticed images are always rebuilding, even if they should not
* I noticed that in `./devspace/cache.yaml` the properties `dockerfileHash`, `contextHash` and `imageContextHash` are never created whereas they should (according to the source code)

`Rebuild image localhost:30089/username/app because it was not found in the lo

[2022-11-29 19:41] timo-klarshift commented on #2442
It looks like the following would fix it

[code]

[2022-11-29 19:53] lizardruss commented on #2442
@timo-klarshift Thanks! Good catch. I'll create a PR for this momentarily.

[2022-11-29 20:02] timo-klarshift commented on #2442
@lizardruss So we had some little overlap here. I provided a Pull Request. Not sure if its too late for mine

[2022-11-29 20:08] lizardruss commented on #2442
@timo-klarshift Not at all. I'll close mine.

[2022-11-29 20:09] timo-klarshift commented on #2441
@lizardruss sure, there you go:

[code]

`devspace render`

[code]

[2022-11-29 20:37] lizardruss commented on #2441
@timo-klarshift Thanks! There's another similar issue that I'm working on, so I'll be sure to add this to the test cases.

[2022-11-29 20:42] #2442 closed

[2022-11-30 00:26] lizardruss commented on #2441
@timo-klarshift Could you try [this configuration](https://github.com/loft-sh/devspace/issues/2441#issuecomment-1331236733) with v6.0.0?

It seems that this behavior has existed for a while. I even converted the schema to `v1beta11` and ran it with DevSpace v5.18.5 and the value for DB_USER was still replaced.

The issue with the container name being replaced has a fix, but cases where values matc

[2022-11-30 07:24] pratikjagrut commented on #2434
@oconnor17 We'll document this somewhere if we don't find a better solution, but before that, I was looking if we could have a workaround for both issues.
- 1st is the vscode issue which we know the workaround.
- 2nd is ssh from windows, where we get the `WARNING: UNPROTECTED PRIVATE KEY FILE! ` error. I feel this is because of file permission configuration in wsl and windows.

Have you tried this

[2022-11-30 07:36] pratikjagrut commented on #2434
@cslovell This usually happens when the server is stopped.
Can you confirm if the devspace dev is running while trying ssh?
And does the vscode workaround works for you?

[2022-11-30 11:04] pratikjagrut opened #2446 "devspace sync upload is not working on subfolders of symlink"
**What happened?**
DevSpace sync does not sync changes to the container from the subfolders of a symlink.

**What did you expect to happen instead?**
DevSpace sync should sync changes to the container from the subfolders of a symlink.

**How can we reproduce the bug?** (as minimally and precisely as possible)

1. Create a directory structure like `mkdir -p newDir/testDir`
2. Create a file in both

[2022-11-30 13:14] #2441 closed

[2022-11-30 15:08] ADustyOldMuffin commented on #2442
This still is not fixed, I cannot get Devspace to not attempt to push to the local registry without the variable set in each devspace.yaml file. Even with this flag it will still attempt to push to localhost and fail on some images.

[2022-11-30 15:38] Andrioden commented on #339
Any news on this?

[2022-11-30 15:52] Andrioden commented on #339
Another solution is to allow a flag --github-dl-pat [PAT] which downloads the file from github with that as the authorization header.

You can drive inspiration from this: https://stackoverflow.com/a/50145177/686131

[2022-11-30 22:54] lee-aaron opened #2447 "devspace build not working on WSL2"
**What happened?**
This runs fine on my MacOS but I can't seem to build devspace on WSL2. Getting the output below.

[code]

**What did you expect to happen instead?**
Pretty much expect to be able to authenticate without coming across a 403 forbidden error. I should see building / deploying working fine.

**How can we reproduce the bug?** (as minimally and precisely as possible)
On a Windows mach

[2022-11-30 23:39] lizardruss commented on #2447
@lee-aaron Hello! It looks like our new local registry feature is interfering with your existing registry. Could you try disabling it by adding this to your `devspace.yaml` config?
[code]